Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

feat(core): treat unshared crashed nexus as clean when scheduling replicas
  control-plane/agents/src/bin/core/nexus/scheduling.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/scheduling.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/store/nexus_persistence.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

ci: ensure Cargo.lock is up-to-date in PR
  .github/workflows/lint.yml
  Cargo.lock
Due: none

test: fix racy health check
  control-plane/agents/src/bin/core/tests/volume/mod.rs
Due: rust-lint, rust-style

refactor: allow selective reset on pool clear-error api
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/lib.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

feat(core): pre-flight viability check and safe teardown for offline rebuild
  control-plane/agents/src/bin/core/controller/reconciler/volume/offline_rebuild.rs
  control-plane/agents/src/bin/core/tests/volume/offline_rebuild.rs
  control-plane/agents/src/bin/core/volume/mod.rs
Due: rust-lint, rust-style

feat(app-node): plumb transport capabilities through registration
  control-plane/agents/src/bin/core/app_node/specs.rs
  control-plane/agents/src/bin/core/tests/app_node/mod.rs
  control-plane/csi-driver/src/bin/node/client.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/registration.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/proto/v1/node/app_node.proto
  control-plane/grpc/proto/v1/registration/app_node_registration.proto
  control-plane/grpc/src/operations/app_node/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/app_node.rs
  control-plane/stor-port/src/types/v0/store/app_node.rs
  control-plane/stor-port/src/types/v0/transport/app_node.rs
Due: rust-lint, rust-style

fix(agent/ha-node): slightly more robust new connection handling
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/path_provider.rs
  control-plane/agents/src/bin/ha/node/server.rs
Due: rust-lint, rust-style

fix: run fio on non/io-engine cores using taskset
  control-plane/agents/src/bin/core/tests/volume/rwx.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  tests/bdd/common/fio.py
  tests/bdd/common/nvme.py
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
  tests/io-engine/tests/rebuild.rs
  tests/io-engine/tests/reservations.rs
  tests/io-engine/tests/upgrade.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style, python-check

test: wait for non online status
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

test(deployer): stop should cleanup rwx vm
  deployer/src/infra/rwx_vm.rs
  deployer/src/lib.rs
Due: rust-lint, rust-style

test(deployer): fix missing rwx vm cleanup after flag refactor
  deployer/Cargo.toml
  deployer/src/infra/agents/core.rs
  deployer/src/infra/agents/ha/cluster.rs
  deployer/src/infra/agents/ha/node.rs
  deployer/src/infra/agents/jsongrpc.rs
  deployer/src/infra/csi-driver/controller.rs
  deployer/src/infra/csi-driver/node.rs
  deployer/src/infra/dns.rs
  deployer/src/infra/elastic.rs
  deployer/src/infra/empty.rs
  deployer/src/infra/etcd.rs
  deployer/src/infra/fio_spdk.rs
  deployer/src/infra/io_engine.rs
  deployer/src/infra/jaeger.rs
  deployer/src/infra/kibana.rs
  deployer/src/infra/mod.rs
  deployer/src/infra/nats.rs
  deployer/src/infra/rest.rs
  deployer/src/infra/rwx_vm.rs
  deployer/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

test(deployer): enable interrupt when not-isolated
  deployer/src/infra/io_engine.rs
Due: rust-lint, rust-style

test: ensure pools are online
  control-plane/agents/src/bin/core/tests/volume/offline_rebuild.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

ci: log docker container logs to journald
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
Due: rust-lint, rust-style

test: test ci
  .github/workflows/unit-int.yml
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  scripts/rust/test.sh
Due: rust-lint, rust-style

test: killed nexus means no live replicas
  control-plane/agents/src/bin/core/tests/volume/mod.rs
Due: rust-lint, rust-style

test: snapshot creation may fail with not found
  tests/bdd/features/snapshot/create/feature.feature
  tests/bdd/features/snapshot/create/test_feature.py
Due: python-check

refactor(deployer): specify previous io-engine instead of idle
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  deployer/src/infra/io_engine.rs
  deployer/src/lib.rs
  utils/bundle-sim/src/bin/bundle-sim.rs
Due: rust-lint, rust-style

ci: use setup-nix action for reuse
  .github/actions/setup-nix/action.yml
  .github/workflows/bdd.yml
  .github/workflows/crds.yaml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
  .github/workflows/unit-int.yml
Due: none

ci: add rust caching to setup-nix action
  .github/actions/setup-nix/action.yml
  .github/workflows/bdd.yml
  .github/workflows/crds.yaml
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/unit-int.yml
Due: none

build: don't run checks on e2fsprogs
  nix/pkgs/images/default.nix
Due: none

fix(core): offline rebuild reconciler picks up scale-up replicas
  control-plane/agents/src/bin/core/controller/reconciler/volume/offline_rebuild.rs
  control-plane/agents/src/bin/core/tests/volume/offline_rebuild.rs
Due: rust-lint, rust-style

feat(grpc): add snapshot group operations to volume service
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/misc/traits.rs
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/mod.rs
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshot_groups.rs
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
Due: rust-lint, rust-style

feat(stor-port): add volume snapshot group store type
  control-plane/stor-port/src/types/v0/store/snapshots/group.rs
  control-plane/stor-port/src/types/v0/store/snapshots/mod.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
  utils/pstor/src/common.rs
Due: rust-lint, rust-style

feat(rest): add volume snapshot group endpoints
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
Due: rust-lint, rust-style

feat(agents): implement volume snapshot group orchestration
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/controller/resources/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/group_snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/mod.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_helpers.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/stor-port/src/types/v0/store/snapshots/group.rs
Due: rust-lint, rust-style

ci: use openebs bot account tokens
  .github/workflows/develop-to-release.yml
  .github/workflows/mod-update.yml
  .github/workflows/pr-submodule-branch.yml
  .github/workflows/staging.yml
Due: none

fix: refresh node rebuild count on single nexus update
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

feat(kube-proxy): add ConfigBuilder<Nats> for NATS service discovery
  k8s/proxy/src/proxy.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

refactor: clarify replace path messages
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
Due: rust-lint, rust-style

ci: remove hardcoded user
  .github/actions/setup-nix/action.yml
Due: none

ci: run unit/bdd/image tests on arm runners
  .github/actions/setup-nix/action.yml
  .github/workflows/bdd.yml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/unit-int.yml
Due: none

build: fix bindgen and stdenv
  shell.nix
Due: none

test: skip rwx if kvm is not available
  control-plane/agents/src/bin/core/tests/volume/rwx.rs
Due: rust-lint, rust-style

test: test things
  .github/workflows/unit-int.yml
Due: none

test: test things
  shell.nix
Due: none
