Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

build: fix cargo-vendor-dir handling
  scripts/release.sh
Due: none

feat(topology): add affinity-topology-key code to stor-port
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

feat(topology): add affinity-topology-key code to grpc
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
Due: rust-lint, rust-style

feat(topology): add affinity-topology-key code to csi-driver
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

feat(topology): add affinity-topology-key code to rest
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

feat(topology): add affinity-topology-key code to core
  control-plane/agents/src/bin/core/tests/deserializer.rs
  tests/bdd/features/volume/topology/test_feature.py
Due: rust-lint, rust-style, python-check

feat(topology): add affinity to tests
  tests/bdd/features/volume/nexus/test_feature.py
  tests/bdd/features/volume/topology/test_feature.py
  tests/bdd/features/volume/topology/test_node_topology.py
  tests/bdd/features/volume/topology/test_pool_topology.py
Due: python-check

build: support relative cargo-vendor-dir path with non-existing
  scripts/release.sh
Due: none

fix: update dependencies crate
  Cargo.lock
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  scripts/release.sh
  utils/utils-lib/Cargo.toml
Due: rust-lint, rust-style

build: upgrade nvmeadm crate and nixpkgs
  nix/pkgs/openapi-generator/default.nix
  nix/sources.json
  tests/bdd/common/fio.py
  tests/bdd/common/nvme.py
  tests/bdd/features/csi/controller/test_controller.py
  tests/bdd/features/ha/test_robustness.py
Due: python-check

test(python/ha): handle already connected error
  tests/bdd/common/nvme.py
Due: python-check

test(bdd): always specify hostid
  tests/bdd/common/command.py
  tests/bdd/common/nvme.py
  tests/bdd/features/csi/controller/test_controller.py
  tests/bdd/features/volume/get/test_feature.py
  tests/bdd/features/volume/resize/test_resize_offline.py
  tests/bdd/features/volume/resize/test_resize_online.py
  tests/bdd/features/volume_group/create/test_create.py
  tests/bdd/features/volume_group/publish/test_publish.py
  tests/bdd/features/volume_group/set_replica/test_set_replica.py
Due: python-check

build: upgrade rustls crate
  Cargo.lock
  control-plane/rest/Cargo.toml
  openapi/Cargo.toml
Due: none

build: pin nixpkgs until we verify e2fs version requirement
  nix/pkgs/openapi-generator/default.nix
  nix/sources.json
Due: none

ci(rust): ensure newer io-engine image is pulled
  Jenkinsfile
Due: none

ci: set own container registry from git origin
  scripts/rust/branch_ancestor.sh
  utils/utils-lib/build.rs
Due: rust-lint, rust-style

fix: ensure registry is lower case
  scripts/rust/branch_ancestor.sh
Due: none

feat(snapshot): add plugin command to see snapshot topology
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/plugin/src/resources/utils.rs
Due: rust-lint, rust-style

feat(topology): add filter pools by labels feature to stor-port
  control-plane/stor-port/src/types/v0/transport/misc.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

feat(topology): add filter pools by labels feature to csi,plugin,operator
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/plugin/src/resources/pool.rs
  k8s/operators/src/pool/diskpool/client.rs
Due: rust-lint, rust-style

feat(topology): add filter pools by labels feature to core
  control-plane/agents/src/bin/core/pool/registry.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

feat(topology): add filter pools by labels feature to grpc
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/traits.rs
Due: rust-lint, rust-style

feat(topology): add filter pools by labels feature to rest-api
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
Due: rust-lint, rust-style

chore: update policy documents
  CONTRIBUTING.md
  GOVERNANCE.md
  MAINTAINERS
Due: none

feat(topology): add pool filter on node_id and labels
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/pool.rs
Due: rust-lint, rust-style

chore: update MAINTAINERS signpost link
  MAINTAINERS
Due: none

ci: make container image tag prefix configurable
  default.nix
  nix/config.nix
  nix/overlay.nix
  nix/pkgs/images/default.nix
  scripts/release.sh
Due: none

feat(snap-rebuild): add io-engine controller api
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/types.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/snap_rebuild.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/snap_rebuild.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  rpc/build.rs
  rpc/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

fix(snapshot): scale volume with snapshot can go for replica rebuild
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

refactor(ha): extend reuse_existing use cases
  control-plane/agents/src/bin/ha/cluster/etcd.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
Due: rust-lint, rust-style

feat(nvmf/nqn): allow using custom nvme nqn prefix
  Cargo.lock
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/bin/ha/cluster/volume.rs
  control-plane/agents/src/bin/ha/node/path_provider.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/csi-driver/src/bin/node/dev.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/Cargo.toml
  control-plane/stor-port/src/types/v0/transport/nvme_nqn.rs
  deployer/src/infra/io_engine.rs
  tests/bdd/common/__init__.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
  tests/io-engine/Cargo.toml
  tests/io-engine/tests/reservations.rs
  tests/io-engine/tests/upgrade.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style, python-check

feat(pstor/etcd): allow using custom prefix
  Cargo.lock
  tests/bdd/common/__init__.py
  tests/bdd/common/etcd.py
  utils/pstor/Cargo.toml
  utils/pstor/src/products/v2.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style, python-check

feat(diskpool): allow for custom api name
  control-plane/agents/src/bin/core/controller/resources/migration.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  k8s/operators/src/pool/context.rs
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/crd/migration.rs
  k8s/operators/src/pool/diskpool/crd/mod.rs
  tests/bdd/common/__init__.py
  tests/bdd/features/csi/controller/test_controller.py
  tests/bdd/features/csi/node/test_csi.py
  tests/bdd/features/csi/node/test_node.py
  tests/bdd/features/snapshot/csi/controller/test_operations.py
  tests/bdd/features/volume/topology/test_feature.py
  tests/bdd/features/volume/topology/test_node_topology.py
  tests/bdd/features/volume/topology/test_pool_topology.py
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style, python-check

feat(csi): allow for custom plugin name
  control-plane/agents/src/bin/core/tests/controller/mod.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/controller/identity.rs
  control-plane/csi-driver/src/bin/controller/pvwatcher.rs
  control-plane/csi-driver/src/bin/node/identity.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/node.rs
  control-plane/csi-driver/src/lib.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/lib.rs
  tests/bdd/common/__init__.py
  tests/bdd/features/csi/controller/test_controller.py
  tests/bdd/features/csi/controller/test_identity.py
  tests/bdd/features/csi/node/test_csi.py
  tests/bdd/features/csi/node/test_identity.py
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style, python-check

chore: expose test constants
  scripts/rust/branch_ancestor.sh
  utils/utils-lib/src/lib.rs
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

fix(csi-node): use correct nvme controller model id
  Cargo.lock
  control-plane/csi-driver/src/bin/node/match_dev.rs
  utils/utils-lib/Cargo.toml
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

feat(topology): add validation for node topology
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

ci(gha): init the submodules during workflow
  .github/workflows/develop-to-release.yml
  .github/workflows/pr-commitlint.yml
Due: none

ci(gha): update secret names
  .github/workflows/develop-to-release.yml
Due: none
