Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

refactor(kube-forward): remove local work-around
  k8s/forward/src/http_forward.rs
Due: rust-lint, rust-style

chore: prepare release v1.0.9
  deploy/core-agents-deployment.yaml
  deploy/csi-deployment.yaml
  deploy/msp-deployment.yaml
  deploy/rest-deployment.yaml
  scripts/check-deploy-yamls.sh
Due: none

chore(deps): update k8s-openapi lib version to v1_25
  control-plane/csi-driver/Cargo.toml
  k8s/forward/Cargo.toml
  k8s/operators/Cargo.toml
  utils/platform/Cargo.toml
Due: none

chore(gitignore): replace rpc/mayastor-api with rpc/api
  .gitignore
Due: none

build: fix wrong rpc api protobuf location
  tests/bdd/setup.sh
Due: none

build: use lld linker globally
  .cargo/config
  nix/pkgs/control-plane/cargo-project.nix
Due: none

ci: publish binaries on release
  .github/workflows/publish-release-artifacts.yml
Due: none

fix(nvme-connect): compare subsystem address with host:port only
  control-plane/agents/src/bin/ha/node/server.rs
Due: rust-lint, rust-style

chore: fix security alerts
  tests/bdd/requirements.txt
Due: none

fix: use relative url for submodule
  .gitmodules
Due: none

feat(eventing): add switch over events
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/ha/cluster/main.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/lib.rs
  deployer/src/infra/agents/ha/cluster.rs
Due: rust-lint, rust-style

feat(eventing): nvme path events
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/agents/src/lib.rs
Due: rust-lint, rust-style

feat(eventing): update eventing component test
  control-plane/agents/src/bin/core/tests/event/mod.rs
Due: rust-lint, rust-style

feat(ha): csi node should label nodes with nvme ana capability
  control-plane/csi-driver/src/bin/node/main_.rs
Due: rust-lint, rust-style

feat(HA): node agent should not report failed paths if ana is not supported
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/ha/node/reporter.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  utils/utils-lib/src/constants.rs
  utils/utils-lib/src/lib.rs
Due: rust-lint, rust-style

fix(composer): capture logs from failed tests
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

ci(gha/bors): run commit and submodule check on the staging branch
  .github/workflows/pr-commitlint.yml
  .github/workflows/pr-submodule-branch.yml
Due: none

ci: pass DCO on staging
  .github/workflows/staging-dco.yml
Due: none

test(terraform/lxd): fix lxd terraform provider
  terraform/cluster/main.tf
  terraform/cluster/mod/k8s/repo.sh
  terraform/cluster/mod/lxd/main.tf
Due: none

fix(pool/destroy): destroy when not found
  control-plane/agents/src/bin/core/pool/pool_operations.rs
Due: rust-lint, rust-style

ci(events): disable events test until fixed
  control-plane/agents/src/bin/core/tests/event/mod.rs
Due: rust-lint, rust-style

feat(agent-core): add disable-ha arg to core-agent
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
Due: rust-lint, rust-style

feat(drain): disallow republish when HA is disabled
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/service.rs
Due: rust-lint, rust-style

feat(drain): disallow drain when HA is disabled
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

fix(csi-node/nvmf/fixup): fixup correct nvme controller
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
Due: rust-lint, rust-style

fix(nexus/add-child/v1): make add child v1 idempotent
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/tests/nexus/mod.rs
  deployer/src/infra/io_engine.rs
  deployer/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

feat(csi/node/timeout): add nvme-io-engine timeout and parse humantime
  control-plane/csi-driver/src/bin/node/config.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/context.rs
  tests/bdd/features/csi/node/test_parameters.py
Due: rust-lint, rust-style, python-check

chore(ci): update git submodules
  .gitmodules
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

feat(eventing): whitelisting events for eventing component test
  control-plane/agents/src/bin/core/tests/event/mod.rs
Due: rust-lint, rust-style

feat(topology): add topology in dsp
  Cargo.lock
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/v1beta1.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

ci(gha): fix submodule check
  .github/workflows/pr-submodule-branch.yml
Due: none

fix(kubectl-plugin): non-zero exit code on error
  Cargo.lock
  control-plane/plugin/Cargo.toml
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/blockdevice.rs
  control-plane/plugin/src/resources/cordon.rs
  control-plane/plugin/src/resources/drain.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

refactor(nix/build): replace builtins.filterSource and builtins.path
  nix/lib/version.nix
  nix/pkgs/control-plane/cargo-project.nix
Due: none

feat(replica/resize): prepare and call resize gRPC to data plane
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

feat(resize): define trait for resource resize
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/pool/replica_operations.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/stor-port/src/types/v0/store/replica.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

feat(replica/resize): add resize operation to volume grpc service
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

feat(topology): add topology to dsp and migrate to v-1beta2
  k8s/operators/src/pool/context.rs
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/migration.rs
  k8s/operators/src/pool/diskpool/mod.rs
  k8s/operators/src/pool/diskpool/v1beta2.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

Revert "feat(topology): Add topology to dsp and migrate to v1beta2"
  k8s/operators/src/pool/context.rs
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/migration.rs
  k8s/operators/src/pool/diskpool/mod.rs
  k8s/operators/src/pool/diskpool/v1beta1.rs
  k8s/operators/src/pool/diskpool/v1beta2.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

feat(resize/volume): add openapi spec and REST service interface
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
Due: rust-lint, rust-style

feat(eventing): add node name to nvme path events
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/reporter.rs
  deployer/src/infra/agents/ha/node.rs
Due: rust-lint, rust-style
