Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

test: test things
  shell.nix
Due: none

ci: run image tests on arm runners
  .github/actions/setup-nix/action.yml
  .github/workflows/bdd.yml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/unit-int.yml
Due: none

test: skip rwx if kvm is not available
  control-plane/agents/src/bin/core/tests/volume/rwx.rs
Due: rust-lint, rust-style

build: fix bindgen and stdenv
  shell.nix
Due: none

fix(ci): trigger release workflow on published instead of created
  .github/workflows/release.yml
Due: none

test: test things
  .github/actions/setup-nix/action.yml
  .github/workflows/image-pr.yml
Due: none

chore(ci): update git submodules
  .gitmodules
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

test: collect rwx vm build and run logs in ci-report
  deployer/misc/rwx-vm/csi-node-2.nix
  deployer/src/infra/rwx_vm.rs
Due: rust-lint, rust-style

fix(csi-node): self-heal NodePublishVolume when staging mount is missing
  control-plane/csi-driver/src/bin/node/node.rs
Due: rust-lint, rust-style

fix(csi-node): skip force_unstage on a just-staged volume
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/node.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_grpc.rs
  control-plane/csi-driver/src/bin/node/recent_stage.rs
Due: rust-lint, rust-style

feat(pool-drain): add drain_spec to PoolUSPec
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
Due: rust-lint, rust-style

feat(rox): plumb read_only through publish path
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/nexus/specs.rs
  control-plane/agents/src/bin/core/tests/nexus/mod.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/rox.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/nexuses.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

fix(labels): allow slashes in delete_node_label/del_pool_label keys
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

fix(labels): allow slashes in node cordon/uncordon/drain labels too
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

feat(pool-drain): add pool drain record
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

test: test sboms
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .gitignore
Due: none

build: use static CDN for naersk crates
  nix/lib/rust.nix
  nix/pkgs/control-plane/cargo-project.nix
Due: none

ci: run on arm cncf runners
  .github/workflows/bdd.yml
  .github/workflows/io-engine.yml
  .github/workflows/unit-int.yml
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  deployer/src/infra/fio_spdk.rs
  deployer/src/lib.rs
Due: rust-lint, rust-style

test: test github ci
  .github/workflows/bdd.yml
Due: none

ci: run on arm cncf runners
  .github/workflows/bdd.yml
  .github/workflows/io-engine.yml
  .github/workflows/unit-int.yml
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  deployer/src/infra/fio_spdk.rs
  deployer/src/lib.rs
  tests/bdd/features/rebuild/test_log_based_rebuild.py
  tests/bdd/features/snapshot/garbage-collection/test_garbage-collection.py
Due: rust-lint, rust-style, python-check

build: upgrade to rust 1.97.1
  nix/lib/rust.nix
  nix/sources.json
Due: none

build: switch to rustls for coming fips feature
  Cargo.lock
  Cargo.toml
  control-plane/plugin/Cargo.toml
  control-plane/rest/Cargo.toml
  k8s/operators/Cargo.toml
  k8s/proxy/Cargo.toml
  nix/pkgs/control-plane/cargo-project.nix
  openapi/Cargo.toml
  openapi/templates/default/Cargo.mustache
  openapi/templates/default/actix/mod.mustache
  openapi/templates/default/lib.mustache
  openapi/templates/default/mod_clients.mustache
  openapi/templates/default/tower-hyper/client/configuration.mustache
  shell.nix
  utils/event-consumer/Cargo.toml
  utils/utils-lib/Cargo.toml
Due: none

refactor: tackle new clippy warns on rust 1.97.1
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
  control-plane/agents/src/bin/core/registry/service.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/node/filesystem_vol.rs
  control-plane/csi-driver/src/bin/node/node.rs
  control-plane/rest/service/src/main.rs
  control-plane/stor-port/src/types/v0/store/mod.rs
  control-plane/stor-port/src/types/v0/store/registry.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
  control-plane/stor-port/src/types/v0/transport/misc.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
  control-plane/stor-port/src/types/v0/transport/watch.rs
  k8s/operators/src/pool/context.rs
  openapi/templates/default/model.mustache
  utils/event-consumer/src/consumer.rs
  utils/pstor-usage/src/simulation.rs
  utils/pstor/src/etcd_keep_alive.rs
  utils/pstor/src/etcd_watcher.rs
Due: rust-lint, rust-style

feat(pool): add GetPoolHealth gRPC for disk SMART data
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/types.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/pool.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/pool.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/mod.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
  rpc/src/lib.rs
  utils/bundle-sim/src/bin/io-engine.rs
Due: rust-lint, rust-style

feat(pool-drain): add grpc service and spec operations
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/node/operations.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/mod.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
Due: rust-lint, rust-style

build: upgrade h2 and reqwest crates
  Cargo.lock
  Cargo.toml
  deployer/Cargo.toml
Due: none

build: upgrade tonic and rustls
  Cargo.lock
  Cargo.toml
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/tests/watch/mod.rs
  control-plane/agents/src/lib.rs
  control-plane/grpc/src/tracing.rs
  control-plane/rest/Cargo.toml
  utils/deployer-cluster/Cargo.toml
  utils/deployer-cluster/src/lib.rs
  utils/utils-lib/src/tracing_telemetry.rs
Due: rust-lint, rust-style

feat(pool-drain): adding rest change for drain api
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/plugin/src/resources/impact.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

chore: silence otel logs
  Cargo.lock
  Cargo.toml
Due: none

feat(docker/image): build and push multi-arch container images
  .github/workflows/image.yml
Due: none

ci(image): build and attest the image SBOMs
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .gitignore
Due: none

ci: auto-approve Dependabot PRs
  .github/mergify.yml
Due: none

test: wa for racy create error test
  tests/bdd/features/volume/create/test_feature.py
Due: python-check

chore(ci): update git submodules
  utils/bundle-sim/src/bin/io-engine.rs
Due: rust-lint, rust-style
