Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

fix(csi): return FailedPrecondition instead of NotFound on freeze failure
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

feat(agent/core): add replica and snapshot count to node
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
Due: rust-lint, rust-style

feat: add resource tally to the rest-plugin for node objects
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/utils.rs
Due: rust-lint, rust-style

feat: add node resource tallies to the internal service
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/grpc/proto/v1/node/target_node.proto
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
Due: rust-lint, rust-style

feat: expose node resource tally on the public api
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
Due: rust-lint, rust-style

refactor: generate display for openapi inline enums
  openapi/templates/default/model.mustache
Due: none

feat(plugin): add app-nodes subcommand to rest-plugin
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/resources/app_node.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: rust-lint, rust-style

fix(csi/controller): add missing type value to cli argument
  control-plane/csi-driver/src/bin/controller/main.rs
Due: rust-lint, rust-style

build: remove openssl dependency for windows plugins
  Cargo.lock
  Cargo.toml
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/plugin/Cargo.toml
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/rest_wrapper.rs
  control-plane/rest/Cargo.toml
  control-plane/stor-port/src/types/v0/transport/child.rs
  k8s/operators/Cargo.toml
  k8s/proxy/Cargo.toml
  nix/pkgs/control-plane/cargo-project.nix
  openapi/Cargo.toml
  openapi/templates/default/Cargo.mustache
  openapi/templates/default/actix/mod.mustache
  openapi/templates/default/lib.mustache
  openapi/templates/default/mod_clients.mustache
  openapi/templates/default/tower-hyper/client/configuration.mustache
  shell.nix
  utils/utils-lib/Cargo.toml
Due: rust-lint, rust-style

fix: add rustls and aws-lc features to kube
  Cargo.lock
  Cargo.toml
Due: none

revert: "fix: add rustls and aws-lc features to kube"
  Cargo.lock
  Cargo.toml
Due: none

revert: "build: remove openssl dependency for windows plugins"
  Cargo.lock
  Cargo.toml
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/plugin/Cargo.toml
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/rest_wrapper.rs
  control-plane/rest/Cargo.toml
  control-plane/stor-port/src/types/v0/transport/child.rs
  k8s/operators/Cargo.toml
  k8s/proxy/Cargo.toml
  nix/pkgs/control-plane/cargo-project.nix
  openapi/Cargo.toml
  openapi/templates/default/Cargo.mustache
  openapi/templates/default/actix/mod.mustache
  openapi/templates/default/lib.mustache
  openapi/templates/default/mod_clients.mustache
  openapi/templates/default/tower-hyper/client/configuration.mustache
  shell.nix
  utils/utils-lib/Cargo.toml
Due: rust-lint, rust-style

build: update dependencies to pick up hot-remove changes
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
Due: rust-lint, rust-style

chore: add security to commitlinter subject
  commitlint.config.js
Due: none

security: update test python packages
  tests/bdd/requirements.txt
Due: none

fix: don't schedule on critical pools
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
Due: rust-lint, rust-style

ci: don't comment from crd wf on fork PRs
  .github/workflows/crds.yaml
Due: none

chore(ci): update git submodules
  .gitmodules
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

build: use static CDN to pull crates
  nix/pkgs/control-plane/cargo-project.nix
Due: none

fix: reject cross fs restore if fs type is different
  control-plane/csi-driver/src/bin/node/format.rs
Due: rust-lint, rust-style

feat(core): add OfflineRebuildReconciler skeleton (detection-only)
  control-plane/agents/src/bin/core/controller/reconciler/volume/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/offline_rebuild.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
Due: rust-lint, rust-style

fix(operator): compare disk pool quantities by bytes
  k8s/operators/src/pool/diskpool/crd/quantity.rs
Due: rust-lint, rust-style

feat(core): implement offline rebuild for unpublished degraded volumes
  control-plane/agents/src/bin/core/controller/reconciler/volume/offline_rebuild.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/offline_rebuild.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

test(pool/delete): retry pool deletion
  tests/bdd/features/pool/delete/test_feature.py
Due: python-check

fix: resize undersized replicas before retrying nexus resize
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
Due: rust-lint, rust-style

ci: debug test
  .github/workflows/bdd.yml
Due: none

test(pool): don't starve other io-engines
  tests/bdd/features/pool/delete/test_feature.py
  tests/bdd/features/pool/label/test_label_unlabel_pool.py
  tests/bdd/features/pool/reconcile/test_feature.py
Due: python-check

fix: race between deregister and reload
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/tests/pool/purge.rs
Due: rust-lint, rust-style

feat(core): add bestEffort snapshot restore policy
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot_clone.rs
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/plugin/src/resources/tests.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

fix(pool/tally): account for snapshot clone creation
  control-plane/agents/src/bin/core/pool/replica_operations.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot_clone.rs
Due: rust-lint, rust-style

feat(core): handle CSI publish promotion on offline-rebuild volumes
  control-plane/agents/src/bin/core/controller/reconciler/volume/offline_rebuild.rs
  control-plane/agents/src/bin/core/tests/volume/offline_rebuild.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

refactor(rest): streamline TLS and JWT authentication across clients
  .vscode/settings.json
  Cargo.lock
  Cargo.toml
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/config.rs
  control-plane/csi-driver/src/bin/controller/identity.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/node/client.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/plugin/Cargo.toml
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/resources/tests.rs
  control-plane/plugin/src/rest_wrapper.rs
  control-plane/rest/Cargo.toml
  control-plane/rest/certs/build.sh
  control-plane/rest/service/src/authentication.rs
  control-plane/rest/service/src/main.rs
  control-plane/rest/src/lib.rs
  control-plane/rest/tests/v0_test.rs
  deployer/src/infra/rest.rs
  deployer/src/lib.rs
  k8s/forward/Cargo.toml
  k8s/forward/examples/http-forward.rs
  k8s/forward/examples/port-forward.rs
  k8s/forward/src/lib.rs
  k8s/forward/src/port_forward.rs
  k8s/operators/src/pool/main.rs
  k8s/proxy/src/lib.rs
  k8s/proxy/src/proxy.rs
  openapi/templates/default/tower-hyper/client/configuration.mustache
  openapi/templates/default/tower-hyper/examples/example.rs
  utils/deployer-cluster/src/rest_client.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

feat(tls): add missing ca certficate store
  nix/pkgs/images/default.nix
Due: none

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
