Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

feat(plugin/list_snapshots): provide get operation for volume snapshots
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/plugin/src/resources/tests.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/rest/service/src/v0/snapshots.rs
Due: rust-lint, rust-style

feat(snapshots): add garbage collectors for pruning and orphaned pending creation resources
  control-plane/agents/src/bin/core/controller/reconciler/snapshot/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
Due: rust-lint, rust-style

fix(snapshot/grpc): add missing snapshot state conversions
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/replica_operations.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/grpc/proto/v1/snapshot/snapshot.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/stor-port/src/types/v0/store/snapshots/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
Due: rust-lint, rust-style

chore(protobuf/volume): rearrange protobuf fields for get snapshots
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/plugin/src/resources/snapshot.rs
Due: rust-lint, rust-style

fix(snapshot/grpc): fix missing transactions and state information
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/proto/v1/snapshot/snapshot.proto
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
Due: rust-lint, rust-style

chore: pin dataplane test images
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

feat(snapshot): update io_engine controller to make use of updated api
  control-plane/agents/src/bin/core/controller/io_engine/v1/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  rpc/build.rs
  rpc/src/lib.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

fix(snapshot/pool): collect pool information from rpc
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
Due: rust-lint, rust-style

fix(agents/core): don't use transaction for node and certain other operations
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/nexus/specs.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/volume/snapshot_helpers.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/store/mod.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/store/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/store/switchover.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  shell.nix
Due: rust-lint, rust-style

fix(agents/core): handle pending snapshot operations
  control-plane/agents/src/bin/core/controller/reconciler/persistent_store.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/store/snapshots/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
Due: rust-lint, rust-style

chore(snapshots): openapi translations for transactions and state
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/rest/service/src/v0/snapshots.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
Due: rust-lint, rust-style

feat(list_snapshots): pagination support for listing snapshots
  control-plane/agents/src/bin/core/controller/resources/resource_map.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/plugin/src/resources/tests.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
Due: rust-lint, rust-style

fix(snapshots): fix source id in replica snapshot state
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
Due: rust-lint, rust-style

feat(snapshots): add bdd feature file for delete and garbage collection
  tests/bdd/features/snapshot/delete/__init__.py
  tests/bdd/features/snapshot/delete/delete.feature
  tests/bdd/features/snapshot/garbage_collection/__init__.py
  tests/bdd/features/snapshot/garbage_collection/garbage_collection.feature
Due: python-check

chore: add bdd test implementation for delete snapshot
  tests/bdd/features/snapshot/delete/test_delete.py
Due: python-check

fix: openapi type from bool to boolean for proper generation
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

chore: add the snapshots api to the common code base
  tests/bdd/common/apiclient.py
Due: python-check

chore: refactor openapi specs for replica snapshot states
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
Due: rust-lint, rust-style

chore: implement garbage collection bdds
  tests/bdd/common/docker.py
  tests/bdd/features/snapshot/garbage_collection/garbage_collection.feature
  tests/bdd/features/snapshot/garbage_collection/test_garbage_collection.py
Due: python-check

fix(snapshot): make timestamp optional and return correct errors
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/common/errors.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
  tests/bdd/features/volume/topology/test_feature.py
Due: rust-lint, rust-style, python-check

test(snapshot/bdd/create): add feature file for snapshot creation
  tests/bdd/features/snapshot/create/__init__.py
  tests/bdd/features/snapshot/create/feature.feature
Due: python-check

test(snapshot/bdd/create): add create snapshot bdd test impl
  tests/bdd/features/snapshot/create/test_feature.py
Due: python-check

fix(snapshots/ready): mark snapshots as ready if they're in the Created phase
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
Due: rust-lint, rust-style

chore(bdd): speed up existing tests
  tests/bdd/features/rebuild/test_log_based_rebuild.py
  tests/bdd/features/snapshot/delete/test_delete.py
Due: python-check

fix: build issue with multiple tag on HEAD + missing tag in kubectl binary
  .github/workflows/release_artifacts.yml
  scripts/release.sh
Due: none

fix: following the fix as in dataplane just to be in sync
  scripts/release.sh
Due: none

Multi tag fix (#578)
  .github/workflows/release_artifacts.yml
  scripts/release.sh
Due: none

feat(rebuild_history): resource map implementation for rebuild history
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/resources/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/states.rs
  control-plane/agents/src/bin/core/nexus/service.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/tests/rebuild/mod.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

fix: list params swapped and next token set
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

test(snapshots): add bdd file for snapshot listing
  tests/bdd/features/snapshot/list/list.feature
Due: none

fix: csi operations bdd test
  tests/bdd/features/snapshot/csi/controller/operations.feature
  tests/bdd/features/snapshot/csi/controller/test_operations.py
Due: python-check

fix(core/nexus): add children empty validation
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
Due: rust-lint, rust-style

fix(grpc/openapi): wrong shutdown conversion and missing shutting down
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/hot_spare.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

test(snapshot/create): fix node wait fixture to include pools
  tests/bdd/features/snapshot/create/test_feature.py
Due: python-check

fix(agent/node): ignore unimplemented errors when fetching
  control-plane/agents/src/bin/core/node/wrapper.rs
Due: rust-lint, rust-style

test(snapshots): add bdd tests for snapshot listing
  tests/bdd/features/snapshot/list/test_list.py
Due: python-check

test(snapshots): add snapshot size validation check
  tests/bdd/features/snapshot/list/test_list.py
Due: python-check

chore: extend dataplane ready_as_source to control-plane
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/proto/v1/snapshot/snapshot.proto
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
Due: rust-lint, rust-style

chore: csi-controller should reject not ready snapshot for volume creation source
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
