Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

feat(capacity/thin/plugin): add usage to rest plugin
  control-plane/plugin/Cargo.toml
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

feat(capacity/thin/openapi): add volume and replica usage the openapi
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

refactor(plugin): add new row trait to simplify single row resources
  control-plane/plugin/src/resources/blockdevice.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

feat(plugin): format byte size into appropriate unit
  control-plane/plugin/src/resources/blockdevice.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/volume.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/transport/blockdevice.rs
  utils/utils-lib/src/bytes.rs
  utils/utils-lib/src/lib.rs
Due: rust-lint, rust-style

test(capacity/bdd): volumes and replicas now have usage
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  tests/bdd/features/volume/create/test_feature.py
  tests/bdd/features/volume/observability/test_feature.py
Due: rust-lint, rust-style, python-check

chore(child/fault): make fault timestamp available in control plane
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
Due: rust-lint, rust-style

fix(io-engine/replica): destroy replica should be idempotent
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/pool/replica_operations.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/common/errors.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

fix(ha): nvme path replacement timeout
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/ha/node/server.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

feat(capacity/thin): add no space child state reason to the openapi
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
Due: rust-lint, rust-style

fix(fio-spdk): use tini for graceful shutdown
  deployer/src/infra/fio_spdk.rs
Due: rust-lint, rust-style

test(capacity/bdd): add thin volume rebuild bdd feature and test
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
  tests/bdd/features/capacity/thin/volume/rebuild.feature
  tests/bdd/features/capacity/thin/volume/test_rebuild.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
Due: python-check

refactor(bdd/fio): make fio-spdk a bit easier to use in bdd
  tests/bdd/common/deployer.py
  tests/bdd/common/fio.py
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
  tests/bdd/features/ha/core-agent/test_target_switchover.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
Due: python-check

feat(upgrade): migrate MayastorPool CRs to DiskPool CRs on operator startup
  k8s/operators/Cargo.toml
  k8s/operators/src/diskpool/mod.rs
  k8s/operators/src/lib.rs
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/crd.rs
  k8s/operators/src/pool/diskpool/mod.rs
  k8s/operators/src/pool/error.rs
  k8s/operators/src/pool/main.rs
  k8s/operators/src/pool/mayastorpool/client.rs
  k8s/operators/src/pool/mayastorpool/crd.rs
  k8s/operators/src/pool/mayastorpool/mod.rs
Due: rust-lint, rust-style

feat(openapi/repl-topology): add child status, reason and rebuild% to replica topology
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/transport/child.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

test(capacity/bdd): add thin volume mixed&cluster bdd feature and test
  control-plane/agents/src/bin/core/controller/reconciler/nexus/capacity.rs
  control-plane/agents/src/bin/core/controller/reconciler/pool/capacity.rs
  scripts/python/venv-setup-prep.sh
  tests/bdd/common/fio.py
  tests/bdd/features/capacity/thin/cluster.feature
  tests/bdd/features/capacity/thin/test_cluster.py
  tests/bdd/features/capacity/thin/volume/create.feature
  tests/bdd/features/capacity/thin/volume/mixed.feature
  tests/bdd/features/capacity/thin/volume/test_create.py
  tests/bdd/features/capacity/thin/volume/test_mixed.py
  tests/bdd/features/volume/topology/test_feature.py
Due: rust-lint, rust-style, python-check

feat(capacity/thin/plugin): add replica topologies subcommand
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

chore: change child fault timestamp type to systemtime from datatime
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
Due: rust-lint, rust-style

feat(upgrade): disable v1 compatibility mode when v1 nexus_infos are migrated
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/nexus/registry.rs
  control-plane/agents/src/bin/core/node/registry.rs
  control-plane/stor-port/src/types/v0/store/nexus_persistence.rs
  control-plane/stor-port/src/types/v0/store/registry.rs
  utils/pstor/src/error.rs
Due: rust-lint, rust-style

fix(nexusinfo): delete nexusinfo during volumedestroy when target was already destroyed
  control-plane/agents/src/bin/core/volume/operations.rs
Due: rust-lint, rust-style

refactor(capacity/thin): expose cli/env knobs to control overcommitment
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/hot_spare.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
Due: rust-lint, rust-style

feat(capacity/thin): add pool commitment filter
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
Due: rust-lint, rust-style

feat(openapi/pool): expose pool committed bytes
  control-plane/agents/src/bin/core/controller/reconciler/nexus/capacity.rs
  control-plane/agents/src/bin/core/controller/reconciler/pool/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/pool/operations_helper.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/registry.rs
  control-plane/agents/src/bin/core/pool/replica_operations.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/lib.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

test(rebuild/log-based): add bdd and test file
  control-plane/agents/src/bin/core/controller/policies/rebuild_policies.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
  deployer/src/infra/agents/core.rs
  deployer/src/lib.rs
  tests/bdd/common/deployer.py
  tests/bdd/features/rebuild/log-based-rebuild.feature
  tests/bdd/features/rebuild/test_log_based_rebuild.py
Due: rust-lint, rust-style, python-check

fix(rebuild/online_child): enforce max rebuilds
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/capacity.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
  scripts/rust/env-setup.sh
Due: rust-lint, rust-style

fix(io-engine/pools): committed bytes is now exposed by the dataplane
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

fix(io-engine/pools): committed bytes is now exposed by the dataplane
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

feat(partial_rebuild): add partial rebuild support in control plane
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/hot_spare.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
Due: rust-lint, rust-style

feat(partial_rebuild): add partial rebuild support in control plane
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
Due: rust-lint, rust-style

feat(partial_rebuild): add partial rebuild support in control plane
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
Due: rust-lint, rust-style

feat(partial_rebuild): add partial rebuild support in control plane
  tests/bdd/features/rebuild/test_rebuild.py
Due: python-check

feat(partial_rebuild): add partial rebuild support in control plane
  tests/bdd/features/volume/replicas/test_feature.py
Due: python-check
