Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

fix(plugin): sort tabled output on first column
  Cargo.lock
  control-plane/plugin/Cargo.toml
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

fix(plugin): sort node,pool labels and block devlinks
  control-plane/plugin/src/resources/blockdevice.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/pool.rs
Due: rust-lint, rust-style

fix(spread): use combinations fine tune candidates
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/specs.rs
Due: rust-lint, rust-style

fix(snapshot): specify timeout for create volume from snapshot
  control-plane/grpc/src/context.rs
Due: rust-lint, rust-style

fix(snapshot): candidates may be less than the snapshots
  control-plane/agents/src/bin/core/volume/clone_operations.rs
Due: rust-lint, rust-style

feat(plugin): add --show-node-labels to volume replica topologies
  control-plane/plugin/src/resources/tests.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

fix(node-spread): use spread policy on replica add/remove
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/node.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/plugin/src/resources/utils.rs
Due: rust-lint, rust-style

feat: add Prometheus metrics for Mayastor node status (#1698)
  Cargo.lock
  control-plane/rest/Cargo.toml
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/main.rs
  control-plane/rest/service/src/v0/metrics.rs
  control-plane/rest/service/src/v0/mod.rs
  control-plane/rest/tests/v0_test.rs
  scripts/rust/branch_ancestor.sh
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

fix: register custom metric handler before OpenAPI routes + dependency cleanup
  Cargo.lock
  control-plane/rest/Cargo.toml
  control-plane/rest/service/src/v0/mod.rs
  control-plane/rest/tests/v0_test.rs
Due: rust-lint, rust-style

feat(plugin): add --show-labels to volume replica topologies
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

refactor(plugin/snapshot): better column ids and human size
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/plugin/src/resources/utils.rs
Due: rust-lint, rust-style

refactor: log pool candidate names only
  control-plane/agents/src/bin/core/volume/specs.rs
Due: rust-lint, rust-style

chore(ci): update git submodules
  .gitmodules
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

chore: move scripts to dependencies and update paths
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
  scripts/staging/log.sh
  scripts/staging/mirror-images.sh
  scripts/staging/shell.nix
  scripts/staging/validate.sh
Due: none

Staging ci (#2)
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
Due: none

ci: enable mergify pr rules for auto backport
  .github/mergify.yml
Due: none

feat(affinity-group): support scale down to 1 replica
  control-plane/agents/src/bin/core/controller/scheduling/affinity_group.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/tests/volume/affinity_group.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  tests/bdd/features/volume-group/set-replica/feature.feature
  tests/bdd/features/volume-group/set-replica/test_set-replica.py
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style, python-check

test(ag): scale correct volume
  tests/bdd/features/volume-group/set-replica/test_set-replica.py
Due: python-check

refactor: simplify scheduling methods and a few fixes
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
Due: rust-lint, rust-style

fix: use sort unstable (not a fix)
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
Due: rust-lint, rust-style

test(bdd): fix test retry logic
  tests/bdd/features/snapshot/create/test_feature.py
Due: python-check

fix(bundle-sim): support umbrella bundle and bundle etcd-dump
  utils/bundle-sim/src/bin/bundle-sim.rs
  utils/bundle-sim/src/bin/io-engine.rs
Due: rust-lint, rust-style

fix(controller): handle empty string pagination token
  control-plane/csi-driver/src/bin/controller/pvwatcher.rs
Due: rust-lint, rust-style

chore: add staging workflows
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
  scripts/release.sh
Due: none

build: use shared workspace dependencies
  Cargo.lock
  Cargo.toml
  control-plane/agents/Cargo.toml
  control-plane/csi-driver/Cargo.toml
  control-plane/grpc/Cargo.toml
  control-plane/plugin/Cargo.toml
  control-plane/rest/Cargo.toml
  control-plane/stor-port/Cargo.toml
  deployer/Cargo.toml
  k8s/forward/Cargo.toml
  k8s/operators/Cargo.toml
  k8s/proxy/Cargo.toml
  openapi/Cargo.toml
  rpc/Cargo.toml
  tests/io-engine/Cargo.toml
  utils/bundle-sim/Cargo.toml
  utils/deployer-cluster/Cargo.toml
  utils/hyper-body/Cargo.toml
  utils/pstor-usage/Cargo.toml
  utils/pstor/Cargo.toml
  utils/shutdown/Cargo.toml
  utils/utils-lib/Cargo.toml
Due: none

fix: don't fail node unpublish if target path is an empty file
  control-plane/csi-driver/src/bin/node/node.rs
Due: rust-lint, rust-style
