Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

fix(test/nexus-gc): wait until nexus spec is removed
  control-plane/agents/src/bin/core/tests/volume/helpers.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
Due: rust-lint, rust-style

feat(rest_plugin): adding volume rebuild history
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
Due: rust-lint, rust-style

feat(ci): github action to initiate integration point run
  .github/workflows/trigger-integration-point.yml
Due: none

ci(jenkins): fetch cron schedule from remote repo
  .github/bors.toml
  .github/workflows/pr-submodule-branch.yml
  Jenkinsfile
Due: none

ci(jenkins): fetch cron schedule from remote repo
  .github/bors.toml
  Jenkinsfile
Due: none

fix(snapshot): take into account snapshots for replica allocation
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/proto/v1/replica/replica.proto
  control-plane/grpc/src/operations/replica/traits.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
Due: rust-lint, rust-style

fix(uncordon): wrong error message on uncordon
  control-plane/agents/src/bin/core/node/specs.rs
Due: rust-lint, rust-style

test(bdd): speedup tests by reusing clusters
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/ha/cluster/main.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/cluster/volume.rs
  deployer/src/infra/agents/ha/cluster.rs
  deployer/src/lib.rs
  scripts/python/test.sh
  scripts/rust/test.sh
  tests/bdd/common/deployer.py
  tests/bdd/common/etcd.py
  tests/bdd/common/operations.py
  tests/bdd/features/ha/cluster-agent/test_cluster_agent.py
  tests/bdd/features/ha/core-agent/test_target_switchover.py
  tests/bdd/features/ha/test_robustness.py
  tests/bdd/features/rebuild/test_log_based_rebuild.py
  tests/bdd/features/rebuild/test_rebuild.py
  tests/bdd/features/volume/create/test_feature.py
  tests/bdd/features/volume/replicas/test_feature.py
  tests/bdd/features/volume_group/create/test_create.py
  tests/bdd/features/volume_group/publish/test_publish.py
  tests/bdd/features/volume_group/set_replica/test_set_replica.py
Due: rust-lint, rust-style, python-check

ci(jenkins): cleanup on test failure
  Jenkinsfile
  scripts/python/test-residue-cleanup.sh
  scripts/python/test.sh
  scripts/rust/deployer-cleanup.sh
  scripts/rust/test.sh
Due: none

fix(snapshot): garbage collect creating snapshots with no transactions
  control-plane/agents/src/bin/core/controller/reconciler/snapshot/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/resources/mod.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/stor-port/src/types/v0/store/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
Due: rust-lint, rust-style

ci: don't cleanup more than necessary
  Jenkinsfile
  scripts/python/test.sh
  scripts/rust/test.sh
  tests/bdd/setup.sh
Due: none

ci(jenkins): cleanup on test failure
  Jenkinsfile
  scripts/bdd-tests.sh
  scripts/ctrlp-cargo-test.sh
  scripts/deployer-cleanup.sh
Due: none

test(nvme/connect): wait till the device is ready
  tests/bdd/common/nvme.py
Due: python-check

chore(rest-plugin): modify header for rebuild history cli
  Cargo.lock
  control-plane/plugin/Cargo.toml
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

chore: update openapi generator to include default field changes
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  nix/pkgs/openapi-generator/source.json
  scripts/nix/update-openapi-generator.sh
Due: none

ci: fix test race condition
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
Due: rust-lint, rust-style

fix(cordon-drain): return correct updated spec
  control-plane/agents/src/bin/core/node/operations.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
