Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

feat(csi-driver): report snapshot capabilities
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/controller/server.rs
  tests/bdd/features/csi/controller/test_controller.py
Due: rust-lint, rust-style, python-check

test(partial-rebuild): additional bdd test for replica rebuild
  tests/bdd/features/rebuild/log-based-rebuild.feature
  tests/bdd/features/rebuild/test_log_based_rebuild.py
Due: python-check

fix: wait for no shutdown nexuses
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/stor-port/src/types/v0/store/node.rs
Due: rust-lint, rust-style

test(bdd): snapshot capabilities and operations
  control-plane/grpc/src/client.rs
  deployer/src/infra/csi-driver/controller.rs
  deployer/src/lib.rs
  tests/bdd/features/snapshot/__init__.py
  tests/bdd/features/snapshot/csi/__init__.py
  tests/bdd/features/snapshot/csi/controller/__init__.py
  tests/bdd/features/snapshot/csi/controller/capabilities.feature
  tests/bdd/features/snapshot/csi/controller/operations.feature
  tests/bdd/features/snapshot/csi/controller/test_capabilities.py
  tests/bdd/features/snapshot/csi/controller/test_operations.py
Due: rust-lint, rust-style, python-check

chore: remove breaking changes notice
  README.md
Due: none

chore: update submodules branch
  .gitmodules
Due: none

chore: update nixpkgs to 22.11
  nix/sources.json
  shell.nix
Due: none

refactor: enhance rebuild traces
  control-plane/agents/src/bin/core/controller/policies/rebuild_policies.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/hot_spare.rs
  control-plane/agents/src/bin/core/controller/resources/nexus/mod.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
Due: rust-lint, rust-style

fix(partial-rebuild): don't wait if fault timestamp is unset
  control-plane/agents/src/bin/core/controller/policies/rebuild_policies.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

ci(bdd/python): pin requirements versions
  tests/bdd/requirements.txt
Due: none

fix(partial-rebuild): don't wait if fault timestamp is unset
  control-plane/agents/src/bin/core/controller/policies/rebuild_policies.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
Due: rust-lint, rust-style

chore: pin xfsprogs until e2e is updated
  nix/overlay.nix
  nix/pkgs/images/default.nix
  nix/sources.json
  shell.nix
Due: none

feat(agent/core): add snapshot operations trait stubs
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/pool/replica_operations.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

fix(replica-topology): add child information even when replica node is down
  control-plane/agents/src/bin/core/volume/registry.rs
Due: rust-lint, rust-style

feat(snapshots): add snapshot creation endpoint to openapi
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
Due: rust-lint, rust-style

feat(snapshots): add snapshot tag, and deletion endpoints
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/mod.rs
  control-plane/rest/service/src/v0/snapshots.rs
  control-plane/rest/service/src/v0/volumes.rs
Due: rust-lint, rust-style

feat: allow for a range of 2 controller ids when publishing
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
Due: rust-lint, rust-style

feat(snapshots/pstor): add initial snapshot definitions
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/stor-port/src/types/v0/store/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
  utils/pstor/src/common.rs
Due: rust-lint, rust-style

feat(snapshot): snapshot Api trait implementation
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

fix: snapshotmeta should not be optional
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

ci: add submodule check to prevent dangling commits
  .github/workflows/pr-submodule-branch.yml
  Jenkinsfile
  scripts/git/check-submodule-branches.sh
Due: none

fix: affinity group target placment should be influenced by preferred node
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/nexus/scheduling.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
Due: rust-lint, rust-style

fix(capacity/thin): don't remove enospc nexuses with no space in replicas
  control-plane/agents/src/bin/core/controller/reconciler/nexus/capacity.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/tests/volume/capacity.rs
Due: rust-lint, rust-style

feat(snapshot): add snapshot resources and operation barebones
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/controller/resources/volume/mod.rs
  control-plane/agents/src/bin/core/controller/resources/volume/snapshot.rs
  control-plane/agents/src/bin/core/nexus/specs.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/volume/mod.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/snapshot_helpers.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/src/misc/traits.rs
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

fix(terraform): update k8s to 1.26
  terraform/cluster/mod/k8s/kubeadm_config.yaml
  terraform/cluster/mod/k8s/master.sh
  terraform/cluster/mod/k8s/node.sh
  terraform/cluster/mod/k8s/repo.sh
  terraform/cluster/variables.tf
Due: none

chore(terraform): remove deployment
  terraform/deploy/README.md
  terraform/deploy/main.tf
  terraform/deploy/mod/agent/core/main.tf
  terraform/deploy/mod/csi/controller/main.tf
  terraform/deploy/mod/csi/node/main.tf
  terraform/deploy/mod/etcd/main.tf
  terraform/deploy/mod/io-engine/main.tf
  terraform/deploy/mod/jaeger/crd.yaml
  terraform/deploy/mod/jaeger/jaeger.yaml
  terraform/deploy/mod/jaeger/main.tf
  terraform/deploy/mod/jaeger/wait_deployment.sh
  terraform/deploy/mod/operator/diskpool/main.tf
  terraform/deploy/mod/rbac/main.tf
  terraform/deploy/mod/rest/main.tf
  terraform/deploy/mod/sc/main.tf
  terraform/deploy/simple.tfvars
  terraform/deploy/variables.tf
Due: none

fix(core/io-engine): implement snapshot trait for the rpc client
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
Due: rust-lint, rust-style

refactor: add common snapshot parameter definition
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/common/errors.rs
  control-plane/stor-port/src/types/v0/store/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
Due: rust-lint, rust-style

feat(snapshot/create): add core agent create volume snapshot logic
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/scheduling.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_helpers.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/stor-port/src/types/v0/store/snapshots/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
Due: rust-lint, rust-style

feat(snapshots): refactor snapshot openapi types
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

feat(snapshots): add list snapshot openapi endpoints
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
Due: rust-lint, rust-style
