Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

build(openapi): don't regenerate on same md5sum and delete files
  scripts/rust/generate-openapi-bindings.sh
Due: none

build: update dependencies and release.sh
  scripts/release.sh
Due: none

build: don't let the release.sh cause rebuilds
  nix/lib/sourcer.nix
Due: none

feat: handle non-matching transport path removal
  control-plane/agents/src/bin/ha/node/server.rs
Due: rust-lint, rust-style

ci(timeout): adding code to prevent containers from deletion
  Jenkinsfile
Due: none

feat(topology/poolaffinitykey): add topology/poolaffinitykey code to grpc, storport
  control-plane/csi-driver/src/context.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

feat(topology/poolaffinitykey): add topology/poolaffinitykey code to unit test in core
  control-plane/agents/src/bin/core/tests/deserializer.rs
Due: rust-lint, rust-style

feat(topology/poolaffinitykey): add topology/poolaffinitykey code to csi-driver
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

feat(topology/poolaffinitykey): add topology/poolaffinitykey code to rest
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

test: allow modifying rust-log for deployer containers
  deployer/src/lib.rs
Due: rust-lint, rust-style

test: run cleanup only once
  scripts/python/test.sh
Due: none

test(bdd): use new rust-log args
  tests/bdd/common/deployer.py
Due: python-check

feat(topology): remove the internal labels while displaying
  control-plane/plugin/src/resources/pool.rs
Due: rust-lint, rust-style

feat: add rdma capability in NodeFeatures for registration
  control-plane/grpc/src/operations/registration/traits.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
Due: rust-lint, rust-style

chore(deps): bump k8s-openapi from v0.19.0 to v0.20.0
  control-plane/csi-driver/Cargo.toml
  k8s/forward/Cargo.toml
  k8s/operators/Cargo.toml
  utils/platform/Cargo.toml
Due: none

chore(deps): bump kube from v0.85.0 to v0.87.2
  control-plane/csi-driver/Cargo.toml
  k8s/forward/Cargo.toml
  k8s/operators/Cargo.toml
  utils/platform/Cargo.toml
Due: none

chore(deps): update Cargo.lock
  Cargo.lock
Due: none

feat(csi-node): allow listening on IPv6 Pod IPs
  control-plane/csi-driver/src/bin/node/main_.rs
Due: rust-lint, rust-style

feat(ha-node): allow listening on IPv6 Pod IPs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/ha/node/reporter.rs
  control-plane/agents/src/bin/ha/node/server.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

fix: restore short arg for deprecated option
  control-plane/agents/src/bin/ha/node/main.rs
Due: rust-lint, rust-style

feat: add conflicts_with_all
  control-plane/csi-driver/src/bin/node/main_.rs
Due: rust-lint, rust-style

refactor: improve grpc endpoint validation
  control-plane/csi-driver/src/bin/node/main_.rs
Due: rust-lint, rust-style

ci: specify opentel receiver endpoint
  deployer/misc/otel_agent_config.yaml
Due: none

refactor: allow importing the diskpool cr only
  k8s/operators/Cargo.toml
  k8s/operators/src/pool/diskpool/crd/v1beta2.rs
Due: rust-lint, rust-style

feat: connect over tcp if initiator isn't rdma capable
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/node.rs
  nix/overlay.nix
  nix/pkgs/images/default.nix
Due: rust-lint, rust-style

build: fix arg parse in openapi bindings gen script
  scripts/rust/generate-openapi-bindings.sh
Due: none

feat: connect over tcp if initiator isn't rdma capable
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/node.rs
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/images/default.nix
  shell.nix
Due: rust-lint, rust-style

test: switchover test for repro
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
Due: rust-lint, rust-style

build: add rustFlags option to support rust compiler options
  default.nix
  nix/overlay.nix
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/control-plane/default.nix
Due: none

refactor(openapi/rust): use paperclip as code generator
  .gitignore
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/plugin/src/resources/volume.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  nix/overlay.nix
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/openapi-generator/default.nix
  nix/pkgs/openapi-generator/source.json
  nix/pkgs/paperclip/default.nix
  nix/pkgs/paperclip/source.json
  openapi/build.rs
  openapi/templates/default/Cargo.mustache
  openapi/templates/default/README.mustache
  openapi/templates/default/actix/client/api_clients.mustache
  openapi/templates/default/actix/client/client.mustache
  openapi/templates/default/actix/client/configuration.mustache
  openapi/templates/default/actix/mod.mustache
  openapi/templates/default/actix/server/api.mustache
  openapi/templates/default/actix/server/api_mod.mustache
  openapi/templates/default/actix/server/handlers.mustache
  openapi/templates/default/api_doc.mustache
  openapi/templates/default/api_mod.mustache
  openapi/templates/default/gitignore.mustache
  openapi/templates/default/lib.mustache
  openapi/templates/default/mod.mustache
  openapi/templates/default/mod_clients.mustache
  openapi/templates/default/model.mustache
  openapi/templates/default/model_doc.mustache
  openapi/templates/default/model_mod.mustache
  openapi/templates/default/openapi.mustache
  openapi/templates/default/tower-hyper/client/api_clients.mustache
  openapi/templates/default/tower-hyper/client/body.mustache
  openapi/templates/default/tower-hyper/client/client.mustache
  openapi/templates/default/tower-hyper/client/configuration.mustache
  openapi/templates/default/tower-hyper/mod.mustache
  scripts/rust/generate-openapi-bindings.sh
  shell.nix
Due: rust-lint, rust-style

test(bdd): fix various testing bugs and compats
  scripts/python/generate-openapi-bindings.sh
  tests/bdd/common/nvme.py
  tests/bdd/common/operations.py
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
  tests/bdd/features/capacity/thin/test_cluster.py
  tests/bdd/features/capacity/thin/volume/test_mixed.py
  tests/bdd/features/capacity/thin/volume/test_rebuild.py
  tests/bdd/features/cordon/node/test_cordon_node.py
  tests/bdd/features/csi/controller/test_controller.py
  tests/bdd/features/csi/node/test_csi.py
  tests/bdd/features/csi/node/test_node.py
  tests/bdd/features/csi/node/test_parameters.py
  tests/bdd/features/garbage-collection/replicas/test_feature.py
  tests/bdd/features/ha/core-agent/test_target_switchover.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
  tests/bdd/features/ha/test_robustness.py
  tests/bdd/features/rebuild/test_log_based_rebuild.py
  tests/bdd/features/rebuild/test_rebuild.py
  tests/bdd/features/snapshot/create/test_feature.py
  tests/bdd/features/snapshot/delete/test_delete.py
  tests/bdd/features/snapshot/garbage_collection/test_garbage_collection.py
  tests/bdd/features/snapshot/list/test_list.py
  tests/bdd/features/volume/delete/test_feature.py
  tests/bdd/features/volume/nexus-info/test_feature.py
  tests/bdd/features/volume/nexus/test_feature.py
  tests/bdd/features/volume/publish/test_feature.py
  tests/bdd/features/volume/replicas/test_feature.py
  tests/bdd/features/volume/resize/test_resize_offline.py
  tests/bdd/features/volume/resize/test_resize_online.py
  tests/bdd/features/volume/topology/test_feature.py
  tests/bdd/features/volume/unpublish/test_feature.py
  tests/bdd/features/volume_group/publish/test_publish.py
Due: python-check

docs: add fossa badge to readme
  README.md
Due: none

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
