Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

chore(ci): update git submodules
  .gitmodules
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

refactor: snapshot listing based on query
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

refactor: replica listing based on query
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

ci: disable NVMe CRD
  deployer/src/infra/io_engine.rs
Due: rust-lint, rust-style

test: remove io-engine restart wa
  tests/bdd/features/snapshot/restore/test_delete.py
Due: python-check

fix(dsp): dsp fix
  k8s/operators/src/pool/diskpool/v1beta1.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

fix(dsp): cr state
  k8s/operators/src/pool/diskpool/v1beta1.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

fix(dsp): mark cr state as created when control plane is not responsive
  k8s/operators/src/pool/diskpool/v1beta1.rs
Due: rust-lint, rust-style

fix: error for multi-replica volume from snapshot
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

refactor(plugin get nodes): include cordon, drain status as well in node status
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/utils.rs
Due: rust-lint, rust-style

fix: test cordon and drain bdds need updating
  tests/bdd/features/cordon/node/feature.feature
  tests/bdd/features/drain/node/feature.feature
Due: none

feat(btrfs): add btrfs support
  control-plane/csi-driver/src/bin/node/filesystem_ops.rs
  control-plane/csi-driver/src/bin/node/mount.rs
  control-plane/csi-driver/src/filesystem.rs
  nix/pkgs/images/default.nix
  shell.nix
Due: rust-lint, rust-style

feat(eventing): remove pool events, update deployer and dependencies
  Cargo.lock
  control-plane/agents/src/bin/core/tests/event/mod.rs
  control-plane/agents/src/bin/core/tests/rebuild/mod.rs
  control-plane/agents/src/bin/core/tests/test.rs
  control-plane/agents/src/bin/core/tests/volume/events.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  deployer/src/infra/io_engine.rs
  utils/utils-lib/src/tracing_telemetry.rs
Due: rust-lint, rust-style

ci: disable cargo incremental compilation
  Jenkinsfile
Due: none

build: update cargo deps
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/csi-driver/Cargo.toml
  control-plane/grpc/Cargo.toml
  control-plane/plugin/Cargo.toml
  control-plane/rest/Cargo.toml
  control-plane/stor-port/Cargo.toml
  deployer/Cargo.toml
  k8s/forward/Cargo.toml
  k8s/operators/Cargo.toml
  openapi/Cargo.toml
  rpc/Cargo.toml
  tests/io-engine/Cargo.toml
  utils/deployer-cluster/Cargo.toml
  utils/platform/Cargo.toml
  utils/pstor-usage/Cargo.toml
  utils/pstor/Cargo.toml
  utils/shutdown/Cargo.toml
  utils/utils-lib/Cargo.toml
Due: none

build: upgrade rust crates
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/lib.rs
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/src/bin/controller/pvwatcher.rs
  control-plane/csi-driver/src/bin/node/mount.rs
  control-plane/grpc/Cargo.toml
  control-plane/grpc/src/tracing.rs
  control-plane/plugin/Cargo.toml
  control-plane/rest/Cargo.toml
  control-plane/rest/service/src/main.rs
  control-plane/stor-port/Cargo.toml
  deployer/Cargo.toml
  k8s/forward/Cargo.toml
  k8s/operators/Cargo.toml
  k8s/operators/src/pool/main.rs
  openapi/Cargo.toml
  rpc/Cargo.toml
  utils/deployer-cluster/Cargo.toml
  utils/platform/Cargo.toml
  utils/pstor-usage/Cargo.toml
  utils/pstor/Cargo.toml
  utils/utils-lib/Cargo.toml
Due: rust-lint, rust-style

chore: silence async_nats crate debug logs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

build(nix): replace deprecated contents with copyToRoot
  nix/pkgs/images/default.nix
Due: none

build: upgrade rust to 05/10 nightly and 1.72.1 stable
  control-plane/agents/src/bin/core/pool/wrapper.rs
  control-plane/csi-driver/src/bin/node/mount.rs
  nix/lib/rust.nix
  nix/sources.json
  utils/pstor-usage/Cargo.toml
Due: rust-lint, rust-style

chore: use lld in the dev shell
  shell.nix
Due: none

chore(dependabot): update py requests lib
  tests/bdd/requirements.txt
Due: none

feat: cordon pytests
  tests/bdd/features/cordon/node/test_cordon_node.py
Due: python-check

chore(dependabot): update py url lib
  tests/bdd/requirements.txt
Due: none

fix(pool/topology): ensure code is as per design and docs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
Due: rust-lint, rust-style

fix(dsp): do not process dsp object if removed from inventory
  k8s/operators/src/pool/diskpool/context.rs
  k8s/operators/src/pool/diskpool/mod.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

refactor(dsp): adding context module
  k8s/operators/src/pool/context.rs
  k8s/operators/src/pool/diskpool/mod.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

build: upgrade tonic/prost crate deps
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/host.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/src/bin/node/node.rs
  control-plane/grpc/Cargo.toml
  control-plane/grpc/src/misc/traits.rs
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/grpc/src/operations/registration/traits.rs
  control-plane/grpc/src/operations/replica/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/grpc/src/operations/watch/traits.rs
  control-plane/stor-port/Cargo.toml
  deployer/Cargo.toml
  rpc/Cargo.toml
  utils/deployer-cluster/Cargo.toml
  utils/pstor/Cargo.toml
Due: rust-lint, rust-style

fix(rest/openapi): block-device filesystem and partition are optional
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/plugin/src/resources/blockdevice.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/transport/blockdevice.rs
Due: rust-lint, rust-style

build: use lld linker globally
  .cargo/config
  nix/pkgs/control-plane/cargo-project.nix
  shell.nix
Due: none

test(events): account for new replica events
  control-plane/agents/src/bin/core/tests/event/mod.rs
Due: rust-lint, rust-style

chore: upgrade to latest dependencies repo
  .gitmodules
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/Cargo.toml
  deployer/Cargo.toml
  rpc/build.rs
  utils/utils-lib/Cargo.toml
  utils/utils-lib/src/constants.rs
  utils/utils-lib/src/tracing_telemetry.rs
Due: rust-lint, rust-style

fix(event-bus): silence events from stdout
  utils/utils-lib/src/tracing_telemetry.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
