Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

test(ci): adding volume format option test using blocks per inode ratio
  control-plane/agents/src/bin/core/tests/snapshot/fs_cons_snapshot.rs
  control-plane/agents/src/bin/core/tests/volume/format_options.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

fix(snapshot_restore): make thin by default during snapshot restore
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

chore(bors): merge pull request #941
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

chore(bors): merge pull request #942
  utils/pstor/src/api.rs
  utils/pstor/src/error.rs
  utils/pstor/src/etcd.rs
  utils/pstor/src/etcd_watcher.rs
  utils/pstor/src/lib.rs
  utils/pstor/tests/etcd.rs
Due: rust-lint, rust-style

chore(bors): merge pull request #946
  control-plane/agents/src/bin/core/controller/mod.rs
  control-plane/agents/src/bin/core/controller/pstor_cache.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/resources/mod.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/controller/resources/volume/mod.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/store/nexus_persistence.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
  deployer/src/infra/etcd.rs
  deployer/src/lib.rs
  utils/pstor/src/api.rs
  utils/pstor/src/etcd.rs
  utils/pstor/src/etcd_watcher.rs
  utils/pstor/tests/etcd.rs
Due: rust-lint, rust-style

chore(bors): merge pull request #946
  Cargo.lock
  control-plane/agents/src/bin/core/controller/mod.rs
  control-plane/agents/src/bin/core/controller/pstor_cache.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/resources/mod.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/controller/resources/volume/mod.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
  control-plane/stor-port/src/types/v0/store/nexus_persistence.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
  deployer/src/infra/etcd.rs
  deployer/src/lib.rs
  utils/pstor/src/api.rs
  utils/pstor/src/etcd.rs
  utils/pstor/src/etcd_watcher.rs
Due: rust-lint, rust-style

feat: allow setting encryption property on volume spec
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

chore: plugin changes to set encryption property on volume
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

feat(scaling volume): prefer cordoned nodes while removing replicas
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/pool/specs.rs
Due: rust-lint, rust-style

chore: allow passing flag to disable check
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  deployer/src/infra/agents/core.rs
  deployer/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

feat(encryption): restrict different devlink of same device for pool creation
  control-plane/agents/src/bin/core/controller/io_engine/client.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/pool/operations_helper.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  deployer/src/infra/io_engine.rs
  deployer/src/lib.rs
  k8s/operators/src/pool/context.rs
  k8s/operators/src/pool/main.rs
  tests/bdd/common/deployer.py
  tests/bdd/features/pool/create/test_name.py
  utils/deployer-cluster/src/lib.rs
  utils/utils-lib/src/disk.rs
  utils/utils-lib/src/lib.rs
Due: rust-lint, rust-style, python-check

chore: add canonical pcie, add regex to stop non persistent devlinks
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/pool/operations_helper.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/common/errors.rs
  k8s/operators/src/pool/main.rs
  tests/bdd/features/pool/create/test_disks.py
  utils/utils-lib/src/constants.rs
  utils/utils-lib/src/disk.rs
Due: rust-lint, rust-style, python-check

test: test
  .github/workflows/bdd.yml
  .github/workflows/pr-ci.yml
  scripts/python/test.sh
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
Due: python-check

test: add test for canonical pcie
  Cargo.lock
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  k8s/operators/src/pool/main.rs
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
  utils/utils-lib/Cargo.toml
  utils/utils-lib/src/disk.rs
Due: rust-lint, rust-style, python-check

First pass at volume cloning implementation
  control-plane/csi-driver/src/bin/controller/controller.rs
  tests/bdd/features/csi/controller/test_controller.py
Due: rust-lint, rust-style, python-check

fix(k8s/proxy): add phase to conditions check
  k8s/forward/src/pod_selection.rs
Due: rust-lint, rust-style

fix: dsp migration was not considering topology
  k8s/operators/src/pool/diskpool/crd/migration.rs
Due: rust-lint, rust-style

docs: update community meeting badge link
  README.md
Due: none

ci: remove journalctl from the uploaded ci-report
  scripts/ci-report.sh
Due: none

feat(operator/dsp): add quantity for a nicer print
  Cargo.lock
  k8s/operators/Cargo.toml
  k8s/operators/src/lib.rs
  k8s/operators/src/pool/diskpool/crd/mod.rs
  k8s/operators/src/pool/diskpool/crd/quantity.rs
  k8s/operators/src/pool/diskpool/crd/v1beta3.rs
  utils/utils-lib/src/bytes.rs
Due: rust-lint, rust-style

chore(ci): inject github token post nix installation
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
  scripts/ci-report.sh
Due: none

fix: mask the github token in journalctl as a precautionary measure
  scripts/ci-report.sh
Due: none

test: add retry on nexus swap bbd test
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
Due: python-check

refactor: specify the events stream replicas
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/ha/cluster/main.rs
  control-plane/agents/src/bin/ha/node/main.rs
  utils/utils-lib/src/tracing_telemetry.rs
Due: rust-lint, rust-style

fix: allow scaling up of volumes of affinity group
  control-plane/agents/src/bin/core/controller/scheduling/affinity_group.rs
Due: rust-lint, rust-style

test: allow scaling up of volumes of affinity group
  control-plane/agents/src/bin/core/tests/volume/affinity_group.rs
Due: rust-lint, rust-style

feat(csi): update csi protobuf to v1_11
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

ci: use cachix instead of determinate systems
  .github/workflows/bdd.yml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/lint.yml
  .github/workflows/unit-int.yml
Due: none

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
