Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

feat(rest/node): expose io-engine features on the node spec
  control-plane/grpc/proto/v1/node/target_node.proto
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
Due: rust-lint, rust-style

feat(grpc/tls): enforce TLS on core to io-engine connections
  control-plane/agents/src/bin/core/controller/io_engine/client.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/snap_rebuild.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/common/errors.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

feat(deployer): make io-engine rpc handle TLS-aware
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/src/tls.rs
  deployer/src/infra/agents/core.rs
  deployer/src/infra/io_engine.rs
  deployer/src/lib.rs
  rpc/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

chore: make target debug first in the path
  shell.nix
Due: none

feat(node): expose transport caps and nvmf target on node spec
  control-plane/agents/src/bin/core/controller/io_engine/v0/host.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/host.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/grpc/proto/v1/node/target_node.proto
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/grpc/src/operations/registration/traits.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/tests.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
Due: rust-lint, rust-style

feat(rest): add pool SMART REST endpoints
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

feat(pool-drain): add logic to update replica move config
  control-plane/agents/src/bin/core/controller/reconciler/pool/drain.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/store/replica.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

refactor(tls): verify handshake signatures in auto-tls verifiers
  Cargo.lock
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/grpc/src/tls.rs
  deployer/src/infra/io_engine.rs
  openapi/Cargo.toml
  openapi/templates/default/tower-hyper/client/configuration.mustache
  tests/bdd/common/deployer.py
  tests/bdd/features/snapshot/garbage-collection/test_garbage-collection.py
  tests/bdd/features/volume/create/test_feature.py
  utils/utils-lib/src/lib.rs
Due: rust-lint, rust-style, python-check

feat(jsongrpc/tls): add tls to jsongrpc agent
  control-plane/agents/src/bin/jsongrpc/main.rs
  control-plane/agents/src/bin/jsongrpc/service.rs
  deployer/src/infra/agents/jsongrpc.rs
Due: rust-lint, rust-style
