Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

fix: disown replicas through the operation guard
  control-plane/agents/core/src/controller/reconciler/pool/mod.rs
  control-plane/agents/core/src/controller/reconciler/replica/mod.rs
  control-plane/agents/core/src/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/core/src/controller/reconciler/volume/hot_spare.rs
  control-plane/agents/core/src/controller/reconciler/volume/mod.rs
  control-plane/agents/core/src/controller/reconciler/volume/nexus.rs
  control-plane/agents/core/src/controller/resources/mod.rs
  control-plane/agents/core/src/controller/resources/nexus/mod.rs
  control-plane/agents/core/src/nexus/specs.rs
  control-plane/agents/core/src/pool/specs.rs
  control-plane/agents/core/src/volume/operations.rs
  control-plane/agents/core/src/volume/specs.rs
Due: rust-lint, rust-style

fix(nexus): refactor v0 grpc nexus create call response
  control-plane/agents/core/src/controller/wrapper.rs
Due: rust-lint, rust-style

feat(ha): add nix-build for ha images
  nix/pkgs/control-plane/default.nix
  nix/pkgs/images/default.nix
Due: none

feat(images): build and push ha node image
  scripts/release.sh
Due: none

refactor: add ha subfolder to agents
  control-plane/agents/Cargo.toml
  control-plane/agents/ha/cluster/src/main.rs
  control-plane/agents/ha/cluster/src/server.rs
  control-plane/agents/ha/node/src/detector.rs
  control-plane/agents/ha/node/src/main.rs
  control-plane/agents/ha/node/src/path_provider.rs
  control-plane/agents/ha/node/src/reporter.rs
  control-plane/agents/ha/node/src/server.rs
  deployer/src/infra/cluster_agent.rs
  nix/pkgs/control-plane/default.nix
Due: rust-lint, rust-style

fix(csi-driver): don't pre-select nodes which are not online
  control-plane/csi-driver/controller/src/controller.rs
Due: rust-lint, rust-style

refactor(deployer): tidy up the component folder and reduce macro usage
  deployer/src/infra/agents/core.rs
  deployer/src/infra/agents/ha/cluster.rs
  deployer/src/infra/agents/ha/mod.rs
  deployer/src/infra/agents/ha/node.rs
  deployer/src/infra/agents/jsongrpc.rs
  deployer/src/infra/agents/mod.rs
  deployer/src/infra/csi-driver/controller.rs
  deployer/src/infra/csi-driver/mod.rs
  deployer/src/infra/csi-driver/node.rs
  deployer/src/infra/dns.rs
  deployer/src/infra/elastic.rs
  deployer/src/infra/empty.rs
  deployer/src/infra/etcd.rs
  deployer/src/infra/io_engine.rs
  deployer/src/infra/jaeger.rs
  deployer/src/infra/kibana.rs
  deployer/src/infra/mod.rs
  deployer/src/infra/rest.rs
  deployer/src/lib.rs
Due: rust-lint, rust-style

refactor(agents): use socket type for local endpoints
  control-plane/agents/ha/cluster/src/main.rs
  control-plane/agents/ha/cluster/src/server.rs
  control-plane/agents/ha/node/src/main.rs
  control-plane/agents/ha/node/src/server.rs
  control-plane/agents/jsongrpc/src/server.rs
  control-plane/csi-driver/controller/src/server.rs
  control-plane/csi-driver/node/src/shutdown_event.rs
  deployer/src/infra/agents/ha/cluster.rs
  deployer/src/infra/agents/ha/node.rs
  k8s/forward/src/port_forward.rs
  k8s/plugin/src/main.rs
  tests/bdd/common/deployer.py
  utils/shutdown/src/lib.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style, python-check

refactor(agents): agents library should handle tonic services
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/common/src/lib.rs
  control-plane/agents/core/src/nexus/mod.rs
  control-plane/agents/core/src/node/mod.rs
  control-plane/agents/core/src/pool/mod.rs
  control-plane/agents/core/src/registry/mod.rs
  control-plane/agents/core/src/server.rs
  control-plane/agents/core/src/service.rs
  control-plane/agents/core/src/volume/mod.rs
  control-plane/agents/core/src/watch/mod.rs
Due: rust-lint, rust-style

refactor: update old bus comments with rpc
  common/src/types/v0/store/nexus.rs
  common/src/types/v0/store/replica.rs
  common/src/types/v0/transport/child.rs
  common/src/types/v0/transport/jsongrpc.rs
  common/src/types/v0/transport/misc.rs
  common/src/types/v0/transport/mod.rs
  common/src/types/v0/transport/nexus.rs
  common/src/types/v0/transport/node.rs
  common/src/types/v0/transport/pool.rs
  common/src/types/v0/transport/replica.rs
  common/src/types/v0/transport/volume.rs
  control-plane/agents/common/src/lib.rs
  control-plane/agents/common/src/msg_translation/mod.rs
  control-plane/agents/common/src/msg_translation/v0.rs
  control-plane/agents/core/src/controller/wrapper.rs
  control-plane/agents/core/tests/nexus/mod.rs
  control-plane/agents/core/tests/node/mod.rs
  control-plane/agents/core/tests/pool/mod.rs
  control-plane/rest/service/src/v0/nexuses.rs
  control-plane/rest/service/src/v0/pools.rs
  control-plane/rest/service/src/v0/replicas.rs
  control-plane/rest/src/versions/v0.rs
Due: rust-lint, rust-style

feat: drain initial implementation
  common/src/types/v0/store/node.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/grpc/proto/v1/node/node.proto
  control-plane/grpc/src/operations/node/client.rs
  control-plane/grpc/src/operations/node/server.rs
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/cordon.rs
  control-plane/plugin/src/resources/drain.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/nodes.rs
  control-plane/rest/tests/v0_test.rs
  k8s/plugin/README.md
  k8s/plugin/src/main.rs
  k8s/plugin/src/resources/mod.rs
Due: rust-lint, rust-style

fix(deployer): fix default endpoint for cluster agent
  common/src/transport_api/mod.rs
  control-plane/agents/src/bin/ha/cluster/main.rs
  control-plane/agents/src/bin/ha/cluster/server.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/agents/src/lib.rs
  deployer/src/infra/agents/ha/cluster.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

fix(ha): add missing request timeouts infra
  common/src/types/v0/transport/mod.rs
  control-plane/agents/src/bin/ha/cluster/server.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/ha/node/reporter.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/grpc/src/operations/ha_node/client.rs
  control-plane/grpc/src/operations/ha_node/server.rs
  control-plane/grpc/src/operations/ha_node/traits.rs
Due: rust-lint, rust-style

chore: update list of reviewers
  .github/auto_assign.yml
Due: none

chore: update conversion from v1 replica grpc to transport replica struct
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/common/msg_translation/v1.rs
Due: rust-lint, rust-style

fix: add default tag value for image version
  chart/values.yaml
Due: none

chore: add v1-alpha registration for backwards compatibility
  control-plane/agents/src/bin/core/node/mod.rs
  control-plane/grpc/src/operations/registration/server.rs
  control-plane/grpc/src/operations/registration/traits.rs
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

fix(replica-openapi): revert back changes for poolid in Replica & ReplicaSpec openapi
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  k8s/supportability/src/collect/resources/replica.rs
Due: rust-lint, rust-style

fix(node-liveness-all): check for not implemented error
  control-plane/agents/src/bin/core/controller/grpc.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/pool/mod.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/resources/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
Due: rust-lint, rust-style

chore: adding support for v1 pool grpc
  control-plane/agents/src/bin/core/controller/grpc.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/common/errors.rs
  control-plane/agents/src/common/msg_translation/v0.rs
  control-plane/agents/src/common/msg_translation/v1.rs
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

chore: add cordon filter for target node on nexus switchover
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
Due: rust-lint, rust-style

fix(node-endpoint): use socketaddr type to ensure endpoint correctness
  common/src/types/v0/store/node.rs
  common/src/types/v0/transport/node.rs
  control-plane/agents/src/bin/core/controller/grpc.rs
  control-plane/agents/src/bin/core/controller/resources/resource_map.rs
  control-plane/agents/src/bin/core/controller/states.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/grpc/src/operations/registration/traits.rs
Due: rust-lint, rust-style

feat(restart-detection): use instance uuid to detect io-engine restarts
  Cargo.lock
  common/src/types/v0/transport/node.rs
  control-plane/agents/src/bin/core/controller/grpc.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/grpc/Cargo.toml
  control-plane/grpc/src/operations/registration/traits.rs
Due: rust-lint, rust-style

feat(csi): add a node-selector label to nodes running the csi-node plugin
  control-plane/csi-driver/controller/src/config.rs
  control-plane/csi-driver/controller/src/controller.rs
  control-plane/csi-driver/controller/src/main.rs
  control-plane/csi-driver/node/src/config.rs
  control-plane/csi-driver/node/src/error.rs
  control-plane/csi-driver/node/src/identity.rs
  control-plane/csi-driver/node/src/main.rs
  control-plane/csi-driver/node/src/node.rs
  control-plane/csi-driver/node/src/nodeplugin_grpc.rs
  control-plane/csi-driver/src/lib.rs
  terraform/cluster/variables.tf
  terraform/deploy/mod/csi/node/main.tf
  terraform/deploy/variables.tf
Due: rust-lint, rust-style

style(csi-driver): refactor csi-driver layout to be idiomatic
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/build.rs
  control-plane/csi-driver/proto/node-service.proto
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/config.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/controller/identity.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/controller/pvwatcher.rs
  control-plane/csi-driver/src/bin/controller/server.rs
  control-plane/csi-driver/src/bin/node/README.md
  control-plane/csi-driver/src/bin/node/block_vol.rs
  control-plane/csi-driver/src/bin/node/config.rs
  control-plane/csi-driver/src/bin/node/dev.rs
  control-plane/csi-driver/src/bin/node/dev/iscsi.rs
  control-plane/csi-driver/src/bin/node/dev/iscsi/iscsiadm.rs
  control-plane/csi-driver/src/bin/node/dev/nbd.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/dev/util.rs
  control-plane/csi-driver/src/bin/node/error.rs
  control-plane/csi-driver/src/bin/node/filesystem_vol.rs
  control-plane/csi-driver/src/bin/node/findmnt.rs
  control-plane/csi-driver/src/bin/node/format.rs
  control-plane/csi-driver/src/bin/node/identity.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/match_dev.rs
  control-plane/csi-driver/src/bin/node/mount.rs
  control-plane/csi-driver/src/bin/node/node.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_grpc.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_svc.rs
  control-plane/csi-driver/src/bin/node/shutdown_event.rs
Due: rust-lint, rust-style

test(csi-controller): remove local tests from python bdd
  tests/bdd/features/csi/controller/controller.feature
  tests/bdd/features/csi/controller/test_controller.py
Due: python-check

test: enable io-engine grpc v1 api
  Cargo.lock
  control-plane/agents/src/bin/core/controller/grpc.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/hotspare.rs
  control-plane/agents/src/bin/jsongrpc/service.rs
  control-plane/agents/src/common/msg_translation/v1.rs
  control-plane/rest/tests/v0_test.rs
  deployer/src/infra/io_engine.rs
  deployer/src/lib.rs
  rpc/Cargo.toml
  rpc/build.rs
  rpc/src/lib.rs
  tests/io-engine/tests/rebuild.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

chore: disable features not in scope for 2.0.0
  scripts/release.sh
Due: none

chore: update release branch name
  Jenkinsfile
Due: none

fix: format autogen openapi code with existing lock file
  scripts/rust/generate-openapi-bindings.sh
Due: none

fix(release-artifact): add darwin derivation hash
  .github/workflows/release_artifacts.yml
  nix/pkgs/openapi-generator/default.nix
  nix/pkgs/utils/default.nix
Due: none

fix(ci): add missing release branch subst for tag
  scripts/release.sh
Due: none

ci: don't use incremental builds
  .github/workflows/release_artifacts.yml
  nix/overlay.nix
  nix/pkgs/utils/default.nix
Due: none

ci(kubectl-plugin): fix windows build and github release action
  .github/workflows/release_artifacts.yml
  nix/lib/rust.nix
  nix/pkgs/utils/default.nix
  utils/shutdown/src/lib.rs
Due: rust-lint, rust-style

fix(kubectl-plugin): add arch prefix to the tar name
  .github/workflows/release_artifacts.yml
  nix/pkgs/utils/default.nix
Due: none
