Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

fix(replica/entity_id): ignore not implemented error
  control-plane/agents/src/bin/core/nexus/operations_helper.rs
Due: rust-lint, rust-style

feat(callhome): add bustype and rotational properties to block device for storage metrics
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/grpc/proto/v1/blockdevice/blockdevice.proto
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/transport/blockdevice.rs
Due: rust-lint, rust-style

fix(upgrade): don't use reservations without ha
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
Due: rust-lint, rust-style

fix(agent/core): rebuild space required
  control-plane/agents/src/bin/core/controller/scheduling/pool.rs
Due: rust-lint, rust-style

test(bdd): reduce topology test duration
  tests/bdd/features/volume/topology/test_feature.py
  tests/bdd/features/volume/topology/test_node_topology.py
  tests/bdd/features/volume/topology/test_pool_topology.py
Due: python-check

test(bdd/node/labels): reduce test duration
  tests/bdd/features/node/label/test_label_unlabel_node.py
Due: python-check

feat(topology): add affinity-topology-key code to stor-port
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

feat(topology): add affinity-topology-key code to csi-driver
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

feat(topology): add affinity-topology-key code to grpc
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
Due: rust-lint, rust-style

feat(topology): add affinity-topology-key code to rest
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

chore(terraform): switch to pkgs.k8s.io
  terraform/cluster/mod/k8s/repo.sh
  terraform/cluster/variables.tf
Due: none

fix(terraform): add missing dir when using ubuntu 2004
  terraform/cluster/mod/k8s/repo.sh
Due: none

feat(csi/xfs): allow extra mkfs.xfs args
  control-plane/csi-driver/src/bin/node/filesystem_ops.rs
Due: rust-lint, rust-style

feat(eventing): add target volumeid to nvme path events
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/server.rs
Due: rust-lint, rust-style

fix: volume::volume test to use isolation
  control-plane/agents/src/bin/core/tests/volume/mod.rs
Due: rust-lint, rust-style

test(upgrade-rebuild): add upgrade test
  Cargo.lock
  deployer/src/infra/csi-driver/node.rs
  deployer/src/lib.rs
  tests/io-engine/Cargo.toml
  tests/io-engine/tests/upgrade.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

test(snapshot): fix race condition
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
Due: rust-lint, rust-style

test(rebuild): use only 3 io engines to reduce hugepages
  control-plane/agents/src/bin/core/tests/rebuild/mod.rs
Due: rust-lint, rust-style

feat(topology/core): add node spread topology code to core-agent
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/node.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/volume/operations.rs
Due: rust-lint, rust-style

feat(topology/csi): add node spread topology code to csi-driver
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

test(topology/bdd): add nodeSpreadTopologyKey tests
  tests/bdd/features/volume/topology/node-topology.feature
  tests/bdd/features/volume/topology/test_node_topology.py
Due: python-check

feat(rebuild): add cli arg to disable partial rebuild
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/hot_spare.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/tests/rebuild/mod.rs
  deployer/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

test(bdd): support snapshot clone bdd for multi-replica
  tests/bdd/features/snapshot/create/feature.feature
  tests/bdd/features/snapshot/create/test_feature.py
  tests/bdd/features/snapshot/restore/create.feature
  tests/bdd/features/snapshot/restore/create_parameters.feature
  tests/bdd/features/snapshot/restore/test_create.py
  tests/bdd/features/snapshot/restore/test_create_parameters.py
Due: python-check

feat(snapshot/clone): remove checks to support multireplica snapshot and clone
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/agents/src/bin/core/volume/snapshot_helpers.rs
Due: rust-lint, rust-style

build: harden build by pre-fetching dependencies
  nix/pkgs/control-plane/cargo-project.nix
  scripts/release.sh
Due: none

fix(agents/ha/node): complete reconnect when path is deleting
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/server.rs
Due: rust-lint, rust-style

build: fix cargo-vendor-dir handling
  scripts/release.sh
Due: none
