Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

chore: fix pytest version to 7.4.4
  tests/bdd/requirements.txt
Due: none

fix(csi-controller/pv-watcher): race between creation and gc
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/pvwatcher.rs
Due: rust-lint, rust-style

fix(volume/resize): more appropriate error mapping
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

refactor(csi-node): avoid two lookups for device during fs expansion
  control-plane/csi-driver/src/bin/node/filesystem_ops.rs
  control-plane/csi-driver/src/bin/node/node.rs
Due: rust-lint, rust-style

chore(terraform): switch to pkgs.k8s.io
  terraform/cluster/mod/k8s/repo.sh
  terraform/cluster/variables.tf
Due: none

ci(gha/checkout): use org ci token if it exists
  .github/workflows/pr-submodule-branch.yml
Due: none

chore: update mio
  Cargo.lock
Due: none

feat(snapshot): plugin implementation for setattributes
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/volume.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

chore(replica_stat_rpc): update protobuf
  Cargo.lock
  rpc/src/lib.rs
Due: rust-lint, rust-style

fix(agents/ha/node): disconnect controller async
  control-plane/agents/src/bin/ha/node/server.rs
Due: rust-lint, rust-style

fix(agents/ha/cluster): increase path replacement timeout
  control-plane/stor-port/src/transport_api/mod.rs
Due: rust-lint, rust-style

feat(replica/resize): add resize to ReplicaOperations
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/grpc/proto/v1/replica/replica.proto
  control-plane/grpc/src/operations/replica/client.rs
  control-plane/grpc/src/operations/replica/server.rs
  control-plane/grpc/src/operations/replica/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
Due: rust-lint, rust-style

test(volume/resize): test for expanded replica space reclaim
  control-plane/agents/src/bin/core/tests/volume/resize.rs
Due: rust-lint, rust-style

feat(volume/resize): don't allow volume resize for snapshot restore volume
  control-plane/agents/src/bin/core/volume/operations.rs
Due: rust-lint, rust-style

feat(topology): add show-labels in get node plugin
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/cordon.rs
  control-plane/plugin/src/resources/drain.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

fix(agent/core): increase pool import timeout
  control-plane/grpc/src/context.rs
Due: rust-lint, rust-style

feat(clone): support multi replica clone
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

fix(ansi-colors): cli arg changes
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/ha/cluster/main.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/rest/service/src/main.rs
  k8s/operators/src/pool/main.rs
  utils/utils-lib/src/tracing_telemetry.rs
Due: rust-lint, rust-style

feat(replica_entity_id): adding implementation
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/nexus/operations_helper.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/hotspare.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/replica/replica.proto
  control-plane/grpc/src/lib.rs
  control-plane/grpc/src/operations/replica/traits.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/store/replica.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

feat(topology/plugin): add show-labels in get node and list nodes
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/node.rs
Due: rust-lint, rust-style

fix(agents/core): use tracing api
  control-plane/agents/src/bin/core/nexus/operations_helper.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

feat(platform): support custom namespace
  utils/platform/src/k8s/mod.rs
Due: rust-lint, rust-style

chore: downgrade xfsprogs to 5_11 from 5_16
  nix/overlay.nix
  nix/pkgs/images/default.nix
  nix/sources.json
  shell.nix
Due: none

chore: dont use nvme resv for nexus
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
Due: rust-lint, rust-style

fix(agent/core): rebuild space required
  control-plane/agents/src/bin/core/controller/scheduling/pool.rs
Due: rust-lint, rust-style

fix(volume/resize): handle overflow during volume shrink attempt
  control-plane/agents/src/bin/core/tests/volume/resize.rs
  control-plane/agents/src/bin/core/volume/service.rs
Due: rust-lint, rust-style

chore(ci): update git submodules
  .gitmodules
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

fix(serde): fix serialization error for get nodes
  control-plane/plugin/src/resources/node.rs
Due: rust-lint, rust-style

fix(getNode): return single element in get node
  control-plane/plugin/src/resources/node.rs
Due: rust-lint, rust-style

chore(snapshot/clone): remove multi-replica snapshot/clone checks for system testing
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/agents/src/bin/core/volume/snapshot_helpers.rs
  tests/bdd/features/snapshot/create/feature.feature
  tests/bdd/features/snapshot/create/test_feature.py
  tests/bdd/features/snapshot/restore/create.feature
  tests/bdd/features/snapshot/restore/create_parameters.feature
  tests/bdd/features/snapshot/restore/test_create.py
  tests/bdd/features/snapshot/restore/test_create_parameters.py
Due: rust-lint, rust-style, python-check

feat(eventing): add target volumeid to nvme path events
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/server.rs
Due: rust-lint, rust-style

feat(topology/core): add node spread topology code to core-agent
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/node.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/volume/operations.rs
Due: rust-lint, rust-style

test(topology/bdd): add nodeSpreadTopologyKey tests
  tests/bdd/features/volume/topology/node-topology.feature
  tests/bdd/features/volume/topology/test_node_topology.py
Due: python-check

feat(topology/csi): add node spread topology code to csi-driver
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

fix(replica/entity_id): ignore not implemented error
  control-plane/agents/src/bin/core/nexus/operations_helper.rs
Due: rust-lint, rust-style
