Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

chore(release): update image tags to v.1.0.3
  deploy/core-agents-deployment.yaml
  deploy/csi-deployment.yaml
  deploy/msp-deployment.yaml
  deploy/rest-deployment.yaml
Due: none

chore(check-deploy-yamls): update tag to v1.0.3
  scripts/check-deploy-yamls.sh
Due: none

feat(ha_nexus): implementing HA Cluster agent stages
  common/src/transport_api/mod.rs
  common/src/types/v0/store/switchover.rs
  common/src/types/v0/transport/cluster_agent.rs
  common/src/types/v0/transport/mod.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/ha/cluster/main.rs
  control-plane/agents/src/bin/ha/cluster/nodes.rs
  control-plane/agents/src/bin/ha/cluster/server.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/cluster/volume.rs
  control-plane/agents/src/bin/ha/node/reporter.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/grpc/proto/v1/ha/cluster_agent.proto
  control-plane/grpc/src/operations/ha_node/client.rs
  control-plane/grpc/src/operations/ha_node/server.rs
  control-plane/grpc/src/operations/ha_node/traits.rs
  deployer/src/infra/agents/ha/node.rs
  scripts/python/test.sh
  tests/bdd/features/ha/cluster-agent/test_cluster_agent.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
Due: rust-lint, rust-style, python-check

chore: build cluster agent's images
  scripts/release.sh
Due: none

chore: add del_volume_targets api to rest
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
Due: rust-lint, rust-style

chore: add switchover bdds and common library changes
  scripts/python/test.sh
  scripts/python/test_residue_cleanup.sh
  tests/bdd/common/deployer.py
  tests/bdd/common/fio.py
  tests/bdd/common/nvme.py
  tests/bdd/features/ha/core-agent/target_switchover.feature
  tests/bdd/features/ha/core-agent/test_target_switchover.py
Due: python-check

chore: add bindings to fio-spdk deployer code
  deployer/src/infra/fio_spdk.rs
Due: rust-lint, rust-style

chore: add request timeout, resolve deadlock, reconciler changes in core
  common/src/transport_api/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/grpc/src/context.rs
Due: rust-lint, rust-style

chore: add cleanup scripts
  scripts/python/test.sh
  scripts/python/test_residue_cleanup.sh
Due: none

feat(nvme-resv): use reservations to gate access to replicas
  Cargo.lock
  common/Cargo.toml
  common/src/lib.rs
  common/src/store/etcd.rs
  common/src/store/etcd_keep_alive.rs
  common/src/types/v0/store/definitions.rs
  common/src/types/v0/store/nexus.rs
  common/src/types/v0/store/volume.rs
  common/src/types/v0/transport/nexus.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  deployer/src/infra/io_engine.rs
Due: rust-lint, rust-style

fix(switchover): delete shutdown targets should return error
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

fix(shutdown): delete target info key if it's not the current
  common/src/types/v0/store/volume.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/node/watchdog.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/src/operations/volume/traits.rs
Due: rust-lint, rust-style

fix: resolve dependabot security alerts
  Cargo.lock
Due: none

fix(ha): don't panic on shutdown
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/cluster/volume.rs
  control-plane/agents/src/bin/ha/node/reporter.rs
Due: rust-lint, rust-style

feat(ha_nexus): added additional stage in Switchover
  common/src/types/v0/store/switchover.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
Due: rust-lint, rust-style

chore: use rustup with path
  scripts/rust/env-setup.sh
  shell.nix
Due: none

feat(ha_nexus): adding support to handle switchover request asynchronously
  control-plane/agents/src/bin/ha/cluster/switchover.rs
Due: rust-lint, rust-style

feat(ha): replica local to older nexus should be excluded
  common/src/types/v0/store/nexus.rs
  common/src/types/v0/transport/child.rs
  control-plane/agents/src/bin/core/controller/reconciler/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/reconciler/pool/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/replica/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/hot_spare.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/src/operations/nexus/traits.rs
Due: rust-lint, rust-style

fix(ha_nexus): remove switchover queue lock contention
  control-plane/agents/src/bin/ha/cluster/switchover.rs
Due: rust-lint, rust-style

chore(terraform): separate master memory/vcpu from worker
  terraform/cluster/main.tf
  terraform/cluster/mod/libvirt/main.tf
  terraform/cluster/variables.tf
Due: none

fix(nix-shell): replace mistaken variable name
  scripts/rust/env-setup.sh
Due: none

fix: idempotent cordon and drain
  control-plane/plugin/src/resources/node.rs
Due: rust-lint, rust-style

feat(csi-node): allow controlling of the ctrl_loss_tmo
  Cargo.lock
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/node/config.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/context.rs
  control-plane/csi-driver/src/lib.rs
  scripts/release.sh
Due: rust-lint, rust-style

chore(cherry-pick): use rustup with path
  scripts/rust/env-setup.sh
  shell.nix
Due: none

fix(shutdown): don't fail when lazily shutting down the nexus
  common/src/types/v0/transport/nexus.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/volume/operations.rs
Due: rust-lint, rust-style

fix(switchover): destroy shutdown targets lazily
  common/src/types/v0/store/mod.rs
  common/src/types/v0/transport/nexus.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/reconciler/poller.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

fix(bdd): trap errors correctly
  scripts/python/test.sh
  scripts/python/test_residue_cleanup.sh
Due: none

fix(ha_nexus): adding additional error handling in ha cluster agent
  common/src/transport_api/mod.rs
  common/src/types/v0/store/switchover.rs
  control-plane/agents/src/bin/ha/cluster/nodes.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/cluster/volume.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/grpc/src/operations/ha_node/server.rs
Due: rust-lint, rust-style

chore: refactor republish code for older nexus recreate
  common/src/types/v0/transport/volume.rs
  control-plane/agents/src/bin/core/controller/reconciler/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/task_poller.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/service/src/v0/volumes.rs
Due: rust-lint, rust-style

fix(csi-node): don't unstage if bind mount exists
  control-plane/csi-driver/src/bin/node/filesystem_vol.rs
  control-plane/csi-driver/src/bin/node/mount.rs
  control-plane/csi-driver/src/bin/node/node.rs
Due: rust-lint, rust-style

chore: add test and reorder republish stages and bdd fixes
  common/src/types/v0/transport/volume.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/nexus.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/capacity.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/common/errors.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/tests/v0_test.rs
  tests/bdd/features/ha/core-agent/test_target_switchover.py
  tests/io-engine/tests/rebuild.rs
  utils/pstor-usage/src/volumes.rs
Due: rust-lint, rust-style, python-check

fix(csi-node): add noddy sleep between umount and disconnect
  control-plane/csi-driver/src/bin/node/node.rs
Due: rust-lint, rust-style

fix(csi-node): remount staging path as ro before final umount
  control-plane/csi-driver/src/bin/node/filesystem_vol.rs
  control-plane/csi-driver/src/bin/node/mount.rs
Due: rust-lint, rust-style

refactor(ha-nexus)!: changing stage name PublishPath to ReplacePath
  common/src/types/v0/store/switchover.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
Due: rust-lint, rust-style

chore(yaml): prepare release v1.0.4
  deploy/core-agents-deployment.yaml
  deploy/csi-deployment.yaml
  deploy/msp-deployment.yaml
  deploy/rest-deployment.yaml
  scripts/check-deploy-yamls.sh
Due: none

fix: add checks for fs before returning metrics
  control-plane/csi-driver/src/bin/node/node.rs
Due: rust-lint, rust-style

feat(plugin): add upgrade functionality to plugin
  Cargo.lock
  control-plane/plugin/src/bin/rest-plugin/main.rs
  k8s/plugin/Cargo.toml
  k8s/plugin/src/lib.rs
  k8s/plugin/src/main.rs
  k8s/plugin/src/resources/constant.rs
  k8s/plugin/src/resources/mod.rs
  k8s/plugin/src/resources/objects.rs
  k8s/plugin/src/resources/upgrade.rs
  k8s/plugin/src/resources/upgradeoperatorclient.rs
  k8s/proxy/src/lib.rs
  k8s/proxy/src/proxy.rs
  k8s/supportability/src/lib.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

chore: add core-agent changes for nexus reuse
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/task_poller.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/volume/operations.rs
Due: rust-lint, rust-style

chore: add common changes and types changes
  common/src/types/v0/store/nexus.rs
  common/src/types/v0/store/switchover.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
