Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

chore: add cluster-agent changes to retrigger republish
  control-plane/agents/src/bin/ha/cluster/switchover.rs
Due: rust-lint, rust-style

chore: add node-agent changes for idempotency
  control-plane/agents/src/bin/ha/node/server.rs
Due: rust-lint, rust-style

feat(logs-for-ha): collect agent-ha-node logse
  k8s/supportability/src/collect/constants.rs
Due: rust-lint, rust-style

feat(rename-plugin): add proxy for upgrade and rename plugin
  k8s/proxy/src/lib.rs
  k8s/proxy/src/proxy.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

build: set openebs as image registry
  Jenkinsfile
  nix/pkgs/images/default.nix
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

build: addressed review comments
  terraform/deploy/simple.tfvars
  terraform/deploy/variables.tf
Due: none

chore(ha_nexus): allow errored and successful requests to be enqueued at startup
  common/src/types/v0/store/switchover.rs
  control-plane/agents/src/bin/ha/cluster/etcd.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/cluster/volume.rs
Due: rust-lint, rust-style

feat(nqn): add new host nqn type
  common/src/lib.rs
  common/src/transport_api/mod.rs
  common/src/types/v0/transport/mod.rs
  common/src/types/v0/transport/nvme_nqn.rs
Due: rust-lint, rust-style

feat(nvme): add allowed-hosts to the persistent store operations
  common/src/types/v0/store/replica.rs
  common/src/types/v0/transport/nvme_nqn.rs
  common/src/types/v0/transport/replica.rs
  control-plane/agents/src/bin/core/pool/replica_operations.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/common/msg_translation/v0.rs
  control-plane/agents/src/common/msg_translation/v1.rs
  control-plane/grpc/src/operations/replica/traits.rs
  control-plane/rest/tests/v0_test.rs
  rpc/src/lib.rs
  tests/io-engine/tests/allowed_hosts.rs
  tests/io-engine/tests/reservations.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

feat(nvme): add allowed-hosts to the rest api
  common/src/types/v0/transport/replica.rs
  control-plane/agents/src/bin/core/tests/volume/capacity.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/nexuses.rs
  control-plane/rest/service/src/v0/replicas.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/rest/tests/v0_test.rs
  nix/pkgs/openapi-generator/source.json
  tests/io-engine/tests/nexus.rs
  tests/io-engine/tests/rebuild.rs
Due: rust-lint, rust-style

feat(nvme): add allowed-hosts to grpc
  common/src/types/v0/store/replica.rs
  common/src/types/v0/transport/misc.rs
  common/src/types/v0/transport/replica.rs
  control-plane/agents/src/bin/core/tests/nexus/mod.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/hotspare.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/msg_translation/v0.rs
  control-plane/agents/src/common/msg_translation/v1.rs
  control-plane/grpc/proto/v1/replica/replica.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/grpc/src/operations/replica/traits.rs
  deployer/src/infra/io_engine.rs
Due: rust-lint, rust-style

feat(nexus): allow for non-managed nexus reconciler
  common/src/types/v0/transport/nexus.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
Due: rust-lint, rust-style

chore: store publish context on volume publish
  common/src/types/v0/store/volume.rs
  common/src/types/v0/transport/volume.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/capacity.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/tests/volume/hotspare.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/tests/v0_test.rs
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
  tests/bdd/features/csi/node/test_csi.py
  tests/bdd/features/csi/node/test_node.py
  tests/bdd/features/csi/node/test_parameters.py
  tests/bdd/features/garbage-collection/replicas/test_feature.py
  tests/bdd/features/ha/core-agent/test_target_switchover.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
  tests/bdd/features/rebuild/test_rebuild.py
  tests/bdd/features/volume/delete/test_feature.py
  tests/bdd/features/volume/nexus-info/test_feature.py
  tests/bdd/features/volume/nexus/test_feature.py
  tests/bdd/features/volume/publish/test_feature.py
  tests/bdd/features/volume/replicas/test_feature.py
  tests/bdd/features/volume/topology/test_feature.py
  tests/bdd/features/volume/unpublish/test_feature.py
  tests/io-engine/tests/rebuild.rs
  utils/pstor-usage/src/volumes.rs
Due: rust-lint, rust-style, python-check

chore: move all publish query params to body
  common/src/types/v0/store/volume.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/capacity.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/tests/v0_test.rs
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
  tests/bdd/features/csi/node/test_csi.py
  tests/bdd/features/csi/node/test_node.py
  tests/bdd/features/csi/node/test_parameters.py
  tests/bdd/features/garbage-collection/replicas/test_feature.py
  tests/bdd/features/ha/core-agent/test_target_switchover.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
  tests/bdd/features/rebuild/test_rebuild.py
  tests/bdd/features/volume/delete/test_feature.py
  tests/bdd/features/volume/nexus-info/test_feature.py
  tests/bdd/features/volume/nexus/test_feature.py
  tests/bdd/features/volume/publish/test_feature.py
  tests/bdd/features/volume/replicas/test_feature.py
  tests/bdd/features/volume/topology/test_feature.py
  tests/bdd/features/volume/unpublish/test_feature.py
  tests/io-engine/tests/rebuild.rs
  utils/pstor-usage/src/volumes.rs
Due: rust-lint, rust-style, python-check

fix(csi-node): don't detach if mounts are present
  control-plane/csi-driver/src/bin/node/node.rs
Due: rust-lint, rust-style

refactor: csi-node device error, ha grpc
  Cargo.lock
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/error.rs
  control-plane/csi-driver/src/bin/node/findmnt.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_nvme.rs
  control-plane/grpc/Cargo.toml
  control-plane/grpc/build.rs
  control-plane/grpc/proto/v1/ha/cluster_agent.proto
  control-plane/grpc/proto/v1/ha/csi_node_nvme.proto
  control-plane/grpc/proto/v1/ha/node_agent.proto
  control-plane/grpc/src/lib.rs
  control-plane/grpc/src/operations/ha_node/client.rs
  control-plane/grpc/src/operations/ha_node/server.rs
  control-plane/grpc/src/operations/ha_node/traits.rs
  scripts/python/venv-setup-prep.sh
  tests/bdd/common/cluster_agent.py
  tests/bdd/common/node_agent.py
  tests/bdd/features/ha/cluster-agent/test_cluster_agent.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
Due: rust-lint, rust-style, python-check

feat(hostnqn): use allowed hosts with auto-generated hostnqn within device uri
  common/src/types/v0/transport/child.rs
  common/src/types/v0/transport/misc.rs
  common/src/types/v0/transport/nvme_nqn.rs
  common/src/types/v0/transport/replica.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  deployer/src/infra/io_engine.rs
  deployer/src/lib.rs
  tests/io-engine/tests/allowed_hosts.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

feat(csi-hostnqn): use nexus uuid to generate hostnqn within device uri
  common/src/types/v0/store/nexus.rs
  common/src/types/v0/transport/misc.rs
  common/src/types/v0/transport/nexus.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/agents/src/common/msg_translation/v0.rs
  control-plane/agents/src/common/msg_translation/v1.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/grpc/src/operations/nexus/traits.rs
  deployer/src/infra/agents/core.rs
  deployer/src/lib.rs
  tests/bdd/common/fio.py
  tests/bdd/common/nvme.py
  tests/bdd/features/csi/controller/test_controller.py
  tests/bdd/features/ha/core-agent/test_target_switchover.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
  tests/io-engine/tests/allowed_hosts.rs
  tests/io-engine/tests/reservations.rs
Due: rust-lint, rust-style, python-check

fix: use hostnqn from dataplane registration
  common/src/lib.rs
  common/src/types/v0/store/node.rs
  common/src/types/v0/transport/misc.rs
  common/src/types/v0/transport/node.rs
  common/src/types/v0/transport/nvme_nqn.rs
  control-plane/agents/src/bin/core/controller/grpc.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/capacity.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/grpc/src/operations/registration/traits.rs
  control-plane/rest/tests/v0_test.rs
  deployer/src/infra/agents/core.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

feat(plugin): collect all ha node logs
  k8s/supportability/src/collect/constants.rs
Due: rust-lint, rust-style

chore: ha-node nvme connect over uds to csi-node
  common/src/types/v0/store/switchover.rs
  common/src/types/v0/store/volume.rs
  common/src/types/v0/transport/cluster_agent.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/ha/node/reporter.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/agents/src/common/errors.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_nvme.rs
  control-plane/grpc/proto/v1/ha/csi_node_nvme.proto
  control-plane/grpc/proto/v1/ha/node_agent.proto
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/lib.rs
  control-plane/grpc/src/operations/ha_node/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  deployer/src/infra/agents/ha/node.rs
  tests/bdd/features/ha/node-agent/test_path_replacement.py
Due: rust-lint, rust-style, python-check

chore: change scripts for protobuf compilation
  scripts/python/venv-setup-prep.sh
  tests/bdd/common/cluster_agent.py
  tests/bdd/common/node_agent.py
  tests/bdd/features/ha/cluster-agent/test_cluster_agent.py
  tests/bdd/setup.sh
Due: python-check

chore(rest): adding host nqn in node object
  common/src/types/v0/store/node.rs
  common/src/types/v0/transport/node.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
Due: rust-lint, rust-style

chore(rest): adding host nqn in node object
  common/src/types/v0/store/node.rs
  common/src/types/v0/transport/node.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
Due: rust-lint, rust-style

fix(ha): invalid nqn in mayastor-agent-ha-node logs
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/path_provider.rs
  control-plane/agents/src/bin/ha/node/server.rs
Due: rust-lint, rust-style

refactor!: tidy up (re)publish operations
  common/src/types/v0/store/volume.rs
  common/src/types/v0/transport/misc.rs
  common/src/types/v0/transport/volume.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/src/operations/volume/traits.rs
  openapi/build.rs
Due: rust-lint, rust-style

feat(core-agent): reject outdated republishes from cluster-agent
  common/src/types/v0/store/switchover.rs
  common/src/types/v0/store/volume.rs
  common/src/types/v0/transport/volume.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/ha/cluster/nodes.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/cluster/volume.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  tests/bdd/features/ha/core-agent/test_target_switchover.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
Due: rust-lint, rust-style, python-check

chore: simplify nvme nqn serialized value
  common/src/types/v0/transport/nvme_nqn.rs
Due: rust-lint, rust-style

ci: increase timeout to 2h
  Jenkinsfile
Due: none

refactor: tidy some some of the switchover agents code
  common/src/types/v0/store/switchover.rs
  control-plane/agents/src/bin/ha/cluster/etcd.rs
  control-plane/agents/src/bin/ha/cluster/main.rs
  control-plane/agents/src/bin/ha/cluster/nodes.rs
  control-plane/agents/src/bin/ha/cluster/server.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/cluster/volume.rs
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/ha/node/path_provider.rs
  control-plane/agents/src/bin/ha/node/reporter.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/grpc/src/operations/ha_node/client.rs
Due: rust-lint, rust-style

feat(cluster-agent): cancel outdated switchover requests
  control-plane/agents/src/bin/ha/cluster/switchover.rs
Due: rust-lint, rust-style

fix(csi-node): wait until filesystem shutdown before disconnecting
  control-plane/csi-driver/src/bin/node/filesystem_vol.rs
  control-plane/csi-driver/src/bin/node/mount.rs
  control-plane/csi-driver/src/bin/node/node.rs
  scripts/python/test.sh
  scripts/python/test_residue_cleanup.sh
  scripts/rust/test.sh
Due: rust-lint, rust-style

chore: modify rust openapi gen script for extensions
  scripts/rust/generate-openapi-bindings.sh
Due: none

fix: mistakenly removed cached from previous pr
  scripts/rust/generate-openapi-bindings.sh
Due: none

feat(supportability): add success log to the dump commands
  k8s/supportability/src/collect/resource_dump.rs
  k8s/supportability/src/collect/system_dump.rs
Due: rust-lint, rust-style

feat(supportability): add success log to the dump commands
  k8s/supportability/src/collect/resource_dump.rs
Due: rust-lint, rust-style

chore: update gitignore
  .gitignore
Due: none

chore(cherry-pick): add worker thread knobs to the api-rest service
  Cargo.lock
  common/src/constants.rs
  control-plane/rest/Cargo.toml
  control-plane/rest/service/src/main.rs
  deployer/src/lib.rs
Due: rust-lint, rust-style

test: fix test failure
  control-plane/agents/core/src/volume/tests.rs
Due: rust-lint, rust-style
