Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

fix(release-artifact): add darwin derivation hash
  .github/workflows/release_artifacts.yml
  nix/pkgs/openapi-generator/default.nix
  nix/pkgs/utils/default.nix
Due: none

ci(kubectl-plugin): fix windows build and github release action
  .github/workflows/release_artifacts.yml
  nix/lib/rust.nix
  nix/pkgs/utils/default.nix
  utils/shutdown/src/lib.rs
Due: rust-lint, rust-style

fix(ci): add missing release branch subst for tag
  scripts/release.sh
Due: none

feat(nix): allow nix system to be specified
  default.nix
Due: none

chore(docker): override commit hash with tag
  default.nix
  nix/overlay.nix
  nix/pkgs/images/default.nix
  scripts/release.sh
Due: none

fix(ci): remove unused var from release script
  scripts/release.sh
Due: none

fix(build): don't include release script in build derivation
  .gitignore
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/utils/default.nix
Due: none

fix(build): don't include .git folder in build
  nix/lib/version.nix
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/control-plane/default.nix
  nix/pkgs/utils/default.nix
  scripts/rust/generate-openapi-bindings.sh
Due: none

feat(ha-target-switchover): add core agent changes
  common/src/types/v0/store/nexus.rs
  common/src/types/v0/store/volume.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/hot_spare.rs
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/nexus/specs.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/capacity.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/specs.rs
Due: rust-lint, rust-style

feat(ha-target-switchover): add grpc transport changes
  common/src/types/v0/transport/mod.rs
  common/src/types/v0/transport/nexus.rs
  common/src/types/v0/transport/volume.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
Due: rust-lint, rust-style

feat(ha-target-switchover): add rest api changes
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/tests/v0_test.rs
Due: rust-lint, rust-style

feat(ha-target-switchover): add csi-driver changes
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

chore: expose core-grpc server port in deployer, fix dependent code
  deployer/src/infra/agents/core.rs
  tests/io-engine/tests/rebuild.rs
  utils/pstor-usage/src/volumes.rs
Due: rust-lint, rust-style

feat(cluster-agent): implementing persistence layer and switchover engine
  Cargo.lock
  common/Cargo.toml
  common/src/types/v0/store/definitions.rs
  common/src/types/v0/store/mod.rs
  common/src/types/v0/store/switchover.rs
  control-plane/agents/src/bin/ha/cluster/etcd.rs
  control-plane/agents/src/bin/ha/cluster/main.rs
  control-plane/agents/src/bin/ha/cluster/nodes.rs
  control-plane/agents/src/bin/ha/cluster/server.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/cluster/volume.rs
  control-plane/grpc/src/operations/ha_node/server.rs
  control-plane/grpc/src/operations/ha_node/traits.rs
  deployer/src/infra/agents/ha/cluster.rs
  tests/bdd/features/ha/cluster-agent/test_cluster_agent.py
Due: rust-lint, rust-style, python-check

feat(nexus_shutdown): adding changes for nexus shutdown api call
  common/src/transport_api/v0.rs
  common/src/types/v0/transport/mod.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/common/msg_translation/v0.rs
  control-plane/agents/src/common/msg_translation/v1.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

fix(dependencies): pin git submodules to release/2.0 branches
  .gitmodules
Due: none

fix(local): pin csi-nodes to io-engine nodes
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

fix: make unmount not lazy
  control-plane/csi-driver/src/bin/node/mount.rs
Due: rust-lint, rust-style

chore: enable rustup for dev environments
  .gitignore
  shell.nix
Due: none

ci: make control plane sees nodes as online before completing node wait
  deployer/src/infra/agents/core.rs
  deployer/src/infra/io_engine.rs
Due: rust-lint, rust-style

fix: upgrade dockerhub url v2 to check for tags
  scripts/release.sh
Due: none

ci: add run_tests parameter on Jenkins
  Jenkinsfile
Due: none

ci: update with CI changes from develop
  Jenkinsfile
  scripts/release.sh
Due: none

ci: use matching io-engine release image
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

test: add fio-spdk container to deployer
  deployer/src/infra/agents/core.rs
  deployer/src/infra/agents/ha/cluster.rs
  deployer/src/infra/agents/ha/node.rs
  deployer/src/infra/agents/jsongrpc.rs
  deployer/src/infra/csi-driver/controller.rs
  deployer/src/infra/csi-driver/node.rs
  deployer/src/infra/fio_spdk.rs
  deployer/src/infra/io_engine.rs
  deployer/src/infra/mod.rs
  deployer/src/lib.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

feat: handle new nvme configuration parameters
  common/src/types/v0/transport/nexus.rs
  control-plane/agents/src/bin/core/tests/volume/capacity.rs
  control-plane/agents/src/common/msg_translation/v0.rs
  control-plane/agents/src/common/msg_translation/v1.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

chore(ci): bump concurrent rebuild timeout test
  tests/io-engine/tests/rebuild.rs
Due: rust-lint, rust-style

ci: update jenkins and release to match latest devel
  .github/workflows/release_artifacts.yml
  Jenkinsfile
  default.nix
  nix/overlay.nix
  nix/pkgs/images/default.nix
  scripts/git-submodule-init.sh
  scripts/release.sh
  shell.nix
Due: none

test: add reservation test
  control-plane/agents/src/common/msg_translation/v1.rs
  tests/io-engine/tests/rebuild.rs
  tests/io-engine/tests/reservations.rs
Due: rust-lint, rust-style

fix: set pool time timeouts and silence duplicate logs
  common/src/transport_api/mod.rs
  common/src/types/v0/store/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/pool/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/replica/mod.rs
  control-plane/agents/src/bin/core/controller/resources/mod.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/grpc/src/context.rs
Due: rust-lint, rust-style

fix(csi-controller): unpublish regardless of the node
  control-plane/csi-driver/src/bin/controller/controller.rs
  tests/bdd/features/csi/controller/test_controller.py
Due: rust-lint, rust-style, python-check

test!: use openebs registry for io-engine image
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

build!: change docker hub credentials
  Jenkinsfile
Due: none

build!: set openebs as image registry
  nix/pkgs/images/default.nix
Due: none

feat(plugin): add provisioning type field information for volumes
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
