Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

feat(partial_rebuild): add partial rebuild support in control plane
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/hot_spare.rs
Due: rust-lint, rust-style

fix(capacity/thin): don't add children for rebuild if there's no space
  control-plane/agents/src/bin/core/controller/reconciler/nexus/capacity.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/pool.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  tests/bdd/features/capacity/thin/volume/rebuild.feature
  tests/bdd/features/capacity/thin/volume/test_rebuild.py
Due: rust-lint, rust-style, python-check

feat(partial_rebuild): add partial rebuild support in control plane
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
Due: rust-lint, rust-style

fix: v1 to v2 migration, update labels put by control-plane
  control-plane/agents/src/bin/core/controller/resources/migration.rs
  control-plane/agents/src/bin/core/controller/resources/mod.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/stor-port/Cargo.toml
  utils/pstor/src/lib.rs
  utils/pstor/src/products/mod.rs
  utils/pstor/src/products/v1.rs
Due: rust-lint, rust-style

feat(partial_rebuild): add partial rebuild support in control plane
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  tests/bdd/features/volume/replicas/test_feature.py
Due: rust-lint, rust-style, python-check

chore(reconciler): removing unnecessary logger
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
Due: rust-lint, rust-style

feat(volume group): add volume scheduling policies and anti-affinity filter
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_group.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/thick.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/volume_group.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/src/misc/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

feat(volume group): add bdd feature file and add bdd tests for create volume
  tests/bdd/features/volume_group/create/create.feature
  tests/bdd/features/volume_group/create/test_create.py
Due: python-check

fix: wait for no shutdown nexuses
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
Due: rust-lint, rust-style

chore(rebuild/policies): invariant - return zero duration if only one online child remains
  control-plane/agents/src/bin/core/controller/policies/rebuild_policies.rs
Due: rust-lint, rust-style

chore(agent/cli): make faulted child wait period optional
  control-plane/agents/src/bin/core/controller/policies/rebuild_policies.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
Due: rust-lint, rust-style

fix(replica_rebuild): check replica state before checking wait duration
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
Due: rust-lint, rust-style

test(partial-rebuild): add bdd tests for replica rebuild
  tests/bdd/features/rebuild/log-based-rebuild.feature
  tests/bdd/features/rebuild/test_log_based_rebuild.py
Due: python-check

fix: use operation guard to nodes
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/stor-port/src/types/v0/store/node.rs
Due: rust-lint, rust-style

test(switchover/bdd): add robustness tests
  nix/sources.json
  shell.nix
  tests/bdd/common/deployer.py
  tests/bdd/common/fio.py
  tests/bdd/common/nvme.py
  tests/bdd/features/ha/robustness.feature
  tests/bdd/features/ha/test_robustness.py
Due: python-check

chore(python/bdd): pin to version 6
  tests/bdd/requirements.txt
Due: none

fix(ha-node): add subsystem sync for platform none
  control-plane/agents/src/bin/ha/node/path_provider.rs
  deployer/src/infra/mod.rs
  utils/platform/src/deployer/mod.rs
  utils/platform/src/lib.rs
  utils/platform/src/none/mod.rs
Due: rust-lint, rust-style

fix(switchover): adds several corner case fixes
  control-plane/agents/src/bin/ha/cluster/etcd.rs
  control-plane/agents/src/bin/ha/cluster/nodes.rs
  control-plane/agents/src/bin/ha/cluster/server.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/cluster/volume.rs
  control-plane/agents/src/bin/ha/node/reporter.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/grpc/proto/v1/ha/cluster_agent.proto
  control-plane/grpc/src/context.rs
  control-plane/grpc/src/operations/ha_node/client.rs
  control-plane/grpc/src/operations/ha_node/server.rs
  control-plane/grpc/src/operations/ha_node/traits.rs
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/types/v0/transport/cluster_agent.rs
Due: rust-lint, rust-style

feat(volume group): extend to incorporate set replica operations
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_group.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

feat(volume group): add bdd tests for the set replica operations
  tests/bdd/features/volume_group/set_replica/feature.feature
  tests/bdd/features/volume_group/set_replica/test_set_replica.py
Due: python-check

feat(volume group): extend to incorporate publish and republish operations
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_group.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/specs.rs
Due: rust-lint, rust-style

feat(volume group): add bdd tests for the target placement
  tests/bdd/features/volume_group/create/test_create.py
  tests/bdd/features/volume_group/publish/feature.feature
  tests/bdd/features/volume_group/publish/test_publish.py
Due: python-check

fix(switchover/cluster): add old target reuse as fallback
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
  tests/bdd/common/docker.py
  tests/bdd/features/ha/robustness.feature
  tests/bdd/features/ha/test_robustness.py
Due: rust-lint, rust-style, python-check

fix(partial-rebuild/bdd): set skip decorator before scenario
  tests/bdd/features/rebuild/test_log_based_rebuild.py
Due: python-check

test(partial_rebuild): unit tests for partial rebuild
  control-plane/agents/src/bin/core/tests/rebuild/mod.rs
  control-plane/agents/src/bin/core/tests/test.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

fix: wait for no shutdown nexuses
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/stor-port/src/types/v0/store/node.rs
Due: rust-lint, rust-style

build(images): add tag argument
  default.nix
  nix/lib/version.nix
  nix/overlay.nix
  nix/pkgs/control-plane/default.nix
  scripts/release.sh
Due: none

chore: don't show crate version on log
  .gitmodules
  utils/utils-lib/src/version.rs
Due: rust-lint, rust-style

ci(gha/submodule): ensure submodules point to the right branch
  .github/workflows/pr-submodule-branch.yml
  .gitmodules
  scripts/git/set-submodule-branches.sh
  scripts/nix/git-submodule-init.sh
  scripts/rust/branch_ancestor.sh
Due: none

chore: pin requests until fixed upstream
  tests/bdd/requirements.txt
Due: none

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
