Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

refactor: make openapi tls discovery enabled by default
  k8s/forward/src/port_forward.rs
  openapi/templates/default/tower-hyper/client/configuration.mustache
Due: rust-lint, rust-style

feat: add event-consumer crate for NATS event consumption
  Cargo.lock
  Cargo.toml
  utils/event-consumer/Cargo.toml
  utils/event-consumer/src/consumer.rs
  utils/event-consumer/src/lib.rs
Due: rust-lint, rust-style

refactor(tls): read secret name directly from annotation
  k8s/forward/src/port_forward.rs
Due: rust-lint, rust-style

fix(tls): once we discovered tls, disable it
  k8s/forward/src/port_forward.rs
Due: rust-lint, rust-style

refactor: use version_info_string macro
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/ha/cluster/main.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/jsongrpc/main.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/rest/service/src/main.rs
  deployer/bin/src/deployer.rs
  k8s/operators/src/pool/main.rs
  utils/bundle-sim/src/bin/bundle-sim.rs
  utils/pstor-usage/src/main.rs
  utils/utils-lib/src/version.rs
Due: rust-lint, rust-style

fix(health): don't cache readiness failure before first successful probe
  control-plane/rest/service/src/health/core_state.rs
  control-plane/rest/service/src/main.rs
Due: rust-lint, rust-style

feat: propagate fatal consumer error back to caller
  Cargo.lock
  utils/event-consumer/Cargo.toml
  utils/event-consumer/src/consumer.rs
  utils/event-consumer/src/lib.rs
Due: rust-lint, rust-style

fix: use in-cluster config when running inside a pod
  k8s/proxy/src/lib.rs
Due: rust-lint, rust-style

🔄 created local '.github/dependabot.yml' from remote '.github/DEPENDABOT_TEMPLATES/dependabot.tmpl'
  .github/dependabot.yml
Due: none

feat(volume/republish): wait for importing replicas before child selection
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
Due: rust-lint, rust-style

chore: sync Dependabot configuration
  .github/dependabot.yml
Due: none

feat: parse nexus label and bdev size
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  rpc/src/lib.rs
  utils/bundle-sim/src/bin/io-engine.rs
Due: rust-lint, rust-style

feat: add nexus label and bdev size to the gRPC
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/lib.rs
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  utils/bundle-sim/src/bin/io-engine.rs
Due: rust-lint, rust-style

feat: add label version to the core registry config
  control-plane/agents/src/bin/core/controller/reconciler/persistent_store.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/node/registry.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/grpc/src/operations/registration/traits.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  control-plane/stor-port/src/types/v0/store/registry.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
Due: rust-lint, rust-style

feat: add nexus/volume label to the REST api
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
Due: rust-lint, rust-style

feat: use label from core registry when creating volumes
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  tests/bdd/features/volume/create/test_feature.py
  tests/bdd/features/volume/observability/test_feature.py
  tests/bdd/features/volume/topology/test_feature.py
  tests/bdd/features/volume/topology/test_node-topology.py
  tests/bdd/features/volume/topology/test_pool-topology.py
Due: rust-lint, rust-style, python-check

ci: collect docker logs on failure
  scripts/python/linter.sh
  tests/bdd/common/deployer.py
  tests/bdd/common/docker.py
  tests/bdd/conftest.py
Due: python-check

chore(ci): update git submodules
  Cargo.lock
  Cargo.toml
Due: none

ci: run crd checker only when operator changes
  .github/workflows/crds.yaml
Due: none

feat(event-consumer): create JetStream stream on startup if absent
  utils/event-consumer/src/consumer.rs
  utils/event-consumer/src/lib.rs
Due: rust-lint, rust-style

fix: default node's label version to V1
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
Due: rust-lint, rust-style

fix: add read_only field to v1 Nexus/PublishNexus struct literals
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  utils/bundle-sim/src/bin/io-engine.rs
Due: rust-lint, rust-style

feat(rest-plugin): display affected volumes and snapshots for data loss purge
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/impact.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/pool.rs
Due: rust-lint, rust-style

feat(tls): enable http only for the alive/ready probes
  control-plane/rest/service/src/main.rs
Due: rust-lint, rust-style

test: ensure http restricted mode is respected
  control-plane/rest/tests/v0_test.rs
  deployer/src/infra/rest.rs
  deployer/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

ci(bdd): collect etcd key/value data
  tests/bdd/common/docker.py
Due: python-check

ci: enable mergeq and mergify
  .github/mergify.yml
  .github/workflows/develop-to-release.yml
  .github/workflows/pr-ci.yml
  .github/workflows/pr-commitlint.yml
  .github/workflows/pr-submodule-branch.yml
  .github/workflows/pr-try-ci.yml
Due: none

feat(rest/client): add auto-reload by watching for cert changes
  Cargo.lock
  Cargo.toml
  control-plane/plugin/src/rest_wrapper.rs
  k8s/forward/src/lib.rs
  k8s/proxy/src/proxy.rs
  openapi/Cargo.toml
  openapi/templates/default/tower-hyper/client/configuration.mustache
  utils/deployer-cluster/src/rest_client.rs
Due: rust-lint, rust-style

feat(rest/server): hot-reload TLS certificates without restart
  Cargo.lock
  control-plane/rest/Cargo.toml
  control-plane/rest/service/src/main.rs
  control-plane/rest/service/src/tls.rs
Due: rust-lint, rust-style

chore: swagger body changes on create and publish volume
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

ci: run the pr-ci on PR to display jobs as skipped
  .github/workflows/pr-ci.yml
  .github/workflows/pr-commitlint.yml
  .github/workflows/pr-submodule-branch.yml
  .github/workflows/pr-try-ci.yml
  .github/workflows/staging-dco.yml
Due: none

docs: update terraform adoc
  terraform/cluster/README.adoc
Due: none

docs: update terraform adoc
  .github/mergify.yml
  terraform/cluster/README.adoc
Due: none

test(bdd): fix creation test by adjusting reconciler period
  tests/bdd/features/volume/create/test_feature.py
Due: python-check

ci: don't run commitlint on merge q tests
  .github/workflows/pr-commitlint.yml
Due: none

fix(csi/node): check nvme_rdma kernel module for RDMA capability
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/main_.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
