Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

test(app node): cargo test for the app node operations
  control-plane/agents/src/bin/core/tests/test.rs
Due: rust-lint, rust-style

feat(app node): add registry and pstor persistence
  control-plane/agents/src/bin/core/app_node/mod.rs
  control-plane/agents/src/bin/core/app_node/registry.rs
  control-plane/agents/src/bin/core/app_node/service.rs
  control-plane/agents/src/bin/core/app_node/specs.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/resources/app_node/mod.rs
  control-plane/agents/src/bin/core/controller/resources/mod.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/tests/app_node/mod.rs
Due: rust-lint, rust-style

feat(topology): add label to node restapi, grpc and core code
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/node/operations.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/node/target_node.proto
  control-plane/grpc/src/operations/node/client.rs
  control-plane/grpc/src/operations/node/server.rs
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/nodes.rs
  control-plane/stor-port/src/types/v0/store/node.rs
Due: rust-lint, rust-style

feat(topology): add python tests
  tests/bdd/features/node/drain/__init__.py
  tests/bdd/features/node/drain/feature.feature
  tests/bdd/features/node/label/feature.feature
  tests/bdd/features/node/label/test_label_unlabel_node.py
Due: python-check

feat(topology): add plugin code
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/src/operations/node/server.rs
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  tests/bdd/features/node/label/feature.feature
  tests/bdd/features/node/label/test_label_unlabel_node.py
Due: rust-lint, rust-style, python-check

build(openapi-generator): upgrade to v6.4.0
  nix/pkgs/openapi-generator/default.nix
  nix/pkgs/openapi-generator/source.json
  scripts/python/generate-openapi-bindings.sh
Due: none

docs(node-label/rest-plugin): improve ux for the command line
  control-plane/plugin/src/resources/mod.rs
Due: rust-lint, rust-style

refactor(node-label): use specific types for store operations
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/node/operations.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/node/target_node.proto
  control-plane/grpc/src/operations/node/client.rs
  control-plane/grpc/src/operations/node/server.rs
  control-plane/stor-port/src/types/v0/store/node.rs
Due: rust-lint, rust-style

refactor(node-label/api): doc the cli and openapi with key val
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/nodes.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  nix/pkgs/openapi-generator/source.json
  tests/bdd/features/node/label/feature.feature
  tests/bdd/features/node/label/test_label_unlabel_node.py
Due: rust-lint, rust-style, python-check

ci: don't install pre-commit on CI
  shell.nix
Due: none

ci: check if python linter modified files
  Jenkinsfile
Due: none

refactor: apply python linter suggestions
  tests/bdd/features/volume/topology/test_pool_affinity_spread.py
Due: python-check

feat(stats): add nexus stats structs in v1rpc
  rpc/src/lib.rs
Due: rust-lint, rust-style

fix(core/ha): re-share the nexus on republish
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
Due: rust-lint, rust-style

test(volume/resize): add bdd tests for offline volume resize
  tests/bdd/features/volume/resize/resize_offline.feature
  tests/bdd/features/volume/resize/test_resize_offline.py
Due: python-check

feat(app node): add rest api endpoints and integrate control-plane grpc
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/app_node.rs
  control-plane/rest/service/src/v0/mod.rs
  control-plane/stor-port/src/types/v0/store/app_node.rs
  control-plane/stor-port/src/types/v0/transport/app_node.rs
Due: rust-lint, rust-style

fix(pool/import): add pool import timeout
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/grpc/src/context.rs
Due: rust-lint, rust-style

feat(topology): add test case for node topology
  tests/bdd/features/volume/topology/node-affinity-spread.feature
  tests/bdd/features/volume/topology/test_node_affinity_spread.py
Due: python-check

feat(topology): add node topology to core
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/node.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
Due: rust-lint, rust-style

feat(topology): add code for node topology to csi
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
  control-plane/stor-port/src/types/v0/store/node.rs
Due: rust-lint, rust-style

fix(pstor): when lease is lost exit instead of panic
  utils/pstor/src/etcd_keep_alive.rs
Due: rust-lint, rust-style

test(events): increase timeout
  control-plane/agents/src/bin/core/tests/event/mod.rs
Due: rust-lint, rust-style

test(csi/parameters): use actual device path
  tests/bdd/common/nvme.py
  tests/bdd/features/csi/node/test_parameters.py
Due: python-check

test(thin/mixed): ensure thick volume is thick
  tests/bdd/features/capacity/thin/volume/test_mixed.py
Due: python-check

feat(app node): add csi node registration
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/controller/identity.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/controller/pvwatcher.rs
  control-plane/csi-driver/src/bin/controller/server.rs
  control-plane/csi-driver/src/bin/node/client.rs
  control-plane/csi-driver/src/bin/node/k8s.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/registration.rs
Due: rust-lint, rust-style

chore: update openapi generator to point to latest
  nix/pkgs/openapi-generator/source.json
Due: none

refactor: make registration configurable, use only grpc endpoint, use tokio join instead of select
  control-plane/csi-driver/src/bin/node/client.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/registration.rs
Due: rust-lint, rust-style

feat(app node): add app node registration configuration to deployer
  control-plane/csi-driver/src/bin/node/main_.rs
  deployer/src/infra/csi-driver/node.rs
  deployer/src/lib.rs
Due: rust-lint, rust-style

feat(fs consistent snaps): integrate fs consistency code to snapshot creation flow
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/node/fsfreeze/mod.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

test: test
  a.txt
Due: none

test: test2
  x.txt
Due: none

ci(gha): set submodule token
  .github/workflows/pr-submodule-branch.yml
Due: none

ci(gha): don't use secret from fork
  .github/workflows/pr-submodule-branch.yml
Due: none

feat(snapshot): support multi-replica snapshot
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_helpers.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/plugin/src/resources/tests.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

test(events): increase rebuild timeout
  control-plane/agents/src/bin/core/tests/event/mod.rs
Due: rust-lint, rust-style

test(volume/resize): stability fixes in offline volume resize test
  tests/bdd/features/volume/resize/resize_offline.feature
  tests/bdd/features/volume/resize/test_resize_offline.py
Due: python-check

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
