Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

fix(snapshot/timeout): increase nexus and replica snapshot timeout
  control-plane/grpc/src/context.rs
  control-plane/stor-port/src/transport_api/mod.rs
Due: rust-lint, rust-style

refactor(snapshot/destroy): rename delete to destroy as per convention
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/rest/service/src/v0/snapshots.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
Due: rust-lint, rust-style

fix(snapshot/timeout): add missing volume snapshot timeout
  control-plane/grpc/src/context.rs
  control-plane/stor-port/src/transport_api/mod.rs
Due: rust-lint, rust-style

feat(clone): add the volume content source to the volume spec
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

feat(callhome): vol and pool events
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/tests/volume/events.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/grpc/Cargo.toml
  control-plane/grpc/src/operations/mod.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/plugin/src/lib.rs
  deployer/Cargo.toml
  deployer/src/infra/agents/core.rs
  deployer/src/infra/mod.rs
  deployer/src/infra/nats.rs
  deployer/src/lib.rs
  utils/deployer-cluster/src/lib.rs
  utils/utils-lib/Cargo.toml
  utils/utils-lib/src/tracing_telemetry.rs
Due: rust-lint, rust-style

test(snapshot/clone): add bdd for create and list volume from snapshot
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/common/errors.rs
  tests/bdd/common/deployer.py
  tests/bdd/features/snapshot/clone/__init__.py
  tests/bdd/features/snapshot/clone/create.feature
  tests/bdd/features/snapshot/clone/create_parameters.feature
  tests/bdd/features/snapshot/clone/list.feature
  tests/bdd/features/snapshot/clone/test_create.py
  tests/bdd/features/snapshot/clone/test_create_parameters.py
  tests/bdd/features/snapshot/clone/test_list.py
  tests/bdd/features/snapshot/create/feature.feature
  tests/bdd/features/snapshot/create/test_feature.py
  tests/bdd/features/snapshot/garbage_collection/test_garbage_collection.py
Due: rust-lint, rust-style, python-check

refactor(snapshot/clone): less liberal use of clone
  control-plane/agents/src/bin/core/tests/volume/snapshot_clone.rs
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/watch/watches.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
  tests/bdd/features/snapshot/restore/__init__.py
  tests/bdd/features/snapshot/restore/create.feature
  tests/bdd/features/snapshot/restore/create_parameters.feature
  tests/bdd/features/snapshot/restore/list.feature
  tests/bdd/features/snapshot/restore/test_create.py
  tests/bdd/features/snapshot/restore/test_create_parameters.py
  tests/bdd/features/snapshot/restore/test_list.py
Due: rust-lint, rust-style, python-check

ci(bors): undo staging tests
  .github/workflows/pr-commitlint.yml
  .github/workflows/pr-submodule-branch.yml
Due: none

feat(clone): enable option fs id change to clone uuid
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/node/filesystem_ops.rs
  control-plane/csi-driver/src/bin/node/filesystem_vol.rs
  control-plane/csi-driver/src/bin/node/findmnt.rs
  control-plane/csi-driver/src/bin/node/format.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/mount.rs
  control-plane/csi-driver/src/bin/node/node.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_svc.rs
  control-plane/csi-driver/src/context.rs
  control-plane/csi-driver/src/filesystem.rs
  control-plane/csi-driver/src/lib.rs
Due: rust-lint, rust-style

fix(snapshot/pool): add specific error when pool cannot be used
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

fix(bins): improve errors when server fails
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/ha/cluster/main.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/lib.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/controller/server.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_grpc.rs
  tests/bdd/features/csi/node/test_parameters.py
Due: rust-lint, rust-style, python-check

fix(snapshot/volume): split allocation counters
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

test(snapshot/bdd): add initial restore delete
  tests/bdd/common/__init__.py
  tests/bdd/common/deployer.py
  tests/bdd/common/fio.py
  tests/bdd/common/operations.py
  tests/bdd/features/snapshot/restore/delete.feature
  tests/bdd/features/snapshot/restore/test_delete.py
Due: python-check

feat(snapshots): add garbage collector to cleanup leaked snapshots unknown to control-plane
  control-plane/agents/src/bin/core/controller/reconciler/node/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/node/snapshot.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  rpc/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

build: upgrade nix and rust
  Cargo.toml
  nix/lib/rust.nix
  nix/sources.json
Due: none

style: update utils/deps and address clippy
  Cargo.lock
  control-plane/agents/src/bin/core/controller/reconciler/nexus/capacity.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
  control-plane/agents/src/bin/core/tests/nexus/mod.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/csi-driver/src/limiter.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/plugin/src/resources/volume.rs
  control-plane/rest/service/src/v0/mod.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  control-plane/stor-port/src/types/v0/transport/misc.rs
  deployer/src/infra/mod.rs
  k8s/operators/src/pool/main.rs
  tests/io-engine/tests/rebuild.rs
  utils/utils-lib/src/constants.rs
  utils/utils-lib/src/tracing_telemetry.rs
  utils/utils-lib/src/version.rs
Due: rust-lint, rust-style

build: cargo upgrade
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/csi-driver/Cargo.toml
  control-plane/grpc/Cargo.toml
  control-plane/plugin/Cargo.toml
  control-plane/rest/Cargo.toml
  control-plane/stor-port/Cargo.toml
  deployer/Cargo.toml
  k8s/forward/Cargo.toml
  k8s/operators/Cargo.toml
  openapi/Cargo.toml
  rpc/Cargo.toml
  tests/io-engine/Cargo.toml
  utils/deployer-cluster/Cargo.toml
  utils/platform/Cargo.toml
  utils/pstor-usage/Cargo.toml
  utils/pstor/Cargo.toml
  utils/shutdown/Cargo.toml
  utils/utils-lib/Cargo.toml
Due: none

fix(node/wrapper): don't take locks on list calls
  control-plane/agents/src/bin/core/controller/reconciler/node/snapshot.rs
  control-plane/agents/src/bin/core/controller/states.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
Due: rust-lint, rust-style

test(snapshot/restore): expand create and destroy bdd
  tests/bdd/common/operations.py
  tests/bdd/features/snapshot/restore/create.feature
  tests/bdd/features/snapshot/restore/delete.feature
  tests/bdd/features/snapshot/restore/test_create.py
  tests/bdd/features/snapshot/restore/test_delete.py
Due: python-check

test(snapshot/bdd): update io-engine snapshot api
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/grpc/proto/v1/replica/replica.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/replica/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
  rpc/src/lib.rs
  tests/bdd/features/snapshot/restore/create.feature
  tests/bdd/features/snapshot/restore/delete.feature
  tests/bdd/features/snapshot/restore/test_create.py
  tests/bdd/features/snapshot/restore/test_delete.py
Due: rust-lint, rust-style, python-check

chore: fix bdd tests where num_snapshots needs to be put
  tests/bdd/features/volume/create/test_feature.py
  tests/bdd/features/volume/observability/test_feature.py
  tests/bdd/features/volume/topology/test_feature.py
Due: python-check

chore: plugin changes to incorporate filter by source, add snap and restore count
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

feat(snapshots, restores): store restores as a part of snap meta, expose counts on rest
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

chore: fix schema for vol_uuid
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: rust-lint, rust-style

feat(dsp_versioning): allows dsp operator to work with v1beta1 schema
  k8s/operators/src/lib.rs
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/mod.rs
  k8s/operators/src/pool/diskpool/v1alpha1.rs
  k8s/operators/src/pool/diskpool/v1beta1.rs
  k8s/operators/src/pool/error.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

feat(dsp_versioning): allows dsp operator to work with v1beta1 schema
  k8s/operators/src/pool/diskpool/client.rs
Due: rust-lint, rust-style

fix(snapshot/discarded): ignore discarded snapshots during Unknown GC
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/reconciler/node/snapshot.rs
  control-plane/grpc/proto/v1/snapshot/snapshot.proto
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  tests/bdd/features/snapshot/restore/delete.feature
Due: rust-lint, rust-style

test(snapshot/bdd): add ordered deletion test
  tests/bdd/common/deployer.py
  tests/bdd/common/operations.py
  tests/bdd/features/snapshot/delete/delete.feature
  tests/bdd/features/snapshot/delete/test_delete.py
Due: python-check

feat(dsp_enhancement): create dsp cr for pools not managed by dsp
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

ci(rust): several improvements
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/stor-port/src/transport_api/mod.rs
  deployer/src/infra/csi-driver/controller.rs
  deployer/src/infra/csi-driver/node.rs
  deployer/src/infra/etcd.rs
  deployer/src/infra/io_engine.rs
  deployer/src/infra/mod.rs
  deployer/src/infra/rest.rs
  rpc/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

fix(snapshot/restore): restores have no previous allocation
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
Due: rust-lint, rust-style

ci(rust): build tests in single call
  Jenkinsfile
  scripts/rust/test.sh
Due: none

ci(bdd): speed up tests by reducing request timeout
  control-plane/agents/src/bin/core/controller/io_engine/client.rs
  control-plane/agents/src/bin/core/controller/reconciler/snapshot/garbage_collector.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/ha/node/server.rs
  deployer/src/infra/agents/ha/cluster.rs
  deployer/src/infra/agents/ha/node.rs
  scripts/python/test.sh
  tests/bdd/common/deployer.py
  tests/bdd/common/operations.py
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
  tests/bdd/features/ha/test_robustness.py
  tests/bdd/features/snapshot/create/test_feature.py
  tests/bdd/features/snapshot/delete/test_delete.py
  tests/bdd/features/snapshot/garbage_collection/test_garbage_collection.py
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style, python-check

test(rust): allow specifying options and arguments
  scripts/rust/test.sh
Due: none

fix: pin volume target to replicas (1-r volumes)
  control-plane/agents/src/bin/core/nexus/scheduling.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/scheduling.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

fix(volume/drain): during node drain don't move target away from replicas
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/affinity_group.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  scripts/rust/test.sh
Due: rust-lint, rust-style

fix(node/drain): delete shutdown targets on timeout
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
Due: rust-lint, rust-style

fix(csi/controller): publish idempotency with 1r volumes
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/store/volume.rs
  tests/bdd/features/csi/controller/test_controller.py
  tests/bdd/features/snapshot/csi/controller/test_operations.py
Due: rust-lint, rust-style, python-check

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
