Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

test(bdd): expect no error on unpublish from different node
  tests/bdd/features/csi/controller/controller.feature
  tests/bdd/features/csi/controller/test_controller.py
Due: python-check

test(bdd): fix test retry logic
  tests/bdd/features/snapshot/create/test_feature.py
Due: python-check

feat(pool/diag): add grpc proto and transport interface
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

feat(pool/diag): collect import errors during pool import
  control-plane/agents/src/bin/core/controller/reconciler/pool/mod.rs
  control-plane/agents/src/bin/core/pool/operations_helper.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

test(pool/diag): add pool diag info check to pool reconciler
  control-plane/agents/src/bin/core/tests/pool/mod.rs
Due: rust-lint, rust-style

refactor(pstor/pool): split pool spec types
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/grpc/src/operations/registry/traits.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

feat(kubevirt/live-migrate): support rwx for block volumes
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/nexus/specs.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/node/node.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
  tests/bdd/features/csi/controller/test_controller.py
Due: rust-lint, rust-style, python-check

feat(csi/controller): add rwx block enablement via volume context
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

test(csi/rwx): extend bdd with rwx block
  tests/bdd/features/csi/controller/controller.feature
  tests/bdd/features/csi/controller/test_controller.py
Due: python-check

ci: retry apt-update
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
Due: none

refactor: move topology fields from PublishParams to CreateParams
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

fix(rwx): keep publish context until full unpublish
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

chore: update terraform to K8s v1.33
  terraform/cluster/mod/k8s/kubeadm_config.yaml
  terraform/cluster/mod/k8s/master.sh
  terraform/cluster/mod/k8s/repo.sh
  terraform/cluster/variables.tf
Due: none

refactor: include access mode in the volume publish operation
  control-plane/agents/src/bin/core/tests/event/mod.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/rebuild/mod.rs
  control-plane/agents/src/bin/core/tests/volume/capacity.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/tests/volume/hotspare.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
  tests/io-engine/tests/allowed_hosts.rs
  tests/io-engine/tests/rebuild.rs
  tests/io-engine/tests/upgrade.rs
  utils/pstor-usage/src/volumes.rs
Due: rust-lint, rust-style

fix: validate volume access mode on publish
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/src/misc/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/types/mod.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

fix(rwx): reconcile due to unsorted host nqn list
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/nvme_nqn.rs
Due: rust-lint, rust-style

fix(rwx/stage): connect to volume using node's own hostnqn
  Cargo.lock
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/node/node.rs
  control-plane/csi-driver/src/lib.rs
  control-plane/stor-port/src/types/v0/transport/nvme_nqn.rs
Due: rust-lint, rust-style

test: allow single node access mode with any access
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  deployer/src/infra/agents/core.rs
  deployer/src/lib.rs
  tests/bdd/common/deployer.py
  tests/bdd/features/csi/node/test_node.py
Due: rust-lint, rust-style, python-check

fix(ha/node): report path failover only if connected host node-name matches
  control-plane/agents/src/bin/ha/node/detector.rs
Due: rust-lint, rust-style

refactor(k8s/dsp): tidy up some of the logging
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/crd/migration.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

fix(k8s/dsp): migrate crd only if necessary
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/crd/migration.rs
Due: rust-lint, rust-style

refactor(k8s/dsp): remove hardcoded versions
  k8s/operators/src/pool/context.rs
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/crd/migration.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

fix(k8s/dsp): merge crd with previous version only if required
  k8s/operators/src/pool/diskpool/crd/migration.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

refactor(k8s/dsp): clarify api versions
  Cargo.lock
  k8s/operators/Cargo.toml
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/crd/migration.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

chore: don't warn when no msp is found
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

fix(k8s/dsp): handle mixed stored versions
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

feat(openapi): add template for returning an enum to handle HTTP 200 & 204
  openapi/templates/default/actix/client/api_clients.mustache
  openapi/templates/default/actix/server/api.mustache
  openapi/templates/default/actix/server/handlers.mustache
  openapi/templates/default/tower-hyper/client/api_clients.mustache
Due: none

feat: expose disk import errors via rest
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

feat: update pool api to include newly added error information
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
  k8s/operators/src/pool/diskpool/crd/v1beta1.rs
  k8s/operators/src/pool/diskpool/crd/v1beta2.rs
  k8s/operators/src/pool/diskpool/crd/v1beta3.rs
  rpc/src/lib.rs
  utils/bundle-sim/src/bin/io-engine.rs
Due: rust-lint, rust-style

feat: add pool error info to internal grpc api
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/mod.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

feat: implement new pool clear-error handler
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/pool.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/pool.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/pool/operations_helper.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

chore: add suspected to crd cty example
  k8s/crd_test/__snapshot__/diskpools.crd-v1beta3.yaml
Due: none

fix(rwx/ha): ensure hostnqn is used when replacing the failed path
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/path_provider.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_nvme.rs
Due: rust-lint, rust-style

feat(rwx/ha): keep track of republished volume frontends
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

feat(rwx): handle failure reports from multiple nodes
  control-plane/agents/src/bin/ha/cluster/etcd.rs
  control-plane/agents/src/bin/ha/cluster/nodes.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/stor-port/src/types/v0/store/switchover.rs
Due: rust-lint, rust-style

feat: implement new pool clear-error handler
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
Due: rust-lint, rust-style

refactor(openapi): implement Display trait instead of ToString
  control-plane/plugin/src/resources/tests.rs
  openapi/templates/default/model.mustache
Due: rust-lint, rust-style

test: add pool cli args to deployer
  deployer/src/infra/io_engine.rs
  deployer/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

feat: add pool alerts to rest plugin tabled output
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/utils.rs
Due: rust-lint, rust-style
