Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

feat(encryption): relaxed replica scheduling during pool migration
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/thick.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
Due: rust-lint, rust-style

fix(rebuild): avoid full rebuild if online child fails due to max rebuild limit
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
Due: rust-lint, rust-style

ci: use cachix instead of determinate systems
  .github/workflows/bdd.yml
  .github/workflows/image-pr.yml
  .github/workflows/image.yml
  .github/workflows/lint.yml
  .github/workflows/unit-int.yml
Due: none

chore(ci): inject github token post nix installation
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
  scripts/ci-report.sh
Due: none

ci: remove duplicate nix install
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
Due: none

ci: run apt update
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
Due: none

chore(ci): update git submodules
  .gitmodules
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

feat(encryption): add check for k8s secret in operator
  k8s/operators/src/pool/context.rs
Due: rust-lint, rust-style

feat(stsAffinityGroup): honor stsAffinity on backup restores via external tools
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

test: add retry for node status change
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/stor-port/src/types/v0/transport/misc.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

fix(labels): use the newer paperclip which allows tail match
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  nix/pkgs/paperclip/source.json
Due: none

feat(pool/cordon): pool cordon grpc transport
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/mod.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
Due: rust-lint, rust-style

feat(pool/cordon): add openapi spec and impl
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/mod.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
Due: rust-lint, rust-style

feat(pool/cordon): add controller implementation
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/node/operations.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/stor-port/src/types/v0/store/mod.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
Due: rust-lint, rust-style

feat(pool/cordon): don't schedule replicas on cordoned pools
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
Due: rust-lint, rust-style

feat(pool/cordon): add rest-plugin cordon/uncordon
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/cordon.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/pool.rs
Due: rust-lint, rust-style

test(pool/cordon): add bdd specs and test code
  tests/bdd/common/deployer.py
  tests/bdd/common/operations.py
  tests/bdd/features/pool/cordon/__init__.py
  tests/bdd/features/pool/cordon/feature.feature
  tests/bdd/features/pool/cordon/test_feature.py
Due: python-check

docs(rest-plugin): fix subcommand help
  control-plane/plugin/src/resources/mod.rs
Due: rust-lint, rust-style

feat(pool/cordon): add imports as cordon constraint
  control-plane/agents/src/bin/core/controller/reconciler/pool/mod.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
Due: rust-lint, rust-style

test(pool/cordon): add import test scenario
  tests/bdd/common/operations.py
  tests/bdd/features/pool/cordon/feature.feature
  tests/bdd/features/pool/cordon/test_feature.py
Due: python-check

feat: handle data integrity in republish path
  control-plane/agents/src/bin/core/controller/pstor_cache.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/nexus/registry.rs
  control-plane/agents/src/bin/core/tests/controller/mod.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/hotspare.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/stor-port/src/types/v0/store/nexus_persistence.rs
  utils/pstor/src/api.rs
  utils/pstor/src/etcd.rs
  utils/pstor/src/etcd_keep_alive.rs
Due: rust-lint, rust-style

feat(pool): allow changing blobstore cluster size
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/pool/operations_helper.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/src/versions/v0.rs
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
  deployer/src/infra/agents/core.rs
  deployer/src/lib.rs
  k8s/operators/src/pool/context.rs
  tests/io-engine/tests/pools.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

feat: handle pool cluster_size in volume scheduling
  Cargo.lock
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/thick.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/plugin/src/resources/tests.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
  deployer/src/infra/agents/core.rs
  deployer/src/lib.rs
Due: rust-lint, rust-style

build: avoid importing pkgs again to save time
  nix/lib/rust.nix
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/paperclip/default.nix
  shell.nix
Due: none

ci: fix git submodule head checker
  scripts/git/check-submodule-branches.sh
Due: none

build: upgrade crates for dependabot alerts
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/csi-driver/Cargo.toml
  control-plane/grpc/Cargo.toml
  control-plane/plugin/Cargo.toml
  control-plane/rest/Cargo.toml
  control-plane/stor-port/Cargo.toml
  deployer/Cargo.toml
  k8s/forward/Cargo.toml
  k8s/operators/Cargo.toml
  openapi/Cargo.toml
  tests/io-engine/Cargo.toml
  utils/deployer-cluster/Cargo.toml
  utils/pstor-usage/Cargo.toml
  utils/pstor/Cargo.toml
  utils/shutdown/Cargo.toml
Due: none

feat(restore): use cluster size of pool from replica snapshots
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

test(volume): clone volume with pool cluster size constraints
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot_clone.rs
Due: rust-lint, rust-style

refactor: upgrade dependencies and apply nightly rust lints
  Cargo.lock
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/states.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  k8s/forward/src/http_forward.rs
  k8s/forward/src/port_forward.rs
Due: rust-lint, rust-style

chore: storage class param name fix
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

refactor: allow zfs volume paths
  utils/utils-lib/src/constants.rs
  utils/utils-lib/src/disk.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
