Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

ci(gha): init release workflow submodule with force
  .github/workflows/develop-to-release.yml
Due: none

ci(gha/release-flow): setup submodules with token
  .github/workflows/develop-to-release.yml
Due: none

test(python/bdd): check error code of deployer start
  tests/bdd/common/deployer.py
Due: python-check

test(python/bdd): enable core isolation for log rebuild
  tests/bdd/features/rebuild/test_log_based_rebuild.py
Due: python-check

fix(deployer): increase timeout for io-engine connect
  deployer/src/infra/io_engine.rs
  rpc/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

build(openapi): don't depend on version.txt
  openapi/build.rs
  scripts/rust/generate-openapi-bindings.sh
Due: rust-lint

test(python/bdd): incorrect usage of retry decorator and full rebuild
  tests/bdd/features/rebuild/test_log_based_rebuild.py
Due: python-check

build: upgrade tracing and otel crates
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/grpc/Cargo.toml
  control-plane/rest/Cargo.toml
  control-plane/rest/tests/v0_test.rs
  deployer/Cargo.toml
  deployer/misc/otel_agent_config.yaml
  deployer/src/infra/agents/core.rs
  deployer/src/infra/agents/ha/cluster.rs
  deployer/src/infra/agents/ha/node.rs
  deployer/src/infra/csi-driver/controller.rs
  deployer/src/infra/jaeger.rs
  deployer/src/infra/rest.rs
  deployer/src/lib.rs
  k8s/forward/Cargo.toml
  openapi/Cargo.toml
  scripts/rust/generate-openapi-bindings.sh
  utils/deployer-cluster/Cargo.toml
  utils/deployer-cluster/src/lib.rs
  utils/utils-lib/Cargo.toml
  utils/utils-lib/src/tracing_telemetry.rs
Due: rust-lint, rust-style

fix(tracing): reduce tracing instrument spans to info
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  tests/bdd/features/rebuild/test_log_based_rebuild.py
Due: rust-lint, rust-style, python-check

test(volume/resize): test for expansion in presence of snapshots
  tests/bdd/features/volume/resize/resize_offline.feature
  tests/bdd/features/volume/resize/resize_online.feature
  tests/bdd/features/volume/resize/test_resize_offline.py
  tests/bdd/features/volume/resize/test_resize_online.py
Due: python-check

fix(volume/resize): allow expansion of volumes with snapshots, or restored volumes
  control-plane/agents/src/bin/core/volume/operations.rs
Due: rust-lint, rust-style

chore: update policy document signpost links
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  GOVERNANCE.md
Due: none

feat(topology): add filter pools by volume_id feature to core
  control-plane/agents/src/bin/core/pool/registry.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/bin/core/tests/volume/capacity.rs
  control-plane/agents/src/bin/core/tests/volume/hotspare.rs
Due: rust-lint, rust-style

feat(topology): add filter pools by volume_id feature to rest
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
  control-plane/rest/tests/v0_test.rs
Due: rust-lint, rust-style

feat(topology): add filter pools by volume_id feature to grpc
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
Due: rust-lint, rust-style

feat(topology): add filter pools by volume_id feature to operator,plugin & csi
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/tests.rs
  k8s/operators/src/pool/diskpool/client.rs
Due: rust-lint, rust-style

fix: do not specify agent list always
  control-plane/agents/src/bin/core/tests/app_node/mod.rs
  control-plane/agents/src/bin/core/tests/controller/mod.rs
  control-plane/agents/src/bin/core/tests/nexus/mod.rs
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/affinity_group.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/tests/volume/hotspare.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/resize.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot_clone.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/plugin/src/resources/tests.rs
  tests/io-engine/tests/nexus.rs
Due: rust-lint, rust-style

feat(test/wipe): add io-engine test wipe rpc
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

refactor(rpc): use deref trait rather than duplicate
  rpc/src/lib.rs
Due: rust-lint, rust-style

test(nr-snapshots): add multi-replica volume snapshot checksum test
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/nexus/operations_helper.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
Due: rust-lint, rust-style

test(bdd): ensure nvme disconnect in failure
  tests/bdd/common/nvme.py
Due: python-check

test(bdd): add more debug information
  tests/bdd/common/nvme.py
Due: python-check

test(bdd): add nvme assert timestamps
  tests/bdd/common/deployer.py
  tests/bdd/common/nvme.py
Due: python-check

test(bdd): disconnect all controllers
  tests/bdd/common/deployer.py
  tests/bdd/common/nvme.py
  tests/bdd/features/ha/core-agent/test_target_switchover.py
  tests/bdd/features/ha/node-agent/test_path_replacement.py
  tests/bdd/features/ha/test_robustness.py
Due: python-check

feat(topology): add plugin change for pool volume filter
  control-plane/plugin/src/resources/pool.rs
Due: rust-lint, rust-style

test(bdd): nvme list devices fix
  tests/bdd/common/etcd.py
  tests/bdd/common/nvme.py
  tests/bdd/features/ha/test_robustness.py
Due: python-check

fix(ha/node): don't replace path if nqn is not found
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

test(snapshot-rebuild): update to the latest api
  control-plane/agents/src/bin/core/controller/io_engine/types.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/snap_rebuild.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  deployer/src/infra/io_engine.rs
Due: rust-lint, rust-style

feat: update deps and handle features and bugfixes info
  control-plane/agents/src/bin/core/controller/io_engine/v0/host.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/host.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/grpc/src/operations/registration/traits.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
Due: rust-lint, rust-style

feat(topology): add affinity key to core
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/node.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/volume/scheduling.rs
  control-plane/agents/src/bin/core/volume/specs.rs
Due: rust-lint, rust-style

feat(topology): add affinity key to grpc & stor-port
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

feat(topology): add python tests for affinity
  tests/bdd/features/volume/topology/pool-topology.feature
  tests/bdd/features/volume/topology/test_pool_topology.py
Due: python-check

feat(topology): add validation for one topology param per storage class
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

feat(deployer): add idle io-engines
  deployer/src/infra/io_engine.rs
  deployer/src/lib.rs
  utils/deployer-cluster/src/lib.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

refactor: verify rebuild validity using replica nodes only
  control-plane/agents/src/bin/core/nexus/operations_helper.rs
  control-plane/agents/src/bin/core/node/registry.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  deployer/src/infra/io_engine.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

fix: don't add replica to nexus which can't rebuild properly
  control-plane/agents/src/bin/core/nexus/operations_helper.rs
  control-plane/agents/src/bin/core/node/registry.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
  control-plane/stor-port/src/types/v0/store/nexus_child.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

feat: expose io-engine version via rest
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/grpc/proto/v1/node/target_node.proto
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
Due: rust-lint, rust-style

revert(topology/affinity-key): remove afffinty code from core
  control-plane/agents/src/bin/core/tests/deserializer.rs
Due: rust-lint, rust-style

revert(topology/affinity-key): remove afffinty code from grpc
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
Due: rust-lint, rust-style
