Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

feat(snapshot): call grpc and translate response
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

feat(snapshot/rpc): add service transport rpc for create&get
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/grpc/build.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/proto/v1/snapshot/snapshot.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/lib.rs
  control-plane/grpc/src/operations/mod.rs
  control-plane/grpc/src/operations/snapshot/mod.rs
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/mod.rs
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/misc.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
Due: rust-lint, rust-style

fix: use operation guard to nodes
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/node/mod.rs
  control-plane/agents/src/bin/core/node/operations.rs
  control-plane/agents/src/bin/core/node/operations_helper.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/stor-port/src/types/v0/store/node.rs
Due: rust-lint, rust-style

fix: remove uuid from operationsequence
  control-plane/stor-port/src/types/v0/store/mod.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
  control-plane/stor-port/src/types/v0/store/node.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/store/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/replica.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

feat(snapshot/create): implement nodewrapper create snapshot
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/resources/volume/snapshot.rs
  control-plane/agents/src/bin/core/controller/states.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/store/snapshots/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
Due: rust-lint, rust-style

feat(snapshot/nexus): issue create snapshot on published volume
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
Due: rust-lint, rust-style

feat(snapshot): delete snapshot grpc call
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

feat(snapshot/csi/rest): proxy requests from csi to rest for create snap
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
  tests/bdd/features/csi/controller/test_controller.py
  tests/bdd/features/snapshot/csi/controller/operations.feature
  tests/bdd/features/snapshot/csi/controller/test_operations.py
Due: rust-lint, rust-style, python-check

feat(snapshots): implement delete snapshot grpc
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
Due: rust-lint, rust-style

feat(snapshot): list snapshots grpc call
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

fix(partial-rebuild/log): don't wait for replica if we can't partial rebuild
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
Due: rust-lint, rust-style

test(bdd): fix partial rebuild bdd
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/hot_spare.rs
  tests/bdd/features/rebuild/log-based-rebuild.feature
  tests/bdd/features/rebuild/test_log_based_rebuild.py
Due: rust-lint, rust-style, python-check

chore: update k8s terraform
  terraform/cluster/mod/k8s/kubeadm_config.yaml
  terraform/cluster/mod/k8s/master.sh
  terraform/cluster/mod/k8s/node.sh
  terraform/cluster/mod/k8s/repo.sh
  terraform/cluster/variables.tf
Due: none

refactor(terraform): replace deprecated template_file
  terraform/cluster/mod/k8s/main.tf
  terraform/cluster/mod/libvirt/main.tf
  terraform/cluster/mod/lxd/main.tf
  terraform/shell.nix
Due: none

feat(terraform): add options to configure cni and runtime
  terraform/cluster/main.tf
  terraform/cluster/mod/k8s/main.tf
  terraform/cluster/mod/k8s/master.sh
  terraform/cluster/mod/k8s/repo.sh
  terraform/cluster/variables.tf
Due: none

fix(nexus_cleanup): cleanup old nexuses post volume destroy
  control-plane/agents/src/bin/core/controller/reconciler/nexus/garbage_collector.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/agents/src/bin/core/volume/operations.rs
Due: rust-lint, rust-style

feat(snapshot/create): list replica snapshot on published vol snap
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/volume/snapshot_helpers.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/src/misc/traits.rs
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/types/v0/store/snapshots/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
Due: rust-lint, rust-style

chore(terraform): add metrics server
  terraform/cluster/mod/k8s/master.sh
Due: none

feat(snapshots): csi to openapi proxying for delete snapshot
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

chore: skip the delete snapshot bdd test
  tests/bdd/features/snapshot/csi/controller/test_operations.py
Due: python-check

fix(nexus-cleanup): test fix
  control-plane/agents/src/bin/core/tests/volume/helpers.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
Due: rust-lint, rust-style

feat(snapshots): implementation of snapshot delete grpc transport changes
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/snapshot/mod.rs
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
Due: rust-lint, rust-style

feat(snapshots): implementation of snapshot delete agent-core and stor-port changes
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_helpers.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/stor-port/src/types/v0/store/snapshots/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
Due: rust-lint, rust-style

feat(snapshots): implementation of snapshot delete rest-api changes
  control-plane/rest/service/src/v0/snapshots.rs
Due: rust-lint, rust-style

feat(snapshots): implementation of delete snapshot bdds
  tests/bdd/features/snapshot/csi/controller/operations.feature
  tests/bdd/features/snapshot/csi/controller/test_operations.py
Due: python-check

refactor(openapi): add volumes snapshots operation
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
  nix/pkgs/openapi-generator/source.json
Due: rust-lint, rust-style

fix(test/nexus-gc): wait until nexus spec is removed
  control-plane/agents/src/bin/core/tests/volume/helpers.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
Due: rust-lint, rust-style

feat(snapshot/csi/list): add volume snapshot list handler
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

fix(csi): don't trigger node not found error on volume publish
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/tests/nexus/mod.rs
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/tests/volume/helpers.rs
  control-plane/agents/src/bin/core/tests/volume/hotspare.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/jsongrpc/service.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/grpc/proto/v1/node/node.proto
  control-plane/grpc/src/operations/node/client.rs
  control-plane/grpc/src/operations/node/server.rs
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/plugin/src/resources/cordon.rs
  control-plane/plugin/src/resources/drain.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/tests.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/nodes.rs
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/transport/node.rs
  deployer/src/infra/agents/core.rs
  tests/io-engine/tests/rebuild.rs
  utils/pstor-usage/src/pools.rs
  utils/pstor-usage/src/volumes.rs
Due: rust-lint, rust-style

test(bdd): use snap id to list snapshots
  control-plane/csi-driver/src/bin/controller/controller.rs
  tests/bdd/features/snapshot/csi/controller/test_operations.py
Due: rust-lint, rust-style, python-check

feat(snapshot/state): retrieve the replica snapshot states
  control-plane/agents/src/bin/core/controller/scheduling/affinity_group.rs
  control-plane/agents/src/bin/core/controller/states.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/rest/service/src/v0/snapshots.rs
  control-plane/stor-port/src/types/v0/store/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/replica.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
  tests/bdd/features/snapshot/csi/controller/operations.feature
  tests/bdd/features/snapshot/csi/controller/test_operations.py
Due: rust-lint, rust-style, python-check

feat(snapshots): implementation of snapshot garbage collector
  control-plane/agents/src/bin/core/controller/reconciler/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/poller.rs
  control-plane/agents/src/bin/core/controller/reconciler/snapshot/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/reconciler/snapshot/mod.rs
  control-plane/agents/src/bin/core/volume/mod.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
Due: rust-lint, rust-style

feat(snapshots): cleanup snapshot resources in pending creation when source is deleted
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
Due: rust-lint, rust-style

fix(csi-driver): configure concurrency limits for create_volume
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/config.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/controller/server.rs
  scripts/release.sh
Due: rust-lint, rust-style

feat(core-agent): add concurrency limiter for create volume ops
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/common/errors.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

feat(snapshot/list): implement list snapshots in control plane
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/resources/volume/snapshot.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/proto/v1/snapshot/snapshot.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/grpc/src/operations/volume/traits_snapshots.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/snapshots.rs
  control-plane/stor-port/src/types/v0/transport/misc.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  tests/bdd/features/snapshot/csi/controller/operations.feature
  tests/bdd/features/snapshot/csi/controller/test_operations.py
Due: rust-lint, rust-style, python-check

feat(rebuild_history): grpc implementation for rebuild history api
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/nexus/service.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/src/operations/nexus/client.rs
  control-plane/grpc/src/operations/nexus/server.rs
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
