Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

revert(topology/affinity-key): remove afffinty code from stor-port
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

revert(topology/affinity-key): remove afffinty code from rest
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

revert(topology/affinity-key): remove afffinty code from csi-driver
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

revert(topology/affinity-key): remove afffinty code from test and core isolation in deplyer start
  tests/bdd/features/volume/nexus/test_feature.py
  tests/bdd/features/volume/topology/test_feature.py
  tests/bdd/features/volume/topology/test_node_topology.py
  tests/bdd/features/volume/topology/test_pool_topology.py
Due: python-check

chore(ci): update git submodules
  .gitmodules
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

test: use default agent list for default cases
  control-plane/agents/src/bin/core/tests/app_node/mod.rs
  control-plane/agents/src/bin/core/tests/controller/mod.rs
  control-plane/agents/src/bin/core/tests/nexus/mod.rs
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/affinity_group.rs
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/tests/volume/hotspare.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/resize.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot_clone.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/plugin/src/resources/tests.rs
  tests/io-engine/tests/nexus.rs
Due: rust-lint, rust-style

fix(topology): hasTopologyKey overwites affinityTopologyLabels
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

fix(deployer): increasing the max number of allowed connection attempts to the io-engine
  deployer/src/infra/io_engine.rs
Due: rust-lint, rust-style

fix(fsfreeze): improved error message when volume is not staged
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

build: update dependencies and release.sh
  Cargo.lock
  scripts/release.sh
Due: none

build: don't let the release.sh cause rebuilds
  nix/lib/sourcer.nix
Due: none

feat(topology): code to add label to pool in core and storport
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
Due: rust-lint, rust-style

feat(topology): code to add label to pool in grpc
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/mod.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
Due: rust-lint, rust-style

feat(topology): code to add label to pool in rest
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
  control-plane/rest/src/versions/v0.rs
Due: rust-lint, rust-style

feat(topology): add python test for pool labels
  tests/bdd/features/node/label/test_label_unlabel_node.py
  tests/bdd/features/pool/label/pool-label.feature
  tests/bdd/features/pool/label/test_label_unlabel_pool.py
Due: python-check

feat(topology): add label pool code in plugin
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/utils.rs
Due: rust-lint, rust-style

feat(topology): restrict from deleting create-by label on pools
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

feat(topology): restrict from deleting created-by label on pools
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

feat(topology): add show-label flag in get pools/pool
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/pool.rs
Due: rust-lint, rust-style

chore(bors): merge pull request #850
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/mod.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/node.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/utils.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
  tests/bdd/features/node/label/test_label_unlabel_node.py
  tests/bdd/features/pool/label/pool-label.feature
  tests/bdd/features/pool/label/test_label_unlabel_pool.py
Due: rust-lint, rust-style, python-check

chore(bors): merge pull request #855
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/pool.rs
Due: rust-lint, rust-style

chore(bors): merge pull request #853
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

refactor(terraform): split master and worker
  terraform/cluster/main.tf
  terraform/cluster/mod/k8s/kubeadm_config.yaml
  terraform/cluster/mod/k8s/main.tf
  terraform/cluster/mod/libvirt/main.tf
  terraform/cluster/mod/lxd/main.tf
  terraform/cluster/variables.tf
Due: none

feat(topology/poolaffinitykey): add topology/poolaffinitykey code to core
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/node.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/pool/wrapper.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/bin/core/volume/clone_operations.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/scheduling.rs
  control-plane/agents/src/bin/core/volume/specs.rs
Due: rust-lint, rust-style

feat(topology/poolaffinitykey): add topology/poolaffinitykey code to grpc, storport
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

feat(topology): add test for pool affinity
  tests/bdd/features/volume/nexus/test_feature.py
  tests/bdd/features/volume/topology/pool-topology.feature
  tests/bdd/features/volume/topology/test_feature.py
  tests/bdd/features/volume/topology/test_node_topology.py
  tests/bdd/features/volume/topology/test_pool_topology.py
Due: python-check

feat(topology/poolaffinitykey): add topology/poolaffinitykey code to csi-driver
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

feat(topology/poolaffinitykey): add topology/poolaffinitykey code to rest
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

chore: resolve dependencies to use new CreatePoolRequest field
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
Due: rust-lint, rust-style

build: allow fmt on openapi prior to build
  .gitignore
  nix/pkgs/control-plane/cargo-project.nix
  openapi/build.rs
  openapi/src/lib.rs
  scripts/rust/generate-openapi-bindings.sh
Due: rust-lint

fix: listen on the IPv6 unspecified address
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/shutdown_event.rs
  control-plane/rest/service/src/main.rs
  deployer/src/infra/agents/ha/cluster.rs
  deployer/src/infra/etcd.rs
  utils/deployer-cluster/src/lib.rs
  utils/pstor-usage/src/simulation.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

feat: handle new nvmf uri scheme and also match transport for subsystem
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/csi-driver/src/bin/node/dev.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/stor-port/src/types/v0/transport/misc.rs
Due: rust-lint, rust-style

fix: don't disown replica from unshutdown nexus
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
Due: rust-lint, rust-style

feat: re-shutdown nexus when node is online
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/re_shutdown.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/stor-port/src/types/v0/store/nexus.rs
Due: rust-lint, rust-style

test: test fixes to accommodate new uri scheme
  tests/bdd/features/csi/controller/test_controller.py
  tests/bdd/features/volume/publish/test_feature.py
  tests/io-engine/tests/rebuild.rs
Due: rust-lint, rust-style, python-check

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
