Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

chore: add csi-controller test to validate the behaviour
  tests/bdd/features/snapshot/csi/controller/operations.feature
  tests/bdd/features/snapshot/csi/controller/test_operations.py
Due: python-check

fix: create and list bdds to incorporate the changes
  tests/bdd/features/snapshot/create/feature.feature
  tests/bdd/features/snapshot/create/test_feature.py
  tests/bdd/features/snapshot/list/test_list.py
Due: python-check

chore: update release/1.0 to use new k8s registry
  chart/templates/csi-deployment.yaml
  deploy/csi-deployment.yaml
Due: none

chore: multi tag fix (#578)
  .github/workflows/release_artifacts.yml
  scripts/release.sh
Due: none

chore: prepare release v1.0.8
  .github/workflows/release_artifacts.yml
  deploy/core-agents-deployment.yaml
  deploy/csi-deployment.yaml
  deploy/msp-deployment.yaml
  deploy/rest-deployment.yaml
  scripts/check-deploy-yamls.sh
Due: none

fix(snapshots): only list created snapshots, and not creating
  control-plane/csi-driver/src/bin/controller/client.rs
Due: rust-lint, rust-style

fix(snapshot/retry): add txnid to the snapshot name
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/types.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/common/errors.rs
  control-plane/csi-driver/Cargo.toml
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/transport/misc.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/snapshot.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

feat(rebuild_history): exposing rebuild history via rest api
  control-plane/agents/src/bin/core/tests/rebuild/mod.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
Due: rust-lint, rust-style

chore: add cleanup and restrict transactions for snapshot
  control-plane/agents/src/bin/core/controller/reconciler/snapshot/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/agents/src/common/errors.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

refactor(snapshot/cleanup): destroy transactions
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
Due: rust-lint, rust-style

fix(plugin/snapshots): correct filter order and add new tests
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/plugin/src/resources/tests.rs
Due: rust-lint, rust-style

fix(snapshot/create): handle create errors
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
Due: rust-lint, rust-style

test(snapshot/timeouts): enhance snapshot create timeout testing
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
Due: rust-lint, rust-style

fix(drain-cordon): missing pstor flush after refactoring
  control-plane/stor-port/src/types/v0/store/node.rs
Due: rust-lint, rust-style

chore(eventing): add fix for cargo fmt of mbus
  Cargo.toml
Due: none

fix(drain): notify reconciler when a node drain command is received
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/core/controller/task_poller.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/stor-port/src/types/v0/transport/nexus.rs
Due: rust-lint, rust-style

feat(snapshot): add runtime snapshot list to volume
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/stor-port/src/types/v0/store/snapshots/volume.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

refactor(rebuild-history): update rpc to use timestamp filter
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/types.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/nexus.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/resources/resource_map.rs
  control-plane/agents/src/bin/core/controller/states.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/tests/rebuild/mod.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/src/operations/nexus/traits.rs
  control-plane/stor-port/Cargo.toml
  control-plane/stor-port/src/types/v0/transport/nexus.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

refactor(registry/states): use ref-counted non-locked Resource for states
  control-plane/agents/src/bin/core/controller/resources/mod.rs
  control-plane/agents/src/bin/core/controller/resources/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/controller/resources/resource_map.rs
  control-plane/agents/src/bin/core/controller/states.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
Due: rust-lint, rust-style

refactor(rest/rebuild): rename rebuild history url
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

ci: add develop-release GH action
  .github/workflows/develop-to-release.yml
Due: none

chore(ci): update git submodules
  .gitmodules
Due: none

chore(ci): update git submodules
  .gitmodules
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

chore: refactor csi error mapping
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

ci: add develop-release GH action
  .github/workflows/develop-to-release.yml
  scripts/rust/branch_ancestor.sh
Due: none

fix(snapshots/thin): a thick volume becomes thin after snapshots are created
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/plugin/src/resources/volume.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

feat(snapshot/usage): add snapshot usage for the replica usage
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/grpc/proto/v1/replica/replica.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/replica/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/transport_api/macros.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

fix(snapshot): update replica information
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/replica.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/replica.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
Due: rust-lint, rust-style

test: tests should clean themselves
  tests/io-engine/tests/rebuild.rs
Due: rust-lint, rust-style

fix(nexus-cleanup): test fix
  control-plane/agents/src/bin/core/tests/volume/helpers.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
