Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

feat(PV Garbage Collector): add implementation
  common/src/platform/mod.rs
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/controller/src/controller.rs
  control-plane/csi-driver/controller/src/identity.rs
  control-plane/csi-driver/controller/src/main.rs
  control-plane/csi-driver/controller/src/pvwatcher.rs
  control-plane/csi-driver/controller/src/server.rs
  control-plane/csi-driver/src/lib.rs
Due: rust-lint, rust-style

test: thin provisioning check now succeeds
  control-plane/agents/core/src/pool/tests.rs
  tests/io-engine/tests/replicas.rs
Due: rust-lint, rust-style

fix: replica Uuid comprised of only zeroes is no longer valid
  tests/io-engine/tests/replicas.rs
Due: rust-lint, rust-style

feat(v1 host api): add support for v1 host api calls
  control-plane/agents/common/src/lib.rs
  control-plane/agents/common/src/msg_translation/mod.rs
  control-plane/agents/common/src/msg_translation/v0.rs
  control-plane/agents/common/src/msg_translation/v1.rs
  control-plane/agents/common/src/v0/mod.rs
  control-plane/agents/core/src/core/grpc.rs
  control-plane/agents/core/src/core/wrapper.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

chore: upgrade to snafu 0.7.1
  Cargo.lock
  common/Cargo.toml
  common/src/types/v0/store/definitions.rs
  control-plane/agents/Cargo.toml
  control-plane/agents/common/src/errors.rs
  control-plane/agents/core/src/core/grpc.rs
  control-plane/agents/core/src/core/specs.rs
  control-plane/agents/core/src/core/wrapper.rs
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/node/src/nodeplugin_svc.rs
  control-plane/rest/Cargo.toml
  control-plane/rest/service/src/authentication.rs
  k8s/operators/Cargo.toml
Due: rust-lint, rust-style

fix(nix-shell): add modules required for commitlint
  shell.nix
Due: none

chore: update etcd-client to latest
  Cargo.lock
  common/Cargo.toml
  common/src/store/etcd_keep_alive.rs
  utils/deployer-cluster/Cargo.toml
  utils/pstor-usage/Cargo.toml
Due: rust-lint, rust-style

chore: upgrade tonic and prost crates
  Cargo.lock
  common/Cargo.toml
  control-plane/agents/Cargo.toml
  control-plane/csi-driver/Cargo.toml
  control-plane/grpc/Cargo.toml
  control-plane/grpc/src/context.rs
  control-plane/grpc/src/tracing.rs
  deployer/Cargo.toml
  rpc/Cargo.toml
  utils/deployer-cluster/Cargo.toml
Due: rust-lint, rust-style

chore: upgrade to latest dependencies submodule
  Cargo.lock
Due: none

chore: update to latest mayastor-api submodule
  .rustfmt.toml
Due: none

feat(ha-agent): dynamic path failure detection for nvme paths
  Cargo.lock
  common/src/transport_api/mod.rs
  common/src/types/v0/transport/cluster_agent.rs
  common/src/types/v0/transport/mod.rs
  control-plane/agents/Cargo.toml
  control-plane/agents/cluster/src/server.rs
  control-plane/agents/ha-node/src/detector.rs
  control-plane/agents/ha-node/src/main.rs
  control-plane/agents/ha-node/src/path_provider.rs
  control-plane/agents/ha-node/src/reporter.rs
  control-plane/grpc/proto/v1/ha/cluster_agent.proto
  control-plane/grpc/src/operations/ha_node/client.rs
  control-plane/grpc/src/operations/ha_node/server.rs
  control-plane/grpc/src/operations/ha_node/traits.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

chore: seperate AgentToEngine trait for conversion for v0,v1 apis
  control-plane/agents/common/src/msg_translation/mod.rs
  control-plane/agents/common/src/msg_translation/v0.rs
  control-plane/agents/common/src/msg_translation/v1.rs
  control-plane/agents/core/src/core/wrapper.rs
Due: rust-lint, rust-style

chore: add v1 gRPC replica operations
  Cargo.lock
  common/src/types/v0/store/replica.rs
  common/src/types/v0/transport/misc.rs
  common/src/types/v0/transport/pool.rs
  common/src/types/v0/transport/replica.rs
  control-plane/agents/common/src/errors.rs
  control-plane/agents/common/src/msg_translation/v0.rs
  control-plane/agents/common/src/msg_translation/v1.rs
  control-plane/agents/core/src/core/grpc.rs
  control-plane/agents/core/src/core/wrapper.rs
  control-plane/agents/core/src/pool/service.rs
  control-plane/agents/core/src/pool/tests.rs
  control-plane/agents/core/src/volume/specs.rs
  control-plane/agents/core/src/volume/tests.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/proto/v1/replica/replica.proto
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/grpc/src/operations/replica/client.rs
  control-plane/grpc/src/operations/replica/traits.rs
  control-plane/rest/service/src/v0/pools.rs
  control-plane/rest/service/src/v0/replicas.rs
  control-plane/rest/src/versions/v0.rs
  rpc/build.rs
  rpc/src/lib.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

fix(comments): remove unwanted comments
  common/src/types/v0/store/replica.rs
  common/src/types/v0/transport/misc.rs
  control-plane/agents/common/src/errors.rs
  control-plane/agents/common/src/msg_translation/v1.rs
  control-plane/agents/core/src/core/wrapper.rs
  control-plane/grpc/src/operations/pool/traits.rs
Due: rust-lint, rust-style

chore: revert submodule updates
  Cargo.lock
Due: none

fix: use the operation guards explicitly
  control-plane/agents/core/src/core/reconciler/nexus/garbage_collector.rs
  control-plane/agents/core/src/core/reconciler/nexus/mod.rs
  control-plane/agents/core/src/core/reconciler/pool/mod.rs
  control-plane/agents/core/src/core/reconciler/replica/mod.rs
  control-plane/agents/core/src/core/reconciler/volume/garbage_collector.rs
  control-plane/agents/core/src/core/reconciler/volume/hot_spare.rs
  control-plane/agents/core/src/core/reconciler/volume/nexus.rs
  control-plane/agents/core/src/core/specs.rs
  control-plane/agents/core/src/nexus/service.rs
  control-plane/agents/core/src/nexus/specs.rs
  control-plane/agents/core/src/pool/service.rs
  control-plane/agents/core/src/pool/specs.rs
  control-plane/agents/core/src/volume/service.rs
  control-plane/agents/core/src/volume/specs.rs
Due: rust-lint, rust-style

feat(openapi-generator-script): add flags for directory paths
  scripts/rust/generate-openapi-bindings.sh
Due: none

feat(Nexus HA): determination of nexus destination node on failover
  control-plane/agents/common/src/errors.rs
  control-plane/agents/core/src/controller/scheduling/mod.rs
  control-plane/agents/core/src/controller/scheduling/nexus.rs
  control-plane/agents/core/src/controller/scheduling/resources/mod.rs
  control-plane/agents/core/src/controller/scheduling/volume.rs
  control-plane/agents/core/src/nexus/scheduling.rs
  control-plane/agents/core/src/volume/specs.rs
Due: rust-lint, rust-style

refactor: use mutable operation guards
  common/src/types/v0/store/mod.rs
  common/src/types/v0/store/nexus.rs
  common/src/types/v0/store/pool.rs
  common/src/types/v0/store/replica.rs
  common/src/types/v0/store/volume.rs
  control-plane/agents/core/src/controller/operations.rs
  control-plane/agents/core/src/controller/reconciler/mod.rs
  control-plane/agents/core/src/controller/reconciler/nexus/garbage_collector.rs
  control-plane/agents/core/src/controller/reconciler/nexus/mod.rs
  control-plane/agents/core/src/controller/reconciler/pool/mod.rs
  control-plane/agents/core/src/controller/reconciler/replica/mod.rs
  control-plane/agents/core/src/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/core/src/controller/reconciler/volume/hot_spare.rs
  control-plane/agents/core/src/controller/reconciler/volume/nexus.rs
  control-plane/agents/core/src/controller/resource_map.rs
  control-plane/agents/core/src/controller/specs.rs
  control-plane/agents/core/src/controller/states.rs
  control-plane/agents/core/src/nexus/operations.rs
  control-plane/agents/core/src/nexus/service.rs
  control-plane/agents/core/src/nexus/specs.rs
  control-plane/agents/core/src/node/specs.rs
  control-plane/agents/core/src/pool/pool_operations.rs
  control-plane/agents/core/src/pool/replica_operations.rs
  control-plane/agents/core/src/pool/service.rs
  control-plane/agents/core/src/pool/specs.rs
  control-plane/agents/core/src/volume/operations.rs
  control-plane/agents/core/src/volume/service.rs
  control-plane/agents/core/src/volume/specs.rs
Due: rust-lint, rust-style

chore: find nexus children degraded with ENOSPC
  common/src/types/v0/transport/child.rs
  control-plane/agents/core/src/controller/reconciler/nexus/mod.rs
Due: rust-lint, rust-style

feat: add child state reasons via v0 grpc
  common/Cargo.toml
  common/src/types/v0/store/nexus.rs
  common/src/types/v0/transport/child.rs
  control-plane/agents/common/src/msg_translation/v0.rs
  control-plane/agents/core/src/controller/wrapper.rs
  control-plane/agents/core/src/node/service.rs
  control-plane/grpc/Cargo.toml
  control-plane/grpc/build.rs
  control-plane/grpc/proto/v1/nexus/nexus.proto
  control-plane/grpc/src/operations/nexus/traits.rs
Due: rust-lint, rust-style

refactor: move core agent's integration tests
  .pre-commit-config.yaml
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/core/src/controller/mod.rs
  control-plane/agents/core/src/controller/reconciler/replica/mod.rs
  control-plane/agents/core/src/controller/reconciler/replica/tests.rs
  control-plane/agents/core/src/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/core/src/controller/wrapper.rs
  control-plane/agents/core/src/nexus/mod.rs
  control-plane/agents/core/src/node/mod.rs
  control-plane/agents/core/src/pool/mod.rs
  control-plane/agents/core/src/volume/mod.rs
  control-plane/agents/core/src/watch/mod.rs
  control-plane/agents/core/tests/controller/mod.rs
  control-plane/agents/core/tests/nexus/mod.rs
  control-plane/agents/core/tests/node/mod.rs
  control-plane/agents/core/tests/pool/mod.rs
  control-plane/agents/core/tests/test.rs
  control-plane/agents/core/tests/volume/mod.rs
  control-plane/agents/core/tests/watch/mod.rs
  control-plane/agents/ha-node/src/main.rs
  k8s/proxy/Cargo.toml
  k8s/supportability/Cargo.toml
  scripts/rust/test.sh
Due: rust-lint, rust-style

refactor: split up the core volume tests into modules
  control-plane/agents/core/tests/volume/capacity.rs
  control-plane/agents/core/tests/volume/garbage_collection.rs
  control-plane/agents/core/tests/volume/helpers.rs
  control-plane/agents/core/tests/volume/hotspare.rs
  control-plane/agents/core/tests/volume/mod.rs
Due: rust-lint, rust-style

refactor: rename unused node service and remove extern usage
  control-plane/csi-driver/build.rs
  control-plane/csi-driver/controller/src/server.rs
  control-plane/csi-driver/node/proto/node-service.proto
  control-plane/csi-driver/node/src/block_vol.rs
  control-plane/csi-driver/node/src/config.rs
  control-plane/csi-driver/node/src/dev/iscsi.rs
  control-plane/csi-driver/node/src/dev/iscsi/iscsiadm.rs
  control-plane/csi-driver/node/src/dev/nvmf.rs
  control-plane/csi-driver/node/src/dev/util.rs
  control-plane/csi-driver/node/src/filesystem_vol.rs
  control-plane/csi-driver/node/src/findmnt.rs
  control-plane/csi-driver/node/src/format.rs
  control-plane/csi-driver/node/src/identity.rs
  control-plane/csi-driver/node/src/main.rs
  control-plane/csi-driver/node/src/mount.rs
  control-plane/csi-driver/node/src/node.rs
  control-plane/csi-driver/node/src/nodeplugin_grpc.rs
  control-plane/csi-driver/node/src/nodeplugin_svc.rs
  control-plane/csi-driver/node/src/shutdown_event.rs
Due: rust-lint, rust-style

feat(node-service): add device path to find_volume
  control-plane/csi-driver/build.rs
  control-plane/csi-driver/node/proto/csi.proto
  control-plane/csi-driver/node/proto/node-service.proto
  control-plane/csi-driver/node/src/block_vol.rs
  control-plane/csi-driver/node/src/filesystem_vol.rs
  control-plane/csi-driver/node/src/identity.rs
  control-plane/csi-driver/node/src/main.rs
  control-plane/csi-driver/node/src/node.rs
  control-plane/csi-driver/node/src/nodeplugin_grpc.rs
  control-plane/csi-driver/node/src/nodeplugin_svc.rs
  control-plane/csi-driver/node/src/shutdown_event.rs
  control-plane/csi-driver/src/lib.rs
  control-plane/csi-driver/src/node.rs
Due: rust-lint, rust-style

feat(ha-agent): path replacement grpc api
  Cargo.lock
  common/src/transport_api/mod.rs
  control-plane/agents/Cargo.toml
  control-plane/agents/ha-node/src/detector.rs
  control-plane/agents/ha-node/src/main.rs
  control-plane/agents/ha-node/src/path_provider.rs
  control-plane/agents/ha-node/src/server.rs
  control-plane/grpc/proto/v1/ha/cluster_agent.proto
  control-plane/grpc/src/operations/ha_node/server.rs
  control-plane/grpc/src/operations/ha_node/traits.rs
  deployer/src/infra/hanodeagent.rs
  tests/bdd/common/deployer.py
  tests/bdd/common/ha.py
  tests/bdd/features/ha/node-agent/node_agent.feature
  tests/bdd/features/ha/node-agent/test_path_replacement.py
Due: rust-lint, rust-style, python-check

style: rename volid to volume_id
  control-plane/csi-driver/node/src/nodeplugin_svc.rs
Due: rust-lint, rust-style

feat: add capacity based metrics in csi node svc
  .pre-commit-config.yaml
  Cargo.lock
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/node/src/node.rs
  tests/bdd/features/csi/node/test_csi.py
Due: rust-lint, rust-style, python-check

feat(csi): decouple volume target from application
  control-plane/agents/core/tests/pool/mod.rs
  control-plane/agents/core/tests/volume/mod.rs
  control-plane/csi-driver/controller/src/client.rs
  control-plane/csi-driver/controller/src/config.rs
  control-plane/csi-driver/controller/src/controller.rs
  control-plane/csi-driver/controller/src/main.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/tests/v0_test.rs
  tests/io-engine/tests/rebuild.rs
  utils/pstor-usage/src/volumes.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

chore: update bdd tests for the openapi changes
  control-plane/agents/core/tests/volume/garbage_collection.rs
  control-plane/csi-driver/controller/src/controller.rs
  tests/bdd/features/ana/validate/test_validate_nexus_swap.py
  tests/bdd/features/csi/controller/controller.feature
  tests/bdd/features/csi/controller/test_controller.py
  tests/bdd/features/csi/node/test_csi.py
  tests/bdd/features/csi/node/test_node.py
  tests/bdd/features/csi/node/test_parameters.py
  tests/bdd/features/garbage-collection/replicas/test_feature.py
  tests/bdd/features/rebuild/test_rebuild.py
  tests/bdd/features/volume/delete/test_feature.py
  tests/bdd/features/volume/nexus-info/test_feature.py
  tests/bdd/features/volume/nexus/test_feature.py
  tests/bdd/features/volume/publish/test_feature.py
  tests/bdd/features/volume/replicas/test_feature.py
  tests/bdd/features/volume/topology/test_feature.py
  tests/bdd/features/volume/unpublish/test_feature.py
Due: rust-lint, rust-style, python-check

feat(replica): add support for v1 replica api calls
  common/src/types/v0/store/replica.rs
  common/src/types/v0/transport/pool.rs
  common/src/types/v0/transport/replica.rs
  control-plane/agents/common/src/msg_translation/v0.rs
  control-plane/agents/common/src/msg_translation/v1.rs
  control-plane/agents/core/src/controller/grpc.rs
  control-plane/agents/core/src/controller/reconciler/replica/mod.rs
  control-plane/agents/core/src/controller/scheduling/nexus.rs
  control-plane/agents/core/src/controller/scheduling/volume.rs
  control-plane/agents/core/src/controller/wrapper.rs
  control-plane/agents/core/src/nexus/specs.rs
  control-plane/agents/core/src/pool/specs.rs
  control-plane/agents/core/src/volume/registry.rs
  control-plane/agents/core/src/volume/specs.rs
  control-plane/agents/core/tests/nexus/mod.rs
  control-plane/agents/core/tests/pool/mod.rs
  control-plane/agents/core/tests/volume/hotspare.rs
  control-plane/grpc/proto/v1/replica/replica.proto
  control-plane/grpc/src/operations/replica/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/replicas.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/rest/tests/v0_test.rs
  k8s/supportability/src/collect/resources/replica.rs
  rpc/build.rs
  rpc/src/lib.rs
  tests/io-engine/tests/replicas.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

feat(nexus): add support for v1 nexus api calls
  control-plane/agents/common/src/msg_translation/v0.rs
  control-plane/agents/common/src/msg_translation/v1.rs
  control-plane/agents/core/src/controller/grpc.rs
  control-plane/agents/core/src/controller/wrapper.rs
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

fix(nix-shell): move the rust toolchain to a writeable location
  shell.nix
Due: none

feat: take into account thin-provisioning when scheduling replicas
  control-plane/agents/core/src/controller/scheduling/mod.rs
  control-plane/agents/core/src/controller/scheduling/volume.rs
Due: rust-lint, rust-style

feat: permanently fault enospc replicas
  Cargo.lock
  common/src/transport_api/v0.rs
  common/src/types/v0/transport/child.rs
  common/src/types/v0/transport/mod.rs
  control-plane/agents/common/src/msg_translation/v0.rs
  control-plane/agents/core/src/controller/reconciler/nexus/mod.rs
  control-plane/agents/core/src/controller/reconciler/volume/nexus.rs
  control-plane/agents/core/src/controller/wrapper.rs
  control-plane/agents/core/src/volume/specs.rs
  control-plane/agents/core/tests/volume/capacity.rs
  control-plane/agents/core/tests/volume/helpers.rs
  control-plane/csi-driver/node/src/nodeplugin_svc.rs
  deployer/src/infra/csi_node.rs
  deployer/src/infra/io_engine.rs
  deployer/src/lib.rs
  utils/deployer-cluster/Cargo.toml
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

refactor: use operation to upgrade replica owners
  common/src/types/v0/store/mod.rs
  common/src/types/v0/store/nexus.rs
  common/src/types/v0/store/pool.rs
  common/src/types/v0/store/replica.rs
  common/src/types/v0/store/volume.rs
  common/src/types/v0/transport/replica.rs
  control-plane/agents/core/src/controller/operations.rs
  control-plane/agents/core/src/controller/reconciler/nexus/garbage_collector.rs
  control-plane/agents/core/src/controller/reconciler/nexus/mod.rs
  control-plane/agents/core/src/controller/reconciler/pool/mod.rs
  control-plane/agents/core/src/controller/reconciler/replica/mod.rs
  control-plane/agents/core/src/controller/reconciler/volume/hot_spare.rs
  control-plane/agents/core/src/nexus/specs.rs
  control-plane/agents/core/src/pool/replica_operations.rs
  control-plane/agents/core/src/pool/service.rs
  control-plane/agents/core/src/pool/specs.rs
  control-plane/agents/core/src/volume/specs.rs
  deployer/src/lib.rs
Due: rust-lint, rust-style
