Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

refactor: simplify scheduling methods and a few fixes
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/thick.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
Due: rust-lint, rust-style

fix: use sort unstable (not a fix)
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
Due: rust-lint, rust-style

feat(rest-plugin): add snapshot delete
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/snapshot.rs
  control-plane/plugin/src/resources/volume.rs
Due: rust-lint, rust-style

chore: add functionality to generate diskpool crd
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

chore: add pre-commit trampoline
  shell.nix
Due: none

test: fix devlink to use by-id
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
Due: rust-lint, rust-style

fix: take cluster size from any possible option
  control-plane/agents/src/bin/core/volume/snapshot_operations.rs
  tests/bdd/common/operations.py
  tests/bdd/features/rebuild/test_log_based_rebuild.py
  tests/bdd/features/rebuild/test_rebuild.py
  tests/bdd/features/snapshot/restore/test_create.py
Due: rust-lint, rust-style, python-check

chore: use stdenv with no CC in the nix-shell
  shell.nix
Due: none

ci: update github runners to oci gh arc runners
  .github/workflows/bdd.yml
  .github/workflows/unit-int.yml
Due: none

feat(dsp): allow configuring blobstore cluster size
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  k8s/operators/src/pool/context.rs
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/crd/migration.rs
  k8s/operators/src/pool/diskpool/crd/v1beta3.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

fix: storageclass param not correctly set in create request
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

feat(k8s-plugin): add support for kubeconfig context switching
  k8s/proxy/src/lib.rs
  k8s/proxy/src/proxy.rs
Due: rust-lint, rust-style

ci: add nvme sysconf check and use full path nvme-bin
  .github/workflows/bdd.yml
  .github/workflows/lint.yml
  .github/workflows/unit-int.yml
  scripts/ci-report.sh
  scripts/python/test.sh
  scripts/rust/deployer-cleanup.sh
  scripts/rust/test.sh
Due: none

test: crd validation using cty
  .github/workflows/crds.yaml
  k8s/crd_test/__snapshot__/diskpools.crd-v1beta3.yaml
  k8s/crd_test/crds/README.md
  k8s/crd_test/diskpool_test.yaml
Due: none

feat(simulation): add simulator of cluster bundles
  .gitignore
  Cargo.lock
  Cargo.toml
  control-plane/agents/src/bin/core/controller/io_engine/client.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/snap_rebuild.rs
  control-plane/agents/src/bin/core/controller/reconciler/persistent_store.rs
  control-plane/agents/src/bin/core/controller/reconciler/poller.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/task_poller.rs
  control-plane/agents/src/bin/core/main.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/stor-port/src/types/v0/transport/child.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
  deployer/Cargo.toml
  deployer/bin/src/deployer.rs
  deployer/src/infra/mod.rs
  deployer/src/lib.rs
  shell.nix
  utils/bundle-sim/Cargo.toml
  utils/bundle-sim/src/bin/bundle-sim.rs
  utils/bundle-sim/src/bin/io-engine.rs
Due: rust-lint, rust-style

test(bdd): fix flaky snapshot test
  tests/bdd/features/snapshot/create/test_feature.py
Due: python-check

feat: add max_expansion disk_capacity, max_expandable_size in core and rest service
  control-plane/agents/src/bin/core/controller/io_engine/v0/translation.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/tests/deserializer.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/bin/core/tests/volume/snapshot_clone.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/src/versions/v0.rs
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
  k8s/operators/src/pool/context.rs
  rpc/src/lib.rs
  tests/io-engine/tests/pools.rs
  utils/bundle-sim/src/bin/io-engine.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

feat(pool_expansion): add pool expand api to rest and core
  control-plane/agents/src/bin/core/controller/io_engine/mod.rs
  control-plane/agents/src/bin/core/controller/io_engine/v0/pool.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/pool.rs
  control-plane/agents/src/bin/core/controller/io_engine/v1/translation.rs
  control-plane/agents/src/bin/core/controller/resources/operations.rs
  control-plane/agents/src/bin/core/node/wrapper.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/pool/pool.proto
  control-plane/grpc/src/operations/pool/client.rs
  control-plane/grpc/src/operations/pool/mod.rs
  control-plane/grpc/src/operations/pool/server.rs
  control-plane/grpc/src/operations/pool/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/pools.rs
  control-plane/rest/tests/v0_test.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/store/pool.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/pool.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

feat: rwx
  control-plane/agents/src/bin/core/nexus/specs.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/node/node.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

feat(pool_expansion): add pool expand command
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
  control-plane/plugin/src/resources/pool.rs
  control-plane/plugin/src/resources/utils.rs
Due: rust-lint, rust-style

feat(pool-expansion): adding crd changes and grow api call on annotation
  .gitignore
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/common/errors.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  k8s/operators/src/pool/context.rs
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/crd/migration.rs
  k8s/operators/src/pool/diskpool/crd/v1beta3.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

feat(pool_expansion): changes in error mapping
  control-plane/agents/src/bin/core/controller/io_engine/v1/pool.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/src/misc/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/types/mod.rs
  k8s/crd_test/__snapshot__/diskpools.crd-v1beta3.yaml
  k8s/operators/src/pool/context.rs
  k8s/operators/src/pool/diskpool/crd/v1beta3.rs
Due: rust-lint, rust-style

fix(pool): don't delete pool on abort
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/tests/pool/mod.rs
Due: rust-lint, rust-style

test: increase wait tmo after thaw
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/plugin/src/resources/pool.rs
  utils/deployer-cluster/src/lib.rs
Due: rust-lint, rust-style

refactor(ha/node): use kernel udev monitor
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/main.rs
  control-plane/agents/src/bin/ha/node/path_provider.rs
Due: rust-lint, rust-style

refactor(ha/node): use kernel events on deployer
  control-plane/agents/src/bin/ha/node/path_provider.rs
Due: rust-lint, rust-style

chore: staging ci for cp
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
  scripts/staging/log.sh
  scripts/staging/mirror-images.sh
  scripts/staging/shell.nix
  scripts/staging/validate.sh
Due: none

chore: staging ci for cp (#1)
  .github/workflows/image.yml
  .github/workflows/release.yml
  .github/workflows/staging.yml
  scripts/staging/log.sh
  scripts/staging/mirror-images.sh
  scripts/staging/shell.nix
  scripts/staging/validate.sh
Due: none

fix(ha/node): handle udev nvme change events
  control-plane/agents/src/bin/ha/node/path_provider.rs
Due: rust-lint, rust-style

fix(agent/cluster): parse fast requeue as duration
  control-plane/agents/src/bin/ha/cluster/switchover.rs
Due: rust-lint, rust-style

fix(ha/multipath): assume multipath as ON
  utils/utils-lib/src/lib.rs
Due: rust-lint, rust-style

ci: add submodule dependency update workflow
  .github/workflows/mod-update.yml
Due: none

refactor: format debug for stringified id's
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/watchdog.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/stor-port/src/types/v0/transport/misc.rs
Due: rust-lint, rust-style

refactor(pool/scheduling): use more precise snapshot errors
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/volume/snapshot_helpers.rs
  control-plane/agents/src/common/errors.rs
  tests/bdd/features/pool/cordon/test_feature.py
Due: rust-lint, rust-style, python-check

fix(csi): use correct precondition error
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
