Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/nix-community/nixpkgs-fmt
    rev: v1.2.0
    hooks:
    -   id: nixpkgs-fmt
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
    -   id: trailing-whitespace
        exclude: openapi/
-   repo: local
    hooks:
    -   id: openapi-check
        name: OpenApi Code Generator
        description: Ensures OpenApi bindings are up to date
        entry: ./scripts/rust/generate-openapi-bindings.sh
        args: ["--spec-changes"]
        pass_filenames: false
        language: system
    -   id: rust-lint
        name: Rust lint
        description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
        entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: rust-style
        name: Rust style
        description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
        entry: nix-shell --pure --run 'cargo fmt --all -- --check'
        exclude: openapi/
        pass_filenames: false
        types: [file, rust]
        language: system
    -   id: commit-lint
        name: Commit Lint
        description: Runs commitlint against the commit message.
        language: system
        entry: bash -c 'nix-shell --pure --run "cat $1 | commitlint"'
        args: [$1]
        stages: [commit-msg]
    -   id: python-check
        name: python lint
        entry: black
        description: runs black against the python code
        pass_filenames: true
        types: [file, python]
        language: system

feat: capacity limit for volumes
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

ci: use remote org for docker images
  Jenkinsfile
  default.nix
  nix/lib/sourcer.nix
  nix/lib/version.nix
  nix/overlay.nix
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/control-plane/default.nix
  nix/pkgs/images/default.nix
Due: none

feat(pstor-proxy): add pstor proxy create, add frontend registration backend
  Cargo.lock
  Cargo.toml
  control-plane/pstor-proxy/Cargo.toml
  control-plane/pstor-proxy/build.rs
  control-plane/pstor-proxy/proto/v1/frontend_node/frontend_node.proto
  control-plane/pstor-proxy/proto/v1/frontend_node/registration.proto
  control-plane/pstor-proxy/proto/v1/misc/common.proto
  control-plane/pstor-proxy/src/bin/pstor-proxy/error.rs
  control-plane/pstor-proxy/src/bin/pstor-proxy/frontend_node/mod.rs
  control-plane/pstor-proxy/src/bin/pstor-proxy/frontend_node/server.rs
  control-plane/pstor-proxy/src/bin/pstor-proxy/frontend_node/service.rs
  control-plane/pstor-proxy/src/bin/pstor-proxy/main.rs
  control-plane/pstor-proxy/src/bin/pstor-proxy/registry.rs
  control-plane/pstor-proxy/src/bin/pstor-proxy/resource_map.rs
  control-plane/pstor-proxy/src/lib.rs
  control-plane/pstor-proxy/src/types/frontend_node.rs
  control-plane/pstor-proxy/src/types/misc.rs
  control-plane/pstor-proxy/src/types/mod.rs
  utils/pstor/src/common.rs
Due: rust-lint, rust-style

feat(fs consistent snapshot): use ioctl for issuing FIFREEZE and FITHAW
  control-plane/csi-driver/src/bin/node/dev.rs
  control-plane/csi-driver/src/bin/node/dev/iscsi.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/error.rs
  control-plane/csi-driver/src/bin/node/fsfreeze/bin/ioctl.rs
  control-plane/csi-driver/src/bin/node/fsfreeze/bin/mod.rs
  control-plane/csi-driver/src/bin/node/fsfreeze/mod.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_grpc.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_svc.rs
  utils/utils-lib/src/tracing_telemetry.rs
Due: rust-lint, rust-style

feat(stats): add stats to v1 rpc module
  rpc/build.rs
  rpc/src/lib.rs
Due: rust-lint, rust-style

feat(volume/resize): implement resource resize for volume
  control-plane/agents/src/bin/core/pool/replica_operations.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/stor-port/src/types/v0/store/replica.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  control-plane/stor-port/src/types/v0/transport/replica.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

feat(volume/resize): do sanity checks prior to replica resize
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/simple.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/thick.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/agents/src/bin/core/volume/scheduling.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/stor-port/src/types/v0/store/replica.rs
  control-plane/stor-port/src/types/v0/store/volume.rs
Due: rust-lint, rust-style

feat(volume/resize): add Resize operation to VolumeSpec schema
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: none

test(volume/resize): add basic integration tests for volume resize
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/tests/volume/resize.rs
Due: rust-lint, rust-style

test: upgrade asyncssh to address dependabot alert
  tests/bdd/requirements.txt
Due: none

ci: try to further sanitize commits before merging
  .github/workflows/pr-commitlint.yml
  commitlint.config.js
Due: none

build: upgrade openssl and unsafe-yaml crates
  Cargo.lock
Due: none

feat: capacity limit for volumes
  control-plane/agents/src/bin/core/tests/volume/capacity_limit.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/misc/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/src/versions/v0.rs
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/types/mod.rs
  control-plane/stor-port/src/types/v0/transport/volume.rs
Due: rust-lint, rust-style

feat(topology): update the crd-version in lib
  k8s/operators/src/lib.rs
Due: rust-lint, rust-style

feat(topology): add affinity/spread in csi and core code
  Cargo.lock
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

feat(topology): modularize the pool operator
  k8s/operators/src/lib.rs
  k8s/operators/src/pool/context.rs
  k8s/operators/src/pool/diskpool/client.rs
  k8s/operators/src/pool/diskpool/crd/migration.rs
  k8s/operators/src/pool/diskpool/crd/mod.rs
  k8s/operators/src/pool/diskpool/crd/v1alpha1.rs
  k8s/operators/src/pool/diskpool/crd/v1beta1.rs
  k8s/operators/src/pool/diskpool/crd/v1beta2.rs
  k8s/operators/src/pool/diskpool/mod.rs
  k8s/operators/src/pool/main.rs
Due: rust-lint, rust-style

feat(topology): add python-tests & address comment
  control-plane/agents/src/bin/core/controller/scheduling/volume_policy/pool.rs
  control-plane/agents/src/bin/core/volume/operations_helper.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/context.rs
  k8s/operators/src/lib.rs
  tests/bdd/features/volume/topology/pool-affinity-spread.feature
  tests/bdd/features/volume/topology/test_pool_affinity_spread.py
Due: rust-lint, rust-style, python-check

build(utils/version): add correct git HEAD paths
  scripts/git/branch_ancestor.sh
  utils/utils-lib/build.rs
Due: rust-lint, rust-style

ci: update review-comment rule
  commitlint.config.js
Due: none

chore(dependabot): update shlex crate dependency
  Cargo.lock
Due: none

refactor(rest-plugin): expose the cli args
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/resources/error.rs
  control-plane/plugin/src/resources/mod.rs
Due: rust-lint, rust-style

refactor(rest-plugin): use execution handler trait
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/lib.rs
  control-plane/plugin/src/operations.rs
  control-plane/plugin/src/resources/mod.rs
Due: rust-lint, rust-style

refactor(rest-plugin): make executor more generic
  control-plane/plugin/src/lib.rs
Due: rust-lint, rust-style

feat(frontend_node): add registration and operations grpc layer
  control-plane/grpc/build.rs
  control-plane/grpc/proto/v1/frontend_node/frontend_node.proto
  control-plane/grpc/proto/v1/frontend_node/registration.proto
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/src/lib.rs
  control-plane/grpc/src/misc/traits.rs
  control-plane/grpc/src/operations/frontend_node/client.rs
  control-plane/grpc/src/operations/frontend_node/mod.rs
  control-plane/grpc/src/operations/frontend_node/server.rs
  control-plane/grpc/src/operations/frontend_node/traits.rs
  control-plane/grpc/src/operations/mod.rs
Due: rust-lint, rust-style

feat(frontend_node): add cargo test for the frontend node operations
  control-plane/agents/src/bin/core/tests/frontend_node/mod.rs
  control-plane/agents/src/bin/core/tests/test.rs
  control-plane/grpc/src/client.rs
Due: rust-lint, rust-style

feat(frontend_node): add types and definitions
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/store/frontend_node.rs
  control-plane/stor-port/src/types/v0/store/mod.rs
  control-plane/stor-port/src/types/v0/transport/frontend_node.rs
  control-plane/stor-port/src/types/v0/transport/misc.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  utils/pstor/src/common.rs
Due: rust-lint, rust-style

feat(frontend_node): add registry and pstor persistence
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/resources/frontend_node/mod.rs
  control-plane/agents/src/bin/core/controller/resources/mod.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/frontend_node/mod.rs
  control-plane/agents/src/bin/core/frontend_node/registry.rs
  control-plane/agents/src/bin/core/frontend_node/service.rs
  control-plane/agents/src/bin/core/frontend_node/spec.rs
  control-plane/agents/src/bin/core/main.rs
Due: rust-lint, rust-style

chore: address first cut reviews
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/frontend_node/mod.rs
  control-plane/agents/src/bin/core/frontend_node/registry.rs
  control-plane/agents/src/bin/core/frontend_node/service.rs
  control-plane/agents/src/bin/core/frontend_node/spec.rs
  control-plane/agents/src/bin/core/frontend_node/specs.rs
  control-plane/grpc/proto/v1/frontend_node/registration.proto
Due: rust-lint, rust-style

feat(frontend_node): add rest api endpoints
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/frontend_nodes.rs
  control-plane/rest/service/src/v0/mod.rs
  control-plane/stor-port/src/types/v0/store/frontend_node.rs
  control-plane/stor-port/src/types/v0/transport/frontend_node.rs
  tests/bdd/features/volume/create/test_feature.py
Due: rust-lint, rust-style, python-check

feat(frontend_node): register csi-nodes with frontend
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/controller/identity.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/registration.rs
  control-plane/csi-driver/src/client.rs
  control-plane/csi-driver/src/lib.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
Due: rust-lint, rust-style

feat(csi-controller/orphaned-vols): gc orphaned volumes on a timer
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/controller/pvwatcher.rs
Due: rust-lint, rust-style

chore: correct typo in the plaftform code
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/ha/node/path_provider.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  utils/platform/src/lib.rs
Due: rust-lint, rust-style

refactor(csi-controller/gc): reduce excessive unwrap and nesting
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/controller/pvwatcher.rs
  control-plane/csi-driver/src/bin/controller/server.rs
Due: rust-lint, rust-style

fix(csi-controller/gc): list volumes with pagination
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/controller/pvwatcher.rs
  control-plane/csi-driver/src/bin/controller/server.rs
Due: rust-lint, rust-style

chore: rename IoEngineApiClient to RestApiClient
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/controller/identity.rs
  control-plane/csi-driver/src/bin/controller/main.rs
  control-plane/csi-driver/src/bin/controller/pvwatcher.rs
  control-plane/csi-driver/src/bin/controller/server.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  control-plane/csi-driver/src/bin/node/registration.rs
  control-plane/csi-driver/src/client.rs
Due: rust-lint, rust-style

feat(app node): add types and definitions
  control-plane/stor-port/src/transport_api/mod.rs
  control-plane/stor-port/src/transport_api/v0.rs
  control-plane/stor-port/src/types/v0/store/app_node.rs
  control-plane/stor-port/src/types/v0/store/mod.rs
  control-plane/stor-port/src/types/v0/transport/app_node.rs
  control-plane/stor-port/src/types/v0/transport/misc.rs
  control-plane/stor-port/src/types/v0/transport/mod.rs
  utils/pstor/src/common.rs
Due: rust-lint, rust-style

feat(app node): add registration and operations grpc layer
  control-plane/grpc/build.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/proto/v1/node/app_node.proto
  control-plane/grpc/proto/v1/node/target_node.proto
  control-plane/grpc/proto/v1/registration/app_node_registration.proto
  control-plane/grpc/src/client.rs
  control-plane/grpc/src/lib.rs
  control-plane/grpc/src/misc/traits.rs
  control-plane/grpc/src/operations/app_node/client.rs
  control-plane/grpc/src/operations/app_node/mod.rs
  control-plane/grpc/src/operations/app_node/server.rs
  control-plane/grpc/src/operations/app_node/traits.rs
  control-plane/grpc/src/operations/mod.rs
Due: rust-lint, rust-style
