Repository openebs/mayastor-control-plane: changes, and which pre-commit hooks are due for each by the changed paths.
All: rust-lint, rust-style, python-check

rust-lint:
  name: Rust lint
  description: Run cargo clippy on files included in the commit. clippy should be installed before-hand.
  entry: nix-shell --pure --run 'cargo clippy --all --all-targets -- -D warnings'
  pass_filenames: false
  language: system

rust-style:
  name: Rust style
  description: Run cargo fmt on files included in the commit. rustfmt should be installed before-hand.
  entry: nix-shell --pure --run 'cargo fmt --all -- --check'
  pass_filenames: false
  language: system

python-check:
  name: python lint
  entry: black
  description: runs black against the python code
  pass_filenames: true
  language: system

chore(yaml): prepare release v1.0.5
  deploy/core-agents-deployment.yaml
  deploy/csi-deployment.yaml
  deploy/msp-deployment.yaml
  deploy/rest-deployment.yaml
  scripts/check-deploy-yamls.sh
Due: none

feat(upgrade): add constant and get functionality for upgrade
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/resources/mod.rs
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

fix: node nqn field not shown in rest api and grpc
  control-plane/agents/src/bin/core/tests/node/mod.rs
  control-plane/grpc/proto/v1/node/node.proto
  control-plane/grpc/src/lib.rs
  control-plane/grpc/src/operations/node/traits.rs
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/tests/v0_test.rs
Due: rust-lint, rust-style

fix(republish): filter out nodes with existing volume targets
  common/src/transport_api/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/nexus/scheduling.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/agents/src/bin/core/volume/specs.rs
  scripts/rust/env-setup.sh
  shell.nix
Due: rust-lint, rust-style

fix(csi-controller): don't flag not found errors during create volume
  control-plane/agents/src/bin/core/tests/volume/garbage_collection.rs
  control-plane/agents/src/bin/core/tests/volume/helpers.rs
  control-plane/agents/src/bin/core/tests/volume/mod.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/volume/client.rs
  control-plane/grpc/src/operations/volume/server.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/plugin/src/resources/tests.rs
  control-plane/plugin/src/resources/volume.rs
  control-plane/rest/openapi-specs/v0_api_spec.yaml
  control-plane/rest/service/src/v0/volumes.rs
  control-plane/rest/tests/v0_test.rs
  scripts/rust/generate-openapi-bindings.sh
  tests/io-engine/tests/rebuild.rs
Due: rust-lint, rust-style

feat(upgrade): revert changes for get upgrade-status
  control-plane/plugin/src/bin/rest-plugin/main.rs
  control-plane/plugin/src/resources/mod.rs
Due: rust-lint, rust-style

feat: implement node drain reconciler
  common/src/types/v0/store/node.rs
  control-plane/agents/src/bin/core/controller/reconciler/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/node/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/core/controller/reconciler/poller.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/volume/registry.rs
Due: rust-lint, rust-style

chore: don't use path env during build
  deployer/src/infra/csi-driver/node.rs
Due: rust-lint, rust-style

refactor(csi-controller): reduce code duplication for params
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

feat(csi-node): parse and use keep-alive-tmo when connecting to a target
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/node/config.rs
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/context.rs
Due: rust-lint, rust-style

test: fix failing test due to race
  control-plane/agents/src/bin/core/volume/service.rs
  tests/bdd/features/volume/nexus/test_feature.py
Due: rust-lint, rust-style, python-check

refactor: nvme connect idempotency
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
Due: rust-lint, rust-style

chore: add server side locking to prevent same reconnection requests with volume serializer module
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_nvme.rs
  control-plane/csi-driver/src/bin/node/volume_serializer.rs
Due: rust-lint, rust-style

fix: nvme reconnection issue from ha node agent
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/agents/src/common/errors.rs
Due: rust-lint, rust-style

fix: nexus scheduling on cordoned node
  control-plane/csi-driver/src/bin/controller/controller.rs
Due: rust-lint, rust-style

refactor(csi-node): concurrency limiter for volume operations
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/nodeplugin_nvme.rs
  control-plane/csi-driver/src/bin/node/volume_serializer.rs
  control-plane/csi-driver/src/lib.rs
  control-plane/csi-driver/src/limiter.rs
Due: rust-lint, rust-style

fix(csi-driver): ensure only 1 in-flight request per volume
  control-plane/csi-driver/src/bin/controller/controller.rs
  control-plane/csi-driver/src/bin/node/node.rs
Due: rust-lint, rust-style

fix(concurrency): enable openapi client concurrency
  control-plane/csi-driver/src/bin/controller/client.rs
  control-plane/plugin/src/rest_wrapper.rs
  control-plane/rest/src/lib.rs
  k8s/operators/src/diskpool/main.rs
  nix/pkgs/openapi-generator/source.json
  openapi/Cargo.toml
  utils/deployer-cluster/src/rest_client.rs
  utils/pstor-usage/src/simulation.rs
Due: rust-lint, rust-style

chore(nix-shell): use realpath for rust toolchain
  scripts/rust/env-setup.sh
Due: none

fix: add error handling for unpublish volume
  control-plane/csi-driver/src/bin/node/filesystem_vol.rs
Due: rust-lint, rust-style

fix: ignore metrics for block volume
  control-plane/csi-driver/src/bin/node/node.rs
Due: rust-lint, rust-style

chore: allow limited nix-shell for aarch64-darwin
  Cargo.lock
  control-plane/agents/Cargo.toml
  control-plane/agents/src/bin/ha/node/path_provider.rs
  control-plane/csi-driver/Cargo.toml
  control-plane/csi-driver/src/bin/node/.main_.rs.swp
  control-plane/csi-driver/src/bin/node/main.rs
  control-plane/csi-driver/src/bin/node/main_.rs
  shell.nix
Due: rust-lint, rust-style

chore(csi/node): log connects with skip
  control-plane/csi-driver/src/bin/node/.main_.rs.swp
  control-plane/csi-driver/src/bin/node/dev/nvmf.rs
  shell.nix
Due: rust-lint, rust-style

fix(ha_nexus): cleanup older unregistered shutdown targets
  common/src/transport_api/v0.rs
  common/src/types/v0/transport/cluster_agent.rs
  common/src/types/v0/transport/mod.rs
  common/src/types/v0/transport/volume.rs
  control-plane/agents/src/bin/core/tests/volume/switchover.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/ha/cluster/switchover.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/grpc/proto/v1/ha/node_agent.proto
  control-plane/grpc/proto/v1/volume/volume.proto
  control-plane/grpc/src/operations/ha_node/client.rs
  control-plane/grpc/src/operations/ha_node/server.rs
  control-plane/grpc/src/operations/ha_node/traits.rs
  control-plane/grpc/src/operations/volume/traits.rs
  control-plane/rest/service/src/v0/volumes.rs
Due: rust-lint, rust-style

fix(release-ci): override registry properly
  scripts/release.sh
Due: none

fix(nix-build): speedup incremental builds
  nix/pkgs/control-plane/cargo-project.nix
  nix/pkgs/control-plane/default.nix
Due: none

fix(agent-node/subsystem): handle multiple controller paths
  control-plane/agents/src/bin/ha/node/detector.rs
  control-plane/agents/src/bin/ha/node/path_provider.rs
  control-plane/agents/src/bin/ha/node/server.rs
Due: rust-lint, rust-style

fix(agent-node): verify nqn when disconnecting
  common/src/transport_api/mod.rs
  control-plane/agents/src/bin/ha/node/server.rs
  control-plane/agents/src/common/errors.rs
  control-plane/grpc/proto/v1/misc/common.proto
  control-plane/grpc/src/misc/traits.rs
Due: rust-lint, rust-style

chore(ci): set target test branch automatically
  deployer/src/infra/fio_spdk.rs
  deployer/src/lib.rs
  nix/pkgs/control-plane/cargo-project.nix
  scripts/git/branch_ancestor.sh
  scripts/rust/branch_ancestor.sh
  utils/utils-lib/build.rs
  utils/utils-lib/src/constants.rs
  utils/utils-lib/src/lib.rs
  utils/utils-lib/src/test_constants.rs
Due: rust-lint, rust-style

fix(ci): work around jenkins git issue
  scripts/git/branch_ancestor.sh
  scripts/rust/branch_ancestor.sh
Due: none

fix: docker tags cannot have slashes
  utils/utils-lib/src/constants.rs
Due: rust-lint, rust-style

ci(gha): don't build plugin binaries
  .github/workflows/release_artifacts.yml
Due: none

ci(jenkins): bump timeout to 2 hours
  Jenkinsfile
Due: none

fix(ci): get first branch only
  scripts/rust/branch_ancestor.sh
Due: none

fix(pstor/etcd): include queuing as part of the timeout
  control-plane/agents/src/bin/core/controller/registry.rs
Due: rust-lint, rust-style

fix(rebuild): on v1 the nr of rebuilds per nexus is fixed
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/states.rs
  control-plane/agents/src/bin/core/controller/wrapper.rs
  control-plane/agents/src/bin/core/registry/service.rs
  tests/io-engine/tests/rebuild.rs
Due: rust-lint, rust-style

refactor(agents/core): renaming changes to match convention
  control-plane/agents/src/bin/core/controller/reconciler/nexus/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/reconciler/nexus/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/node/nexus.rs
  control-plane/agents/src/bin/core/controller/reconciler/pool/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/replica/mod.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/garbage_collector.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/hot_spare.rs
  control-plane/agents/src/bin/core/controller/reconciler/volume/nexus.rs
  control-plane/agents/src/bin/core/controller/registry.rs
  control-plane/agents/src/bin/core/controller/resources/operations_helper.rs
  control-plane/agents/src/bin/core/controller/scheduling/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/nexus.rs
  control-plane/agents/src/bin/core/controller/scheduling/resources/mod.rs
  control-plane/agents/src/bin/core/controller/scheduling/volume.rs
  control-plane/agents/src/bin/core/controller/states.rs
  control-plane/agents/src/bin/core/nexus/operations.rs
  control-plane/agents/src/bin/core/nexus/registry.rs
  control-plane/agents/src/bin/core/nexus/scheduling.rs
  control-plane/agents/src/bin/core/nexus/service.rs
  control-plane/agents/src/bin/core/nexus/specs.rs
  control-plane/agents/src/bin/core/node/registry.rs
  control-plane/agents/src/bin/core/node/service.rs
  control-plane/agents/src/bin/core/node/specs.rs
  control-plane/agents/src/bin/core/pool/pool_operations.rs
  control-plane/agents/src/bin/core/pool/registry.rs
  control-plane/agents/src/bin/core/pool/replica_operations.rs
  control-plane/agents/src/bin/core/pool/service.rs
  control-plane/agents/src/bin/core/pool/specs.rs
  control-plane/agents/src/bin/core/registry/service.rs
  control-plane/agents/src/bin/core/volume/operations.rs
  control-plane/agents/src/bin/core/volume/registry.rs
  control-plane/agents/src/bin/core/volume/scheduling.rs
  control-plane/agents/src/bin/core/volume/service.rs
  control-plane/agents/src/bin/core/volume/specs.rs
Due: rust-lint, rust-style

Path conditions:
  rust-lint: any of: \.rs$
  rust-style: any of: \.rs$, but not: openapi/
  python-check: any of: \.py$
